<template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">用户账户列表</span>
        </div>
        <div class="table-top-bar clearfix">
           
 <div class="query-inline-box ">
        <div class="query-inline-group">
            <label>单号: </label>
             <el-input  class="w128-sm"  placeholder="" v-model="params.drawNum" @keyup.enter.native="query"></el-input>
        </div>
        <div class="query-inline-group">
                <label>支付用户: </label> 
                <el-input  class="w128-sm" placeholder="" v-model="params.payUserName" @keyup.enter.native="query"></el-input>
        </div>
               
            <div class="query-inline-group">
                    <label>提现用户: </label> 
                 <el-input  class="w128-sm" placeholder="" v-model="params.drawUserName" @keyup.enter.native="query"></el-input>
            </div>
                <div class="query-inline-group">
                    <label>最后申请时间:</label>
                    <el-date-picker class="w128-sm" v-model="params.payTimeBegin" @keyup.enter.native="query" @change="formatTime"></el-date-picker>   
                    <span class="time-slot">-</span>
                     <el-date-picker  class="w128-sm" @keyup.enter.native="query" v-model="params.payTimeEnd" @change="formatTime2"></el-date-picker>
                </div>
                <div class="query-inline-group">
                     <el-button @click="query" >查询</el-button>   
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="orderList" @selection-change="checkIds">
                     <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="68"></el-table-column>
                    <el-table-column label="单号" prop="drawNum" align="center"></el-table-column>
                    <el-table-column label="支付账户" prop="payAccount" align="center"></el-table-column>
                    <el-table-column label="提现账户" prop="drawAccount" align="center"></el-table-column>
                    <el-table-column label="支付时间" prop="payTime" align="center" :width="220"></el-table-column>
                     <el-table-column label="微信转账流水号" prop="weixinNum" align="center"></el-table-column>
                    <el-table-column label="阿里支付流水号" prop="alipayNum" align="center"></el-table-column>                 
                    <el-table-column label="操作选项"  align="center" width='100'>
                         <template scope="scope">
                           <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deletetAccountPayList(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>

        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                 <el-button :disabled="disabled" @click="deletetAccountPayList(ids)">批量删除</el-button>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" @keyup.enter.native="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination 
                layout="total,prev, pager, next" 
                :total="totalCount" 
                :page-size="params.pageSize"
                 :current-page.sync='currentPage'
                  @current-change='getPage' 
                  @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/operation'
export default {
    data() {
        return {
            checkAll: false,
            isIndeterminate: true,
            loading: true,
            disabled: true,
            orderList: [],
            ids: '',//批量删除列表
            sort: [{
                value: -1,
                label: '所有'
            }, {
                value: 0,
                label: '申请中'
            }, {
                value: 3,
                label: '提现成功'
            }],//排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                drawNum:'',
                payUserName:'',
                drawUserName:'',
                queryUsername: '',//
                 payTimeBegin: '',//
                    payTimeEnd: ''//
                
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
        }
    },
    methods: {
        getOrderList() {//获取用户信息列表
            let params = this.params;
            fetch.getAccountPayList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.orderList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        deletetAccountPayList(id){
                this.ids = id;
            this.$confirm('您确定要删除转账信息吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deletetAccountPayList({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getOrderList();
                            } else {
                                this.$message.error('删除失败');
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        },
       formatTime(val){
          this.params.payTimeBegin=val  
       },
       formatTime2(val){
            this.params.payTimeEnd=val 
       },
       query(){
           this.loading = true;
            this.getOrderList();
       },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getOrderList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getOrderList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getOrderList();
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }

        this.getOrderList();
    }
}
</script>

<style scoped>
 .pull-right{
    text-align: right; 
 }
    .pull-right label{
        display: inline-block;
        margin-top:7px;
    padding-right: 5px; 
    }
</style>
