<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>
       
        <div class="table-body table-responsive" v-loading.body="loading">
    
            <el-form :model="systemInfo" :rules="rules" ref="topicInfo">
                <el-form-item label="是否开启单点认证" class="form-group" :required="true">
                    <el-col :span="6">
                        <el-switch on-text="开启" off-text="关闭" v-model="systemInfo.attr_ssoEnable"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""> </el-col>
                </el-form-item>
                <div v-show="systemInfo.attr_ssoEnable">
                    <el-form-item label="认证地址" class="form-group">
                        <el-col :span="20">
                            <el-row :gutter="15" class="mb10" v-for="(item,index) in systemInfo.attr" :key="item.key">
                                <el-col :span="10">
                                    <el-input v-model="item.value"></el-input>
                                </el-col>
                                <el-col :span="1" class="required">
                                    <el-button type="danger" @click="deledeItems(index)">删除</el-button>
                                </el-col>
                            </el-row>
                            <el-col :span="1" class="required">
                                <el-button type="warning" @click="addSso">添加</el-button>
                            </el-col>
                        </el-col>
                    </el-form-item>
                </div>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateSsoInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
    import * as fetch from '../../../api/systemConfig'
    import * as users from '../../../api/usermanage'
    export default {
        data() {
            return {
                loading: true,
                systemInfo: {},
                groupList: [],
                rules: {
                    exchangetax: [{
                        required: true,
                        type: 'number',
                        message: '请输入一个数字',
                        trigger: 'blur'
                    }],
                    miniBalance: [{
                        required: true,
                        type: 'number',
                        message: '此项必填',
                        trigger: 'blur'
                    }]
                },
                params:''
            }
        },
        methods: {
    
            getSsoInfo() { //获取系统信息
                fetch.getSsoInfo()
                    .then(res => {
                        if (res.code == '100') {
                            this.loading = false;
                            this.systemInfo = res.body;
                        }
                    })
                    .catch(res => {
                        this.loading = false;
                        this.$message.error('网络异常');
                    })
            },
            updateSsoInfo(formName) { //修改系统信息
    
                this.$refs[formName].validate((valid) => {
                    document.querySelector("#main").scrollTop = 0;
                    if (valid) {
                        this.loading = true;
                        let params = this.params;
                        fetch.updateSsoInfo(params)
                            .then(res => {
                                this.loading = false;
                                if (res.code == '100') {
    
                                    this.$message.success('修改成功');
                                }
                            })
                            .catch(res => {
                                this.loading = false;
                                this.$message.error('修改异常');
                            })
                    } else {
                        document.querySelector("#main").scrollTop = 0;
                        return false;
                    }
                });
            },
            deledeItems(index) {
                this.systemInfo.attr.splice(index, 1);
            },
            addSso() {
             let index= this.systemInfo.attr.length+1;
                let obj = {
                    value: '',
                    key: 'attr_sso_' + index
                }
                this.systemInfo.attr.push(obj);
            }
        },
    
        created: function() {
            this.getSsoInfo();
        },
        watch: {
            '$route': function(to, from) {
                this.loading = true;
                this.getSsoInfo()
            },
            systemInfo:{
                handler(newVal,oldVal){
                  let arr =newVal.attr;
                  this.params={
                      attr_ssoEnable:newVal.attr_ssoEnable
                  }
                  for(let i in arr){
                     this.params[arr[i].key]=arr[i].value
                 }
                },
                deep:true

            }
        }
    }
</script>

<style scoped>
    .mb10 {
        margin-bottom: 10px;
    }
</style>
