<template>
    <div class="forum-module" >
        <div class="forum-header">
            
            <span class="forum-name">{{$route.name}}</span>
            <div class="pull-right">
                <!-- <a href="javascript:void(0)" class="add-Class" @click="addTopictype($route.query.id)" v-if="$route.query.type=='add'">添加</a>  -->
            </div>
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="topicTypeInfo" ref="topicInfo">
                <el-form-item label="上级分类" class="form-group">
                    <el-col :span="6">
                        <el-select placeholder="分类" v-model="topicTypeInfo.parentId" @change="setChange">
                             <el-option label="根目录" value=""> 
                            </el-option>
                            <el-option v-for="(item,index) in topicTypeTree" :key="item.id" 
                              :label="item.name"
                                 :value="item.id">
                                  <span :style="{paddingLeft:item.count*10+'px'}" v-if="item.count>1">>{{item.name}}</span>
                                 <span :style="{paddingLeft:item.count*10+'px'}" v-else>{{item.name}}</span>
                            </el-option>
                        </el-select>
                        <label></label>
                    </el-col>
                </el-form-item>
                <el-form-item label="名称" class="form-group" prop="name">
                    <el-col :span="6">
                        <el-input v-model="topicTypeInfo.name"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>

                <el-form-item label="路径" class="form-group" prop="path"> 
                    <el-col :span="6">
                        <el-input v-model="topicTypeInfo.path"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="排序" class="form-group" prop="priority">
                    <el-col :span="6">
                        <el-input v-model.number="topicTypeInfo.priority"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>

                <el-form-item label="是否显示" class="form-group">
                    <el-col :span="1">
                        <el-switch on-text="是" off-text="否" v-model="topicTypeInfo.display"></el-switch>
                    </el-col>
                </el-form-item>

                <el-form-item label="图标预览" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="topicTypeInfo.typeLog"></el-input>
                        <div :class="state ? 'pic-box' : 'pic-box-no'">
                          
 <img :src="$store.state.baseUrl+imgPath" alt=""  @click="showBig"  v-if="!state" >

                        </div>
                    </el-col>
                    <el-col :span="6">
                        <el-upload class="upload-demo" :action="$store.state.upLoadUrl" name="uploadFile" :data="upobj" 
                        :before-upload="beforeAvatarUpload" 
                        :on-success="getImgPath"
                          :show-file-list="fileState">
                            <el-button  type="primary" style="margin-left:10px">点击上传</el-button>
                        </el-upload>
                         <el-dialog title="按下esc退出全屏" v-model="dialogVisible" size="full" class="pic-dialog" >
                            <img  :src="$store.state.baseUrl+imgPath" alt="" class="big-img">
                     </el-dialog>
                    </el-col>
                </el-form-item>

                <el-form-item label="描述" class="form-group">
                    <el-col :span="6">
                        <el-input type="textarea" v-model="topicTypeInfo.description"></el-input>
                    </el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='edit'" @click="updateTopicTypeInfo('topicInfo')"/>
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='add'"  @click="addTopicTypeInfo('topicInfo')"/>
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/bbs'
export default {
    
    data() {
         var validatePath = (rule, value, callback) => {
              if (value === '') {
                callback(new Error('请输入路径'));
            } else {
                 let reg=/[\W]/g;  
                  if(reg.test(value)){
                     callback(new Error('路径只能输入数字，字母'));
                  }else{
                      callback()
                  }
               
            }
        };
        return {
            fileState:true,
            dialogVisible:false,
            loading: true,
            count:0,
            state:false,
            imgPath: '',//图片路径
            rootId:0,
            upobj: {//上传参数
                type: 'image',
                sessionKey: localStorage.getItem('sessionKey'),
                appId: this.$store.state.appId
            },
            topicTypeInfo: {},
            topicTypeTree: [],
            rules:{
                  name: [{ required: true, message: '请填写一个主题分类名', trigger: 'blur' }],
                  path: [{ validator: validatePath, trigger: 'blur' }],
                  priority: [{ required: true,type: 'number', message: '请填写一个数字排序', trigger: 'blur' }]
            },
        }
    },
    methods: {
         showBig(){
           this.dialogVisible=true;      
        },
        getTopicTypeTree() {//获取分类树
            fetch.getTopicTypeTree()
                .then(res => {
                    if (res.code == '100') {
                        this.topicTypeTree=[];
                        this.tree(res.body);
                         this.loading = false;
                    } else {
                        this.$message.error(res.message);
                    }
                })
        },
        tree(obj){//递归处理树
           for(let i=0;i<obj.length;i++){
               if(typeof obj[i].child=='object'){
                      this.topicTypeTree.push(
                       {  count:obj[i].count,
                           name:obj[i].name,
                           id:obj[i].id
                       }
                   )
                   this.tree(obj[i].child)
               }else{
                  this.topicTypeTree.push(
                       {   count:obj[i].count,
                           name:obj[i].name,
                           id:obj[i].id
                       }
                   ) 
               }
           }   
        },
        getTopicTypeInfo(id) {//获取分类主题信息
            fetch.getTopicTypeInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;
                         if(this.$route.query.type=='add'){
                            res.body.parentId=this.$route.query.rootId;
                         }
                        this.topicTypeInfo = res.body;
                        if(this.topicTypeInfo.typeLog==''){
                            this.state=true;
                        }else{
                            this.imgPath=res.body.typeLog;
                             this.state=false;
                        }
                        
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        setChange(val){
            this.topicTypeInfo.root=val;
        },
        updateTopicTypeInfo(formName){//修改主题
         this.$refs[formName].validate((valid) => {
                if (valid) {
                   let params=this.topicTypeInfo;
                         fetch.updateTopicTypeInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/topictypelist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });     
        },
        addTopictype(rootId) {//添加内的添加
            this.$router.push({
                path: '/topictypeadd',
                query: {
                    type: 'add',
                    id:0,
                    rootId:rootId
                }
            });
        },
         addTopicTypeInfo(formName){//添加主题
         this.$refs[formName].validate((valid) => {
                if (valid) {
                   let params=this.topicTypeInfo;
                         fetch.addTopicTypeInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/topictypelist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });     
        },
        back(){
            this.$router.push({
                    path: '/topictypelist',
                    query:{
                        id:this.topicTypeInfo.root,
                        noceStr:Math.round(Math.random()*10)
                    }
                })
        },
        beforeAvatarUpload(file) {//上传验证
         this.fileState=true;
            const isJPG = file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/gif';
            const isLt2M = file.size / 1024 / 1024 < 2;
            if (!isJPG) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
            }
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过2MB!');
            }
            return isJPG && isLt2M;
        },
        getImgPath(res, file, fileList) {//回填服务器图片路径
            this.imgPath = res.body.url;
            this.fileState=false;
            this.state = false;
            this.topicTypeInfo.typeLog = res.body.url;
        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
        let rootId=this.$route.query.rootId;
          this.rootId=rootId;
        this.getTopicTypeTree();
        if (type == 'add') {
            //console.log('rootid='+rootId);
            this.getTopicTypeInfo(id);
            
        } else if (type == 'edit') {
            this.getTopicTypeInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getTopicTypeTree();
            this.getTopicTypeInfo(id);
        }
    }
}
</script>
<style>

</style>
