<template>
    <div class="forum-module" style="overflow:hidden;min-height:100%">
         <div class="forum-header">
      <span class="forum-name">话题列表</span>
    </div>
        <!--文件夹-->
        <section class="tree">
            <div class="forum-header" style="background:#fff;border:none" @click="refresh">
                <a href="javascript:void(0)" class="pull-left "  style="color:#4c5f70" id="refresh">
                    <i class="iconfont bbs-refurbish " style="font-size: 20px" ></i>
                </a>
                  <span style="padding-left:5px;color:#4c5f70">
                   刷新     
                </span>
            </div>
            <!--文件树-->
            <el-tree :data="treeInfo" :props="defaultProps" @node-click="handleNodeClick" accordion></el-tree>
            <!--文件树-->
        </section>
        <!--文件列表-->
        <router-view  class="right-view"></router-view>
    </div>
</template>

<script>
import * as fetch from '../../../api/bbs'
export default {
    data() {
        return {
            treeInfo: [{
                name: '根目录',
                id: '',
                child: []
            }],
            defaultProps: {
                children: 'child',
                label: 'name',
                id: 'id'
            },
            root: ''
        };
    },
    methods: {
        getTopicTypeTree() {
            fetch.getTopicTypeTree({root:this.root })
                .then(res => {
                   
                    this.treeInfo[0].child = res.body;
                    setTimeout(()=>{
                $('#refresh').removeClass('an-circle');
                    },1000);
                    
                })
        },
        refresh(){
            $('#refresh').addClass('an-circle');
          this.getTopicTypeTree();
        },
        handleNodeClick(data) {
            //console.log(data);
            let childType = typeof data.child;//判断类型
            if (childType == 'object') {
                this.$router.push({
                    path: '/topictypelist',
                    query:{
                        id:data.id,
                        noceStr:Math.round(Math.random()*10)
                    }
                })
            } else {
                this.$router.push({
                    path: '/topictypeedit',
                     query:{
                        id:data.id,
                        type:'edit'
                    }
                })
            }

        }
    },
    created: function() {
        this.$router.push({ path: '/topictypelist' })
        this.getTopicTypeTree();
    }
};
</script>

<style scoped lang='scss'>
.tree {
    width: 15%;
    display: inline-block;
    float: left;
    padding-bottom: 99999px;
    margin-bottom: -99999px;
}
.right-view{
     padding-bottom: 99999px;
    margin-bottom: -99999px;
    display: inline-block;
    width:85%;
}
.el-tree {
    border: none;
    padding-left: 19px;
}
.bbs-refurbish{
    margin-right: 2px;
}
.forum-header{
    cursor: pointer;
}
</style>
