<template>
  <div class="forum-module" v-loading.body="loading">
    <div class="forum-header">
      <span class="forum-name tab-name  " @click="linkfriend">友情链接列表</span>
              <span class="forum-name tab-name active" @click="linkfriendctg">友情链接类别管理</span>
    </div>
    <div class="table-top-bar clearfix">
      <div class="pull-left">
        <el-form :inline="true" class="demo-form-inline text-left" :rules="rules" :model="fastParams" ref="ruleForm">
          <el-form-item label="名称:" prop="name">
            <el-input placeholder="请输入分类名称" v-model="fastParams.name" class="w128"></el-input>
          </el-form-item>
          <el-form-item label="排列顺序:" prop="priority">
            <el-input placeholder="请输入排序大小" v-model="fastParams.priority" class="w128"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="warning" @click="addFriendLinkCtg('ruleForm')">快速添加</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
    <div class="table-responsive">
      <form class="form-horizontal no-margin">
        <el-table style="width: 100%" :data="friendLinkCtgList" @selection-change="checkIds">
          <el-table-column type="selection" align="center" width="68"></el-table-column>
          <el-table-column label="id" prop="id" align="center" width="50"></el-table-column>
          <el-table-column label="名称" prop="name" align="center">
            <template scope="scope">
              <el-input v-model="scope.row.name" style="width:100px"></el-input>
            </template>
          </el-table-column>
          <el-table-column label="排列顺序" prop="priority" align="center">
            <template scope="scope">
              <el-input v-model="scope.row.priority" style="width:100px"></el-input>
            </template>
          </el-table-column>
          <el-table-column label="操作" align="center" width="100">
            <template scope="scope">
              <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteFriendLinkCtg(scope.row.id)"></a>
            </template>
          </el-table-column>
        </el-table>
        <!--收缩隐藏-->
      </form>
    </div>
    <!---bottom-->
    <div class="table-bottom-bar">
      <div class="pull-left">
          <el-button @click="batch_update" type="warning">保存内容</el-button>
        <el-button :disabled="disabled" @click="deleteFriendLinkCtg(ids)">批量删除</el-button>
      
      </div>

    </div>
  </div>
</template>

<script>
import * as fetch from "../../../api/operation";
export default {
  data() {
    return {
      loading: true,
      friendLinkCtgList: [],
      ids: "", //批量删除列表
      groupList: [], //会员组列表
      fastParams: {
        //快速添加参数
        name: "",
        priority: "10"
      },
      params: {
        //接口参数
        pageNo: 1,
        pageSize: 20
      },
      totalCount: 0,
      currentPage: 1,
      changePageSize: localStorage.getItem("PageSize"),
      disabled: true,
      rules: {
        name: [{ required: true, message: "请输入名称" }],
        priority: [{ required: true, message: "请输入一个数字排序" }]
      }
    };
  },
  methods: {
    getFriendLinkCtgList() {
      //获取友情链接分类信息列表
      fetch
        .getFriendLinkCtgList()
        .then(res => {
          //console.log(res);
          if (res.code == "100") {
            this.friendLinkCtgList = res.body;
            this.loading = false;
          } else {
            this.loading = false;
          }
        })
        .catch(res => {
          this.loading = false;
          this.$message.error("网络异常");
        });
    },
    addFriendLinkCtg(formName) {
      //快速添加
      this.$refs[formName].validate(valid => {
        if (valid) {
          let params = this.fastParams;
          fetch
            .addFriendLinkCtg(params)
            .then(res => {
              //console.log(res);
              this.loading = false;
              if (res.code == "100") {
                this.$message.success("添加成功");
                this.getFriendLinkCtgList();
                this.$refs[formName].resetFields();
              } else {
                this.$message.error("添加失败");
              }
            })
            .catch(res => {
              this.loading = false;
              this.$message.error("添加异常");
            });
        } else {
          return false;
        }
      });
    },
    linkfriend() {
      this.$router.push({
        path: "/friendlinklist",
        query: {
          noceStr: Math.round(Math.random() * 10)
        }
      });
    },
    linkfriendctg() {
      this.$router.push({
        path: "/friendlinkctg",
        query: {
          noceStr: Math.round(Math.random() * 10)
        }
      });
    },
    batch_update() {
      //批量保存内容
      this.loading = true;
      let list = this.friendLinkCtgList;
      let params = {
        wids: [],
        names: [],
        priorities: []
      };
      for (let i = 0; i < list.length; i++) {
        params.wids.push(list[i].id);
        params.names.push(list[i].name);
        params.priorities.push(list[i].priority);
      }
      params.wids = params.wids.join(",");
      params.names = params.names.join(",");
      params.priorities = params.priorities.join(",");
      fetch
        .friendLinkCtgBatchUpdate(params)
        .then(res => {
          this.loading = false;
          if (res.code == "100") {
            this.$message.success("保存成功");
            this.getFriendLinkCtgList();
          }
        })
        .catch(res => {
          this.loading = false;
        });
    },
    deleteFriendLinkCtg(id) {
      //删除友情链接分类
      this.ids = id;
      this.$confirm("您确定要删除用户吗?", "警告", { type: "warning" })
        .then(mes => {
          fetch
            .deleteFriendLinkCtgInfo({ ids: this.ids })
            .then(res => {
              //console.log(res);
              this.loading = false;
              if (res.code == "100") {
                this.$message.success("删除成功");
                this.getFriendLinkCtgList();
              } else {
                this.$message.error(res.message);
              }
            })
            .catch(res => {
              this.loading = false;
              this.$message.error("网络异常");
            });
        })
        .catch(mes => {});
    },
    checkIds(res) {
      //选中当前的ids
      let ids = [];
      for (let i = 0; i < res.length; i++) {
        ids.push(res[i].id);
      }
      if (ids.length == 0) {
        this.ids = "";
        this.disabled = true;
      } else {
        this.ids = ids.join(",");
        this.disabled = false;
      }
    }
  },
  created: function() {
    this.getFriendLinkCtgList();
  },
  watch: {
    $route: function(to, from) {
      this.getFriendLinkCtgList();
    }
  }
};
</script>

<style>
.demo-form-inline {
  text-align: left;
}
</style>
