<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
            <div class="pull-right">
                <el-button @click="back">返回列表</el-button>
            </div>
        </div>
       
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="ModelInfo" ref="topicInfo">
                <el-form-item label="限制ip" class="form-group" prop="ip">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.ip"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="限制用户ID" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.userId"></el-input>
                    </el-col>
                    <el-col :span="1" class="required"></el-col>
                </el-form-item>
           



            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='edit'" @click="updateBbslimitInfo('topicInfo')" />
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='add'" @click="addBbslimitInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
export default {
    data() {
        return {
            loading: true,
            count: 0,
            state: false,
            ModelInfo: {},
            paramNames:[],
            defaultValues:[],
            modelCtgList: [{
                id:'addUser',
                name: '添加用户',

            }, {
               id:'updateUser',
                name: '修改用户',

            }, {
               id:'deleteUser',
                name: '删除用户',

            }],
            rules: {
                ip: [{ required: true, message: '此项必填', trigger: 'blur' }]  
            },
        }
    },
    methods: {
        getFriendLinkCtgList() {//获取分类
        },
        getBbslimitInfo(id) {//获取分类模型信息
            fetch.getBbslimitInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                        //console.log(res);
                        this.loading = false;
                        this.ModelInfo = res.body;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        setChange(val) {

        },
        updateBbslimitInfo(formName) {//修改模型
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.ModelInfo;                    
                    fetch.updateBbslimitInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/bbslimitlist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        addBbslimitInfo(formName) {//添加模型
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.ModelInfo;
                    fetch.addBbslimitInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/bbslimitlist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('添加异常');
                        })
                } else {
                    return false;
                }
            });
        },
        back() {
            this.$router.push({
                path: '/bbslimitlist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;

        if (type == 'add') {
            this.getBbslimitInfo(id);
        } else if (type == 'edit') {
            this.getBbslimitInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getBbslimitInfo(id);
        }
    }
}
</script>
<style scoped>
   .mb10{
       margin-bottom: 10px;
   }
</style>
