<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>     
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :model="roleInfo" :rules="rules" ref="topicInfo">
                <el-form-item label="角色名" class="form-group" prop="name">
                    <el-col :span="6">
                        <el-input v-model="roleInfo.name"></el-input>
                    </el-col>
                    <el-col :span="1" class="required ">*</el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>
                <el-form-item label="排列顺序" class="form-group" prop="priority">
                    <el-col :span="6">
                        <el-input v-model="roleInfo.priority" type="number"></el-input>
                    </el-col>
                    <el-col :span="1" class="required ">*&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>
                <el-form-item label="等级" class="form-group" prop="level">
                    <el-col :span="6">
                        <el-input v-model="roleInfo.level" type="number"></el-input>
                    </el-col>
                    <el-col :span="1" class="required ">*&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>
                <el-form-item label="是否拥有所有权限" class="form-group" prop="">
                    <el-col :span="6">
                        <el-switch on-text="是" off-text="否" v-model="roleInfo.all"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>
                <el-form-item label="角色权限" class="form-group" prop="" v-show="!roleInfo.all"> 
                    <el-col :span="6">
                        <ul id="treeDemo" class="ztree"></ul>
                    </el-col>       
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" 
                  v-if="$route.query.type=='edit'"
                @click="updateRoleInfo('topicInfo')" />
                 <input type="button" value="提交" class="bbs-submit" 
                 v-if="$route.query.type=='add'"
                 @click="addRoleInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from "../../../api/usermanage";
import roles from "../../../routers/roles";
export default {
  data() {
    return {
      loading: true,
      roleInfo: {},
      rolesList: [],
      perms: [],
      rules: {
         name: [{ required: true, message: '请输入一个角色名', trigger: 'blur' }],
          priority:[{ type:'number',required: true, message: '请输入数字排列顺序', trigger: 'blur' }],
            level:[{ type:'number',required: true, message: '请输入数字等级', trigger: 'blur' }],
      },
      roleList: roles, //角色表
      treeObj: {},
      zNodes: roles,
      setting: {
        //配置
        check: {
          enable: true
        },
        data: {},
        callback: {
          onClick: this.onShow,
          onCheck: this.creatRoles //获取点击的name
        },
        view: {
          dblClickExpand: false //屏蔽掉双击事件
        }
      }
    };
  },
  methods: {
    getRoleInfo(id) {
      //获取系统信息
      fetch
        .getRoleInfo({ id: id })
        .then(res => {
          if (res.code == "100") {
            this.loading = false;
            this.roleInfo = res.body;
            this.showRoles(res.body.perms);
            let indexNode = this.treeObj.getNodesByParam("role", "index"); //锁定首页权限
            this.treeObj.checkNode(indexNode[0], true, false, true);
            this.treeObj.setChkDisabled(indexNode[0], true);
             let type = this.$route.query.type;
              if(type=='add'){
                this.roleInfo.level=5;
                this.roleInfo.priority=10;
              }     
            for (let i in this.rolesList) {
              let tmpNode = this.treeObj.getNodesByParam("role", this.rolesList[i]);
              if (tmpNode.length > 0) {
                this.treeObj.checkNode(tmpNode[0], true, false, true);
              }
            }
          } else {
            this.loading = false;
          }
        })
        .catch(res => {
          this.loading = false;
          this.$message.error("网络异常");
        });
    },
    clockPerms(role) {
      //锁定权限
      let index = [];
      let perms;
      let indexNode = this.treeObj.getNodesByParam("role", "index"); //锁定首页权限
      this.treeObj.checkNode(indexNode[0], true, false, true);
      this.treeObj.setChkDisabled(indexNode[0], true);
      index.push(indexNode[0].role);
      for (let i in indexNode[0].api) {
        index.push(indexNode[0].api[i]);
      }
      perms = index.concat(role);
      perms = perms.join(",");
      return perms;
    },
    onShow(e, treeId, treeNode) {
      //单击显示
      this.treeObj.expandNode(treeNode);
    },
    creatRoles(event, treeId, treeNode) {
      //构造权限
      let role = [];
      let nodes = this.treeObj.getCheckedNodes(true);
      for (let i in nodes) {
        role.push(nodes[i].role);
        if (nodes[i].api != undefined) {
          for (let j in nodes[i].api) {
            let rep_str = nodes[i].api[j];
            role.push(rep_str);
          }
        }
      }
      this.perms = role;
    },
    showRoles(roleStr) {
      let roleArr = roleStr.split(",");
      this.rolesList = roleArr;
    },
    updateRoleInfo(formName) {
      //修改角色信息
      this.$refs[formName].validate(valid => {
        document.querySelector("#main").scrollTop = 0;
        if (valid) {
          let params = this.roleInfo;
          params.perms = this.clockPerms(this.perms);
          fetch
            .updateRoleInfo(params)
            .then(res => {
              if (res.code == "100") {
                this.$message.success("修改成功");
                setTimeout(() => {
                  this.$router.push({
                    path: "/rolelist"
                  });
                });
              } else {
                this.$message.error(res.message);
              }
            })
            .catch(res => {
              this.$message.error("修改失败");
            });
        } else {
          document.querySelector("#main").scrollTop = 0;
          return false;
        }
      });
    },
    addRoleInfo(formName) {
      //修改角色信息
      this.$refs[formName].validate(valid => {
        document.querySelector("#main").scrollTop = 0;
        if (valid) {
          //非空不修改
          let params = this.roleInfo;
          params.perms = this.clockPerms(this.perms);
          fetch
            .addRoleInfo(params)
            .then(res => {
              if (res.code == "100") {
                this.$message.success("添加成功");
                setTimeout(() => {
                  this.$router.push({
                    path: "/rolelist"
                  });
                });
              } else {
                this.$message.error("添加失败");
              }
            })
            .catch(res => {
              this.$message.error("添加异常");
            });
        } else {
          document.querySelector("#main").scrollTop = 0;
          return false;
        }
      });
    }
  },
  created: function() {
    this.loading = true;
    let type = this.$route.query.type;
    let id = this.$route.query.id;
    let self = this;
    $(document).ready(function() {
      self.setting.check.chkboxType = { Y: "ps", N: "ps" };
      self.treeObj = $.fn.zTree.init($("#treeDemo"), self.setting, self.zNodes);

      if (type == "add") {
        self.getRoleInfo(id);
      } else if (type == "edit") {
        self.getRoleInfo(id);
      }
    });
  },
  watch: {
    $route: function(to, from) {
      this.loading = true;
      let id = this.$route.query.id;
      this.getRoleInfo(id);
    }
  }
};
</script>
<style scoped>
.mb10 {
  margin-bottom: 10px;
}
</style>
