<template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">角色列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <a href="javascript:void(0)" class="add-Class" @click="addRole">添加</a>
        </div>
        <div class="table-responsive">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="roleList" @selection-change="checkIds">
                    <el-table-column type="selection" width="68" align="center"></el-table-column>
                     <el-table-column label="id" prop="id" align="center" :width="68"></el-table-column>
                    <el-table-column label="角色名" prop="name" align="center"></el-table-column>
                    <el-table-column label="排列顺序" prop="priority" align="center"></el-table-column>
                    <el-table-column label="操作" align="center" width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-edit" title="编辑" @click="editRole(scope.row.id)"></a>
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteRole(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>

        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button :disabled="disabled" @click="deleteRoleAll">批量删除</el-button> 
            </div>    
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/usermanage'
export default {
    data() {
        return {
            loading: true,
            roleList: [],
            ids: '',//批量删除列表
            groupList: [],//会员组列表       
            params: {//接口参数
            },
            disabled: true
        }
    },
    methods: {
        getuserGroupList() {//获取会员组
            fetch.getGroupList({ groupType: -1 })
                .then(res => {
                    //console.log(res);
                    this.groupList = res.body;
                })
        },
        getRoleList() {//获取用户信息列表
            let params = this.params;
            fetch.getRoleList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.roleList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        addRole() {//添加用户
            this.$router.push({
                path: '/roleadd',
                query: {
                    type: 'add',
                    id: 0
                }
            });
        },
        editRole(id) {//修改用户
            this.$router.push({
                path: '/roleedit',
                query: {
                    type: 'edit',
                    id: id
                }
            });
        },
        deleteRole(id) {//删除用户
            this.ids = id;
            this.$confirm('您确定要删除用户吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteRoleInfo({ ids: this.ids })
                        .then(res => {
                            //console.log(res);
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getRoleList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        deleteRoleAll() {//批量删除用户
            this.$confirm('您确定要删除用户吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteRoleInfo({ ids: this.ids })
                        .then(res => {
                            //console.log(res);
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getRoleList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        selectQuery(val) {//下拉条件搜索
            //console.log(val);
            this.getRoleList();
        },
        queryRoleName(ev) {//用户名搜索
            this.loading = true;
            this.getRoleList();
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getRoleList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getRoleList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getRoleList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getuserGroupList();
        this.getRoleList();
    }
}
</script>

<style>

</style>
