<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>
        
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form >
                <el-form-item label="举报地址" class="form-group" >
                    <el-col :span="6">
                   
                       <a :href="reportInfo.reportUrl" target="_blank">{{reportInfo.reportUrl}}</a>
                    </el-col>
                 
                </el-form-item>
                <el-form-item label="举报人" class="form-group" >
                    <el-col :span="6">
                        {{reportInfo.reportUserName}}
                       
                    </el-col>           
                </el-form-item>
                  <el-form-item label="举报时间" class="form-group" >
                    <el-col :span="6">
                        {{reportInfo.reportTime}}
                       
                    </el-col>

                </el-form-item>
                <el-form-item label="举报原因" class="form-group">
                    <el-col :span="6">
                        {{reportInfo.processResult}}
                        
                    </el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
              <el-button type="danger" @click="deleteReport($route.query.id)">删除</el-button>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/bbs'
export default {
    data() {
        return {
            loading: true,
            count: 0,
            state: false,
            rootId: 0,
            reportInfo: {}          
        }
    },
    methods: {
        getReportInfo(id) {//获取分类友情链接信息
            fetch.getReportInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;      
                        this.reportInfo = res.body;       

                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
         deleteReport(id) {//删除用户举报
            this.$confirm('您确定要删除用户举报吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteReportInfo({ ids: id})
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                    setTimeout(() => {
                                    this.$router.push({ path: '/reportlist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        back() {
            this.$router.push({
                path: '/reportlist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
         this.getReportInfo(id);
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;    
            this.getReportInfo(id);
        }
    }
}
</script>
<style>

</style>
