<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">用户举报列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <el-select v-model="reportList.dealStatus" @change="queryCtg" class="w128">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
            </el-select>
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="reportList.body" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="50"></el-table-column>
                    <el-table-column label="举报地址" prop="reportUrl" align="center" width="180"  :show-overflow-tooltip="true">
                        <template scope="scope">
                            <a :href='scope.row.reportUrl'>{{scope.row.reportUrl}}</a>
                        </template>
                    </el-table-column>
                    <el-table-column label="举报时间" prop="reportTime" align="center"></el-table-column>
                    <el-table-column label="举报人" prop="reportUserName" align="center"></el-table-column>
                    <el-table-column label="积分奖惩" prop="point" align="center" >
                           <template scope="scope" >  
                              <div v-show="!scope.row.status">                           
                              <el-select v-model="scope.row.point" @change="setPointParams" style="width:90px">
                                   <el-option v-for="item in pointList" :key="item.value" :label="item.label" :value="item.value"></el-option>
                              </el-select>
                              <el-button @click="process(scope.row.id)">提交</el-button>  
                              </div> 
                              <span v-show="scope.row.status">{{scope.row.processResult}}</span>                     
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-weibiaoti104" title="查看" @click="editReport(scope.row.id)"></a>
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除"
                              v-if="local.indexOf('/api/admin/report/delete')!=-1"  
                             @click="deleteReport(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                    {{local}}
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button :disabled="disabled" @click="deleteReport(ids)">批量删除</el-button>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/bbs'
export default {
    data() {
        return {
            loading: true,
            friendLinkCtgList: [],
            pointList:[
                  {
                    value: -3,
                    label: '积分-3'
                },
                {
                    value: -2,
                    label: '积分-2'
                },
                {
                    value: -1,
                    label: '积分-1'
                }
                , {
                    value: 0,
                    label: '不奖惩'
                },
                {
                    value: 1,
                    label: '积分+1'
                },
                {
                    value: 2,
                    label: '积分+2'
                },
                {
                    value: 3,
                    label: '积分+3'
                }
            ],
            local:localStorage.getItem('perms'),
            pointParams:{
                  id:'',
                  point:0,
                  result:'不奖惩'
            },
            reportList: [
              
            ],
            options: [{
                value: false,
                label: '未处理举报'
            }, {
                value: true,
                label: '已处理举报'
            }],
            ids: '',//批量删除列表
            sort: this.$store.state.sort,//排序列表
            lastLoginDay: this.$store.state.lastLoginDay,//时间排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                dealStatus: false
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
        getReportList() {//获取用户举报信息列表
            let params = this.params;
            fetch.getReportList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {     
                        this.reportList = res;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        queryCtg(val) {//查询分类
            this.loading = true;
            this.params.dealStatus = val;
            this.getReportList();
        },
         process(id){
           this.loading = true;
             this.pointParams.id=id;
              fetch.process(this.pointParams)
              .then(res=>{
                   if (res.code == '100') {
                        this.loading = false;
                        this.$message.success('处理成功');
                        this.getReportList();
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
              })
              .catch(res=>{
                   this.loading = false;
                    this.$message.error('处理异常!')
              })
         },
         setPointParams(val){//获取当前点击积分
         //console.log(11111);
                          if(val==0){
                   this.pointParams.result='不奖惩';
                }else{
                    this.pointParams.result='积分'+val;
                }
                this.pointParams.point=val;
         },
        editReport(id) {//修改用户举报
            this.$router.push({
                path: '/reportedit',
                query: {
                    type: 'edit',
                    id: id
                }
            });
        },
        deleteReport(id) {//删除用户举报
            this.ids = id;
            this.$confirm('您确定要删除用户举报吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteReportInfo({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getReportList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getReportList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getReportList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getReportList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getReportList();
       
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getReportList();
            
        }
    }
}
</script>

<style>

</style>
