<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
            
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="giftInfo" ref="topicInfo">
                <el-form-item label="礼物名称" class="form-group" prop="name">
                    <el-col :span="6">
                        <el-input v-model="giftInfo.name"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="礼物图片" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="giftInfo.picPath"></el-input>
                        <div :class="state ? 'pic-box' : 'pic-box-no'">
                            <img :src="$store.state.baseUrl+imgPath" alt=""  @click="showBig"  v-if="!state" >
                        </div>
                    </el-col>
                     <el-col :span="6">
                        <el-upload class="upload-demo" :action="$store.state.upLoadUrl" name="uploadFile" 
                        :data="upobj" 
                        :before-upload="beforeAvatarUpload"
                         :on-success="getImgpic"
                         :show-file-list="fileState">
                            <el-button  type="primary" style="margin-left:10px">点击上传</el-button>
                        </el-upload>
                        <el-dialog title="按下esc退出全屏" v-model="dialogVisible" size="full" class="pic-dialog" >
                            <img  :src="$store.state.baseUrl+imgPath" alt="" class="big-img">
                     </el-dialog>
                    </el-col>
                </el-form-item>
             <el-form-item label="礼物价格" class="form-group" prop="price">
                    <el-col :span="6">
                        <el-input v-model.number="giftInfo.price" type="number"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
             <el-form-item label="排序" class="form-group" prop="priority">
                    <el-col :span="6">
                        <el-input v-model.number="giftInfo.priority" type="number"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="是否禁用" class="form-group">
                    <el-col :span="1">
                        <el-switch on-text="" off-text="" v-model="giftInfo.disabled"></el-switch>
                    </el-col>
                </el-form-item>
                  <el-form-item label="礼物类型" class="form-group">
                    <el-col :span="6">
                       <el-radio-group v-model="giftInfo.giftType">
                           <el-radio :label='0'>个人礼物</el-radio>
                           <el-radio :label='1'>群礼物</el-radio>
                       </el-radio-group>
                    </el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='edit'" @click="updateGiftInfo('topicInfo')" />
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='add'" @click="addGiftInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/operation'
export default {
    data() {
        return {
            fileState:true,
            dialogVisible:false,
            loading: true,
            count: 0,
            state: false,
            imgPath: '',//图片路径
            rootId: 0,
            upobj: {//上传参数
                type: 'image',
                sessionKey: localStorage.getItem('sessionKey'),
                appId: this.$store.state.appId
            },
            giftInfo: {},
            friendLinkCtgList: [],
            rules: {
                name: [{ required: true, message: '请填写一个礼物名字', trigger: 'blur' }],
                priority: [{ required: true, type: 'number', message: '请填写一个数字排序', trigger: 'blur' }],
                price:[{ required: true, type: 'number', message: '请填写一个价格', trigger: 'blur' }]
           },
        }
    },
    methods: {
         showBig(){
           this.dialogVisible=true;      
        },
        getGiftInfo(id) {//获取分类礼物信息
            fetch.getGiftInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;
                         this.giftInfo = res.body;            
                        if (this.giftInfo.picPath == '') {
                            this.state = true;
                        } else {
                            this.imgPath = res.body.picPath;
                            this.state = false;
                        }
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        setChange(val) {

        },
        updateGiftInfo(formName) {//修改礼物
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.giftInfo;
                    params.ctgId=this.giftInfo.categoryId
                    fetch.updateGiftInfo(params)
                        .then(res => {
                            //console.log("类型="+ typeof res);
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/giftlist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        addGiftInfo(formName) {//添加礼物
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.giftInfo;
                    fetch.addGiftInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/giftlist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('添加异常');
                        })
                } else {
                    return false;
                }
            });
        },
        back() {
            this.$router.push({
                path: '/giftlist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        },
        beforeAvatarUpload(file) {//上传验证
        this.fileState=true;
            const isJPG = file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/gif';
            const isLt2M = file.size / 1024 / 1024 < 2;
            if (!isJPG) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
            }
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过2MB!');
            }
            return isJPG && isLt2M;
        },
        getImgpic(res, file, fileList) {//回填服务器图片路径
            this.imgPath = res.body.url;
            this.state = false;
             this.fileState=false;
            this.giftInfo.picPath = res.body.url;
        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
        if (type == 'add') {
            this.getGiftInfo(id);
        } else if (type == 'edit') {
            this.getGiftInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getFriendLinkCtgList();
            this.getGiftInfo(id);
        }
    }
}
</script>
<style>

</style>
