<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">礼物列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <a href="javascript:void(0)" class="add-Class" @click="addGift">添加</a>
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="giftList" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="50"></el-table-column>
                    <el-table-column label="名称" prop="name" align="center"></el-table-column>
                    <el-table-column label="图片" prop="picPath" align="center">
                           <template scope="scope">
                               <img :src="$store.state.baseUrl+scope.row.picPath"  height="25">                       
                        </template> 
                    </el-table-column>
                    <el-table-column label="价格(元)" prop="price" align="center"></el-table-column>
                    <el-table-column label="排列顺序" prop="priority" align="center">
                        <template scope="scope">
                            <el-input style="width:40%" v-model="scope.row.priority"></el-input>
                        </template>
                    </el-table-column>
                     <el-table-column label="礼物类型" prop="giftType" align="center">
                        <template scope="scope">
                              <span v-if="scope.row.giftType==0">个人礼物</span>
                              <span v-else-if="scope.row.giftType==1">群礼物</span>      
                        </template>
                    </el-table-column>
                    <el-table-column label="禁用" prop="disabled" align="center">
                        <template scope="scope">
                            <el-switch on-text="是" off-text="否" v-model="scope.row.disabled"></el-switch>
                        </template>
                    </el-table-column>

                    <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-edit" title="编辑" @click="editGift(scope.row.id)"></a>
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteGift(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                 <el-button @click="savePriority">保存排列顺序</el-button>
                <el-button :disabled="disabled" @click="deleteGift(ids)">批量删除</el-button>
               
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/operation'
export default {
    data() {
        return {
            checkAll: false,
            isIndeterminate: true,
            loading: true,
            friendLinkCtgList: [],
            giftList: [],
            ids: '',//批量删除列表
            sort: this.$store.state.sort,//排序列表
            lastLoginDay: this.$store.state.lastLoginDay,//时间排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                queryCtgId: ''
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
        getFriendLinkCtgList() {//获取礼物分类信息列表
            fetch.getFriendLinkCtgList()
                .then(res => {
                    if (res.code == '100') {
                        this.friendLinkCtgList = res.body;
                        this.loading = false;
                    }
                })

        },
        getGiftList() {//获取礼物信息列表
            let params = this.params;
            fetch.getGiftList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.giftList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        queryCtg(val) {//查询分类
            this.loading = true;
            this.getGiftList();
        },
        savePriority() {//保存排列顺序
            this.loading = true;
            let list = this.giftList;
            let params = {
                ids: [],
                priorities: [],
                disableds:[],
            }
            for (let i = 0; i < list.length; i++) {
                params.ids.push(list[i].id);
                params.priorities.push(list[i].priority);
                  params.disableds.push(list[i].disabled);
                
            }
            params.ids = params.ids.join(",");
            params.priorities = params.priorities.join(",");
             params.disableds = params.disableds.join(",");
            fetch.giftBatchUpdate(params)
                .then(res => {
                    this.loading = false;
                    if (res.code == '100') {
                        this.$message.success('保存成功');
                        this.getGiftList();
                    } else {
                        this.$message.error(res.message);
                    }
                }).catch(res => {
                    this.loading = false;
                    this.$message.error('保存异常');
                })
        },
        addGift(rootId) {//添加礼物
            this.$router.push({
                path: '/giftadd',
                query: {
                    type: 'add',
                    id: 0,                
                }
            });
        },
        editGift(id) {//修改礼物
            this.$router.push({
                path: '/giftedit',
                query: {
                    type: 'edit',
                    id: id
                }
            });
        },
        deleteGift(id) {//删除礼物
            this.ids = id;
            this.$confirm('您确定要删除礼物吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteGiftInfo({ids:this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getGiftList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getGiftList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getGiftList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getGiftList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getGiftList();
        this.getFriendLinkCtgList();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getGiftList();
            this.getFriendLinkCtgList();
        }
    }
}
</script>

<style>

</style>
