<template>
  <div class="login-bg">
    <div class="canvas-bg">
      <canvas id="root" width="1000" height="525"></canvas>
    </div>
    <img src="./../assets/images/login-logo.png" class="login-logo">
    <el-form class="login-group">
      <el-form-item prop="username">
        <div class="val">
          <input type="text" autocomplete="off" placeholder="用户名" @blur="requireUserName" v-model="params.userName" @keyup.enter="login" class="login-input user">
          <label id="userName"></label>
        </div>
      </el-form-item>
      <el-form-item prop="pwd">
        <div class="val">
          <input type="password" autocomplete="off" placeholder="密码" @keyup="changePwd" @blur="requirePwd" v-model="params.pwd" class="login-input pwd" @keyup.enter="login">
          <label id="pwd"></label>
        </div>
      </el-form-item>
    </el-form>
    <div class="sub-group">
      <el-button :loading="loading" @click="login" class="login-input login-btn">{{loginFont}}</el-button>
    </div>
    <div class="bottom-font">
      <p>ICP备案号：赣ICP备13005266号</p>
      <p>Powered by JeeCms Copyright © 2007-2017 www.jeecms.com, All Rights Reserved</p>
    </div>
  </div>
</template>
<script>
import { Encrypt } from "../untils/aes";
import { getRand } from "../untils/random";
import { createSign } from "../untils/sign";
import Cookies from 'js-cookie'
import * as user from "../api/user";
import CanvasAnimate from "../plugs/canvas";
import { ansycRotes } from "../routers/router";
import router from "../routers/index";
export default {
  name: "login",
  data() {
    return {
      params: {
        userName: "",
        pwd: ""
      },
      loginFont: "登录",
      loading: false
    };
  },
  methods: {
    requireUserName() {
      if (this.params.userName == "") {
        $("#userName")
          .addClass("error")
          .text("请填写用户名");
      } else {
        $("#userName")
          .removeClass("error")
          .text(" ");
      }
    },
    requirePwd() {
      if (this.params.pwd == "") {
        $("#pwd")
          .addClass("error")
          .text("请填写密码");
        $("#login").css("background", "#ebcd41");
      } else {
        $("#pwd")
          .removeClass("error")
          .text(" ");
        $("#login").css("background", "#fee300");
      }
    },
    changePwd() {
      $("#pwd")
        .removeClass("error")
        .text(" ");
    },

    login() {
      let aesKey = this.$store.state.aesKey;
      let ivKey = this.$store.state.ivKey;
      let aesPassword = Encrypt(this.params.pwd, aesKey, ivKey);
      let nonce_str = getRand();
      let params = {
        username: this.params.userName,
        aesPassword: aesPassword,
        nonce_str: nonce_str
      };
      if (this.params.userName == "" || this.params.pwd == "") {
        this.requireUserName();
        this.requirePwd();
      } else {
        this.loading = true;
        this.loginFont = "登录中...";
        user
          .login(params)
          .then(res => {
            if (res.code == 100) {
                    
              Cookies.set('JSESSIONID', res.body.JSESSIONID, { expires:365, path: '/',domain:res.body.domain});
                Cookies.set('username', this.params.userName, { expires:365, path: '/',domain:res.body.domain});
                  Cookies.set('domain', res.body.domain, { expires:365, path: '/',domain:res.body.domain});
                 Cookies.remove('sso_logout');
              window.localStorage.setItem("sessionKey", res.body.sessionKey);
              window.localStorage.setItem("userName", this.params.userName);

               this.$store.dispatch('setRouters').then(()=>{
                  this.loading = false;
                     this.loginFont = "登录";
                     this.$router.push("/work");
                     this.$router.addRoutes(this.$store.state.addRouters);
                               
               });                
                     
            } else {
              this.loading = false;
              this.loginFont = "登录";
              switch (res.code) {
                case "301":
                  $("#userName")
                    .addClass("error")
                    .text("用户名不存在");
                  break;
                case "304":
                  $("#pwd")
                    .addClass("error")
                    .text("密码不正确");
                  break;
              }
            }
          })
          .catch(res => {
            this.loading = false;
            this.loginFont = "登录";
          });
      }
    },
    getAdminInfo() {
      user.getAdminInfo({
          username: localStorage.getItem("userName"),
          nonce_str: getRand()
        })
        .then(res => {
          let userInfo = JSON.stringify(res.body);
          localStorage.setItem("userInfo", userInfo);
        });
    },
    canvas() {
      var root = document.querySelector("#root");
      var a = new CanvasAnimate(root, {
        length: 15,
        clicked: false,
        moveon: true
      });
      a.Run();
    }
  },
  mounted: function() {
    this.canvas();
    let users = localStorage.getItem("sessionKey");
    let username = localStorage.getItem("userName");
    if (users != null) {
      user
        .getToken({ username: username, nonce_str: getRand()})
        .then(res => {
          if (res.code == "1") {
            this.$router.push("/work");
          } else {
             localStorage.clear();           
          }
        })
        .catch(res => {
          localStorage.clear();
        });
    }
  }
};
</script>
<style scoped lang='scss'>
.login-bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background: #188ae2;
  transition: 0.5s;
}

.canvas-bg {
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -500px;
  margin-top: -250px;
  text-align: center;
  z-index: 10;
}

.canvas-bg canvas {
  position: relative;
  z-index: 8;
}

.login-logo {
  position: relative;
  z-index: 999;
  display: block;
  margin: 50px auto 48px auto;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.val {
  position: relative;
  width: 320px;
  height: 44px;
  line-height: 44px;
  margin: 0 auto;
}

.val label {
  position: absolute;
  top: 0;
  right: 0px;
  z-index: 999;
  color: #ff0000;
  transition: 0.25s right linear;
  transform: translate(0, 0);
  font-size: 12px;
}

.val label.error {
  right: 48px;
  transition: 0.5s right;
}

@media screen and (min-width: 1366px) {
  .login-logo {
    margin: 10% auto 48px auto;
  }
}

@media screen and (min-width: 1440px) {
  .login-logo {
    margin: 15% auto 48px auto;
  }
}

@media screen and (min-width: 1920px) {
  .login-logo {
    margin: 20% auto 48px auto;
  }
}

.login-input {
  position: relative;
  z-index: 999;
  width: 320px;
  height: 44px;
  line-height: 44px;

  border-radius: 44px;
  outline: none;
  border: none;
  background: #e6f4ff;
  padding-left: 30px;
  font-size: 14px;
}

.user {
  background: #e6f4ff url(./../assets/images/user-login.png) 275px center
    no-repeat;
}

.user:focus {
  background: #fff url(./../assets/images/user-login.png) 275px center no-repeat;
}

.pwd {
  background: #e6f4ff url(./../assets/images/user-pwd.png) 275px center
    no-repeat;
}

.pwd:focus {
  background: #fff url(./../assets/images/user-pwd.png) 275px center no-repeat;
}

.login-btn {
  background: #ebcd41;
  color: #000;
  padding: 0 !important;
}

.login-group {
  text-align: center;
}

.login-btn {
  cursor: pointer;
}

.sub-group {
  text-align: center;
  margin: 0 auto;
}

.bottom-font {
  position: absolute;
  width: 100%;
  bottom: 52px;
  font-size: 12px;
  text-align: center;
  color: #0871c2;
  z-index: 9999;
}

.bottom-font p {
  line-height: 2;
}

.loadingLogin {
}
</style>
