<template >
  <div class="forum-module" v-loading.body="loading">
    <div class="forum-header">
      <span class="forum-name">编辑版块</span>
      <span class="forum-hint">必须先添加分区才能添加版块</span>
    </div>
    
    <div class="table-body table-responsive">
      <form class="form-horizontal no-margin">
        <table class="bbs-table">
          <tr>
            <th></th>
            <th>ID</th>
            <th>分区版块</th>
            <th>访问路径</th>
            <th>排序</th>
            <th>操作</th>
          </tr>
          <!--一级版块-->
          <tbody class="first-table" v-for="(item,index) in categoryList" :key="item.id">
            <tr class="parent-module">
              <td class="td-5 t-collapse"></td>
              <td class="td-5">{{item.id}}</td>
              <td>
                <input type="text" class="table-input" placeholder="新分区名称" v-model="categoryList[index].title" @keyup="autoCategoryPath(index)" v-require/>
              </td>
              <td class="td-20"><input type="text" placeholder="访问路径" class="table-input-md" v-model="categoryList[index].path" v-require/></td>
              <td class="td-15">
                <a href="javascript:void(0)" v-show="index+1!=categoryList.length" title="移动到最底部" @click="categoryListDownTop(index)">
                  <i class="iconfont bbs-xiayi"></i>
                </a>
                <a href="javascript:void(0)" v-show="index+1!=categoryList.length" title="向下移动" @click="categoryListDown(index)">
                  <i class="iconfont bbs-xiayi1"></i>
                </a>
                <a href="javascript:void(0)" v-show="index!=0">
                  <i class="iconfont bbs-shangyi1" title="向上移动" @click="categoryListUp(index)"></i>
                </a>
                <a href="javascript:void(0)" v-show="index!=0" title="移动到顶部" @click="categoryListUpTop(index)">
                  <i class="iconfont bbs-shangyi"></i>
                </a>

              </td>
              <td class="td-15">
                <a href="javascript:void(0);" class="t-del iconfont bbs-delete" title="删除分区" @click="deleteForum(item.id,index,item.addState)"></a>
              </td>
            </tr>
            <tr class="child-module" v-for="(child,index) in forumList" :key="child.id" v-if="child.parentId==item.id">
              <td></td>
              <td>{{child.id}}</td>
              <td style="width:350px">
                <div class="child-box">
                  <input type="text" placeholder="新版块名称" class="table-input" v-model="forumList[index].title" @keyup="autoForumPath(index)" v-require/>
                </div>
              </td>
              <td>
                <input type="text" placeholder="新版块路径" class="table-input-md" v-model="forumList[index].path" v-require />
                <td>
                  <a href="javascript:void(0)" v-show="index+1!=forumList.length">
                    <i class="iconfont bbs-xiayi"></i>
                  </a>
                  <a href="javascript:void(0)" v-show="index+1!=forumList.length">
                    <i class="iconfont bbs-xiayi1"></i>
                  </a>
                  <a href="javascript:void(0)" v-show="index!=0">
                    <i class="iconfont bbs-shangyi1"></i>
                  </a>
                  <a href="javascript:void(0)" v-show="index!=0">
                    <i class="iconfont bbs-shangyi"></i>
                  </a>
                </td>
                <td>
                  <button class="t-edit" @click.prevent="editFourm(child.id)">
                    <i class="iconfont bbs-edit"></i>
                  </button>
                  <button class="t-del" @click.prevent="deleteCategory(child.id,index)">
                    <i class="iconfont bbs-delete"></i>
                  </button>
                </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <div class="creat-add">
                  <a href="javascript:void(0);" @click="addForum(item.id)">添加新版块</a>
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>

            </tr>
          </tbody>
          <!--版块-->
          <tbody>
            <tr class="zone-box">
              <td class="td-5"></td>
              <td colspan="5">
                <div class="add-zone">
                  <a href="javascript:void(0);" @click="addCategory">添加新分区</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!--收缩隐藏-->
        <div class="margin-md" style="padding-left:25px">
          <input type="button" name="" id="" value="提交" class="bbs-submit" @click="saveList" />
          <input type="reset" name="" id="" value="重置" class="bbs-reset" @click="resetList"/>
        </div>
      </form>
    </div>
    <!--收缩隐藏-->
    <router-view class="third-view"></router-view>
  </div>
</template>
<script>
import * as fetch from '../../../api/bbs'
import { makePy } from '../../../untils/py'
export default {
  data() {
    return {
      loading: true,
      dialogVisible: false,
      appId: this.$store.state.appId,
      sessionKey: localStorage.getItem('sessionKey'),
      appKey: this.$store.state.appKey,
      listGroupByCategory: [],
      categoryList: [],
      forumList: [],
      categoryIds: [],
      forumIds: [],
      forumGroupIds: []
    }
  },
  methods: {
    getCategoryList() {//获取版块
      fetch.listGroupByCategory()
        .then(res => {
          //console.log(res);
          if (res.code == '100') {
            this.loading = false;
            this.listGroupByCategory = res.body;
            this.dataProcess(res.body);
            this.dataForumIds(res.body);
          } else {
            this.loading = false;
          }

        })
        .catch(res => {
          this.loading = false;
        })

    },
    resetList(){
        this.getCategoryList();
    },
    dataForumIds(res) {
      this.forumGroupIds = [];
      for (let i = 0; i <= res.length; i++) {
        this.forumGroupIds.push(res[i].forums);
      }

    },
    dataProcess(arr) {//构造版块分区参数数组
      this.categoryList = [];
      this.forumList = [];
      this.categoryIds = [];
      this.forumIds = [];
      for (let i = 0; i < arr.length; i++) {
        let obj = {};
        obj.id = arr[i].id;
        obj.title = arr[i].title;
        obj.path = arr[i].path;
        this.categoryList.push(obj);
        this.categoryIds.push(obj.id);
        for (let j = 0; j < arr[i].forums.length; j++) {
          let obj2 = {};
          obj2.title = arr[i].forums[j].title;
          obj2.path = arr[i].forums[j].path;
          obj2.parentId = arr[i].id;
          obj2.id = arr[i].forums[j].id;
          this.forumList.push(obj2);
          this.forumIds.push(obj2.id);
        }
      }
    },
    dataStrings(obj) {//构造参数字符串
      let outerArr = [];
      let str;
      for (let i = 0; i < obj.length; i++) {
        let innerArr = [];
        for (let key in obj[i]) {
          if (obj[i][key] == '') {
            this.isNull = true;//判断是否有为空的值
          } else {
            if (obj[i].addState != undefined) {
              delete obj[i].addState;
            }
          }
          innerArr.push(obj[i][key]);
        }
        outerArr.push(innerArr);
      }
      str = outerArr.join(";");
      //console.log(str);
      return str;
    },
    dataNull(obj) {//判断数据是否有空
      let state = false;
      for (let i = 0; i < obj.length; i++) {
        for (let key in obj[i]) {
          if (obj[i][key] == '' || obj[i][key] == null) {
            state = true;//判断是否有为空的值
            break;
          }
        }
        if (state) {
          break;
        }
      }
      return state;
    },
    saveList() {//修改版块
      this.loading = true;
      let params = {
        categorys: this.dataStrings(this.categoryList),
        forums: this.dataStrings(this.forumList)
      }
      let aa = this.dataNull(this.categoryList);//判断是否有空数据
      let bb = this.dataNull(this.forumList);
      if (aa || bb) {//判断数据是否有未填
        this.loading = false;
        this.$message({
          message: '请填写所有字段',
          type: 'error'
        })
      } else {
        fetch.saveList(params)
          .then(res => {
            this.loading = false;
            if (res.code == '100') {
              this.$message({
                message: '修改成功',
                type: 'success'
              });
              this.getCategoryList();
            } else {
              this.$message({
                message: '修改失败',
                type: 'error'
              });
            }
          })
          .catch(res => {
            this.loading = false;
          })
      }
    },
    deleteForum(id, index, state) {//删除分区
      if (state == true) {
        this.categoryList.splice(index, 1);
      } else {
        let params = {
          ids: id
        };
        this.$confirm('您确定要删除当前分区吗?', '提示', {
          type: 'warning'
        })
          .then(mes => {
            fetch.deleteForum(params)
              .then(res => {
                //console.log(res);
                if (res.code == '100') {
                  this.getCategoryList();
                  //  //console.log(this.categoryTitles);
                  this.$message({
                    message: '删除成功',
                    type: 'success'
                  })
                }
              })
          })
          .catch(mes => { });
      }
    },
    deleteCategory(id, index) {//删除版块
      if (id == undefined) {
        this.forumList.splice(index, 1);
      } else {
        let params = {
          ids: id
        };
        this.$confirm('您确定要删除当前版块吗?', '提示', {
          type: 'warning'
        })
          .then(mes => {
            fetch.deleteCategory(params)
              .then(res => {
                if (res.code == '100') {
                  this.getCategoryList();
                  this.$message({
                    message: '删除成功',
                    type: 'success'
                  })
                }
              })
          })
          .catch(mes => { });
      }
    },
    addCategory() {//添加分区
      let ids = this.categoryIds.sort();
      let id = parseInt(++ids[ids.length - 1]);
      this.categoryList.push({
        id: id,
        title: '',
        path: '',
        addState: true
      })
    },
    addForum(parentId) {//添加版块
      this.forumList.push({
        title: '',
        path: '',
        parentId: parentId
      })
    },
    editFourm(id) {
      if (id == 'undefined') {
        return
      } else {
        this.$router.push({ path: '/fourm-edit', query: { id: id } });
      }
    },
    autoCategoryPath(index) {//自动填写路径 
      let str = this.categoryList[index].title;
      if (str.length > 0) {
        str = makePy(str);
        str = str.join(',');
        this.categoryList[index].path = str;
      }
    },
    autoForumPath(index) {//自动填写路径 
      let str = this.forumList[index].title;
      str.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g, '');
      if (str.length > 0) {
        str = makePy(str);
        str = str.join(',');
        this.forumList[index].path = str;
      }
    },
    swapItems(arr, index1, index2) {//排序方法
      arr[index1] = arr.splice(index2, 1,arr[index1])[0];
      return arr;
    },
    categoryListUp(index) {
      let list = this.categoryIds
      list = this.swapItems(list, index, index - 1);
      let params = {
        ids: list.join(',')
      }
      fetch.categoryListUpdate(params)
        .then(res => {
          if (res.code == '100') {
            this.getCategoryList()
          } else {
            this.$message({
              message: '排序失败',
              type: 'error'
            })
          }
        })
        .catch(res => {
          this.$message({
            message: '排序失败',
            type: 'error'
          })
        })
    },
    categoryListUpTop(index) {
      let list = this.categoryIds;
      let arr = list.splice(index, 1);
      list.unshift(arr);
      let params = {
        ids: list.join(',')
      }
      fetch.categoryListUpdate(params)
        .then(res => {
          if (res.code == '100') {
            this.getCategoryList()
          } else {
            this.$message({
              message: '排序失败',
              type: 'error'
            })
          }
        })
        .catch(res => {
          this.$message({
            message: '排序失败',
            type: 'error'
          })
        })
    },
    categoryListDown(index) {
      let list = this.categoryIds
      list = this.swapItems(list, index, index + 1);
      let params = {
        ids: list.join(',')
      }
      fetch.categoryListUpdate(params)
        .then(res => {
          if (res.code == '100') {
            this.getCategoryList()
          } else {
            this.$message({
              message: '排序失败',
              type: 'error'
            })
          }
        })
        .catch(res => {
          this.$message({
            message: '排序失败',
            type: 'error'
          })
        })
    },
    categoryListDownTop(index) {
      let list = this.categoryIds
      let arr = list.splice(index, 1);
      list.push(arr);
      let params = {
        ids: list.join(',')
      }
      fetch.categoryListUpdate(params)
        .then(res => {
          if (res.code == '100') {
            this.getCategoryList()
          } else {
            this.$message({
              message: '排序失败',
              type: 'error'
            })
          }
        })
        .catch(res => {
          this.$message({
            message: '排序失败',
            type: 'error'
          })
        })
    },
    validateMethods(obj,str){
      
    }
  },

  created: function() {
    this.getCategoryList()
  },
  mounted() {
    $(function() {
      $('.bbs-table').on('click', '.t-collapse', function() {
        $(this).toggleClass('shows');
        if ($(this).hasClass('shows')) {

          $(this).parent('tr').siblings('tr').hide();
        } else {

          $(this).parent('tr').siblings('tr').show();
        }
      })
    })
  },
  computed: {
    validateForumPath() {
      let strArr = []
      for (var i = 0; i < this.forumList.length; i++) {
        strArr.push(this.forumList[i].path);
      }
      return strArr;
    }
  },
  watch: {
    '$route': function(to, from) {
      this.getCategoryList();
    },
    forumList: {
      handler: function(newVal, oldVal) {
         
        for (var i = 0; i < this.forumList.length; i++) {
          this.forumList[i].title = this.forumList[i].title.replace(/[^A-Za-z0-9\u4e00-\u9fa5]/g, '');
          this.forumList[i].path = this.forumList[i].path.replace(/[\W]/g, '');        
        }
      },
      deep: true
    },
    categoryList: {
      handler: function(newVal, oldVal) {
        for (var i = 0; i < this.categoryList.length; i++) {
          this.categoryList[i].title = this.categoryList[i].title.replace(/[^A-Za-z0-9\u4e00-\u9fa5]/g, '');
          this.categoryList[i].path = this.categoryList[i].path.replace(/[\W]/g, '');          
        }
      },
      deep: true
    }
  }
}

</script>
<style scoped lang='scss'>

</style>
