<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">编辑版块</span>
            <span class="forum-hint">带"*"号的为必填项</span>
        </div>
        <div class="table-body table-responsive">
            <el-form :rules="rulesList" :model="ruleForm" ref="forumInfo">
                <el-form-item label="所属分区" class="form-group">
                    <el-col :span="6">
                        <el-select placeholder="所属分区" v-model="ruleForm.categoryId" @change="changeIds">
                            <el-option v-for="item in categoryList" :key="item.id" :label="item.title" :value="item.id">
                            </el-option>
                        </el-select>
                    </el-col>
                </el-form-item>
                <el-form-item label="版块名称" class="form-group" prop="title">
                    <el-col :span="6">
                        <el-input v-model="ruleForm.title"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="10"></el-col>
                </el-form-item>
                <el-form-item label="访问路径" class="form-group" prop="path">
                    <el-col :span="6">
                        <el-input v-model="ruleForm.path" @change="replaceStr"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="10" class="font-hint">请输入英文字母或数字</el-col>
                </el-form-item>
                <el-form-item label="关键字" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="ruleForm.keywords"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp;</el-col>
                    <el-col :span="10" class="font-hint">关键字，用于搜索引擎优化</el-col>
                </el-form-item>
                <el-form-item label="版主" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="ruleForm.moderators"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp;</el-col>
                    <el-col :span="10" class="font-hint">多个版主用","号隔开</el-col>
                </el-form-item>
                <!--高级设置-->
                <el-form-item label="" class="form-group">
                    <span class="setting-collapse-option">高级设置</span>
                </el-form-item>
                <div v-if="collapse">
                    <el-form-item label="版块介绍" class="form-group">
                        <el-col :span="6">
                            <el-input type="textarea" v-model="ruleForm.description"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="版块规则" class="form-group">
                        <el-col :span="6">
                            <el-input type="textarea" v-model="ruleForm.forumRule"></el-input>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="外部链接" class="form-group">
                        <el-col :span="6">
                            <el-input v-model="ruleForm.outerUrl"></el-input>
                        </el-col>
                        <el-col :span="1" class="required">&nbsp;</el-col>
                        <el-col :span="10" class="font-hint">指向外部url</el-col>
                    </el-form-item>
                    <!---积分规则-->
                    <el-form-item label="积分规则" class="form-group">
                        <div class="form-content">
                            <label class="label-edit">发帖得积分</label>
                            <el-input v-model="ruleForm.pointTopic" type="number"></el-input>
                        </div>

                        <div class="form-content">
                            <label class="label-mes">回复得积分</label>
                            <el-input v-model="ruleForm.pointReply" type="number"></el-input>
                        </div>

                        <div class="form-content">
                            <label class="label-hot">加精华得积分</label>
                            <el-input v-model="ruleForm.pointPrime" type="number"></el-input>
                        </div>
                    </el-form-item>
                    <!--威望规则-->
                    <el-form-item label="威望规则" class="form-group">
                        <div class="form-content">
                            <label class="label-edit">发帖得威望</label>
                            <el-input v-model="ruleForm.prestigeTopic" type="number"></el-input>
                        </div>

                        <div class="form-content">
                            <label class="label-mes">回复得威望</label>
                            <el-input v-model="ruleForm.prestigeReply" type="number"></el-input>
                        </div>
                        <div class="form-content">
                            <label class="label-hot">加精华得威望</label>
                            <el-input v-model="ruleForm.prestigePrime1" type="number"></el-input>
                        </div>
                        <div class="form-content">
                            <label class="label-stop">解除精华减威望</label>
                            <el-input v-model="ruleForm.prestigePrime0" type="number"></el-input>
                        </div>

                        
                    </el-form-item>

                    <el-form-item label="帖子打赏" class="form-group">
                        <el-switch on-text="开启" off-text="关闭" v-model="ruleForm.supportReward"></el-switch>
                    </el-form-item>
                    <el-form-item label="发帖是否需要审核" class="form-group" >
                        <el-switch on-text="是" off-text="否" v-model="ruleForm.topicNeedCheck"></el-switch>
                    </el-form-item>
                    <el-form-item label="回帖是否需要审核" class="form-group" >
                        <el-switch on-text="是" off-text="否" v-model="ruleForm.postNeedCheck"></el-switch>
                    </el-form-item>
                </div>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateFourms" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>

    </div>
</template>

<script>
import * as fetch from '../../../api/bbs'
export default {
    data() {
        var validateTitle = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请输入版块名称'));
            } else {
                 let reg=/[^A-Za-z0-9\u4e00-\u9fa5]/g;  
                  if(reg.test(value)){
                     callback(new Error('版块名称只能输入数字，字母和中文'));
                  }else{
                      callback()
                  }
               
            }
        };
         var validatePath = (rule, value, callback) => {
              if (value === '') {
                callback(new Error('请输入版块路径'));
            } else {
                 let reg=/[\W]/g;  
                  if(reg.test(value)){
                     callback(new Error('版块名称只能输入数字，字母'));
                  }else{
                      callback()
                  }
               
            }
        };
        return {
            collapse: false,
            ruleForm: {},
            categoryList: [],
            rulesList: {
                title:[
                    { validator: validateTitle, trigger: 'blur' }
                ],
                path: [
                    { validator: validatePath, trigger: 'blur' }
                ],
            }
        }
    },
    methods: {
        getCategoryList() {
            fetch.getCategoryList()
                .then(res => {
                    //console.log(res);
                    this.categoryList = res.body;
                })
        },
        getFourm(id) {
            fetch.getFourm({ id: id })
                .then(res => {
                    //console.log(res);
                    this.ruleForm = res.body;
                })
                .catch(res => {
                    this.$message('请求错误')
                })
        },
        changeIds(res) {
            let title = '';
            for (let i = 0; i < this.categoryList.length; i++) {
                if (this.categoryList[i].id == res) {
                    title = this.categoryList[i].title;
                    break;
                }
            }
            this.ruleForm.categoryId = res;
            this.ruleForm.categoryTitle = title;
        },
        updateFourms() {
            let params = {};
            for (let key in this.ruleForm) {
                params[key] = this.ruleForm[key];
            }
            fetch.updateFourms(params)
                .then(res => {
                    //console.log(res);
                    if (res.code = '100') {
                        this.$message({
                            message: '修改成功!',
                            type: 'success'
                        })
                        setTimeout(() => {
                            this.$router.push({ path: '/fourm' })
                        }, 500);
                    } else {
                        this.$message({
                            message: res.message,
                            type: 'error'
                        })
                    }
                })
                .catch(res => {
                    this.$message({
                        message: '修改异常',
                        type: 'error'
                    })
                })
        },
        replaceStr(val){
            //this.ruleForm.path=val.replace(/[\W]/g,'');
           
        }
    },
    watch:{
    ruleForm: {
      handler: function(newVal, oldVal) {
           this.ruleForm.path=this.ruleForm.path
      },
      deep: true
    }
    },
    mounted() {
        let self = this;
        $(function() {
            $('.table-body').on('click', '.setting-collapse-option', function() {
                $(this).toggleClass('setting-collapse-option-on');
                if ($(this).hasClass('setting-collapse-option-on')) {
                    self.collapse = true;
                } else {
                    self.collapse = false;
                }
            })
        })
    },
    created: function() {
        let id = this.$route.query.id;
        this.getFourm(id);
        this.getCategoryList();
    }
}
</script>
  
<style scoped lang='scss'>
.form-content {
    display: inline-block;
    float: left;
    margin-right: 30px;
    
    >label {
        position: relative;
        color: #353535;
        padding-left: 21px;
        margin-right: 5px;
    }
    >.el-input {
        width: 80px;
    }
}
@media screen and(max-width:1390px) {
    .form-content{
        margin-bottom: 10px;
    }
}
</style>
