<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :model="systemInfo" :rules="rules" ref="topicInfo">
                <el-form-item label="日收费" class="form-group" >
                    <el-col :span="6">
                        <el-input v-model="systemInfo.adDayCharge"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>
                <el-form-item label="点击收费(次)" class="form-group" >
                    <el-col :span="6">
                        <el-input v-model="systemInfo.adClickCharge"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>
                <el-form-item label="展现收费(次)" class="form-group" >
                    <el-col :span="6">
                        <el-input v-model="systemInfo.adDisplayCharge"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateAdInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
import * as users from '../../../api/usermanage'
export default {
    data() {
        return {
            loading: true,
            systemInfo: {},
            groupList: [],
            rules: {
                exchangetax: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                miniBalance: [{ required: true, type: 'number', message: '此项必填', trigger: 'blur' }]
            },
        }
    },
    methods: {

        getAdInfo() {//获取系统信息
            fetch.getAdInfo()
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;
                        this.systemInfo = res.body;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        updateAdInfo(formName) {//修改系统信息
            this.$refs[formName].validate((valid) => {
                document.querySelector("#main").scrollTop = 0;
                if (valid) {
                     this.loading = true;
                    let params = this.systemInfo;
                    fetch.updateAdInfo(params)
                        .then(res => {
                             this.loading = false;
                            if (res.code == '100') {
                                
                                this.$message.success('修改成功');
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                             this.loading = false;
                            this.$message.error('修改失败');
                        })
                } else {
                    document.querySelector("#main").scrollTop = 0;
                    return false;
                }
            });
        }
    },

    created: function() {

        this.getAdInfo();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getAdInfo()
        }
    }
}
</script>
<style>

</style>
