<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
           
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="friendLinkInfo" ref="topicInfo">
                <el-form-item label="网站名称" class="form-group" prop="name">
                    <el-col :span="6">
                        <el-input v-model="friendLinkInfo.name"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="网站地址" class="form-group" prop="domain">
                    <el-col :span="6">
                        <el-input v-model="friendLinkInfo.domain" ></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="网站类别" class="form-group" prop="categoryId">
                    <el-col :span="6">
                        <el-select placeholder="网站分类" v-model="friendLinkInfo.categoryId">
                            <el-option v-for="(item,index) in friendLinkCtgList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                        </el-select>

                    </el-col>
                </el-form-item>

                <el-form-item label="排列顺序" class="form-group" prop="priority">
                    <el-col :span="6">
                        <el-input v-model.number="friendLinkInfo.priority" type="number"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="点击次数" class="form-group" prop="views">
                    <el-col :span="6">
                        <el-input v-model.number="friendLinkInfo.views"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="站长邮箱" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="friendLinkInfo.email"></el-input>
                    </el-col>
                </el-form-item>

                <el-form-item label="图标路径" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="friendLinkInfo.logo"></el-input>
                        <div :class="state ? 'pic-box' : 'pic-box-no'">
                            <img :src="$store.state.baseUrl+imglogo" alt=""  @click="showBig"  v-if="!state">

                        </div>
                    </el-col>
                    <el-col :span="6">
                        <el-upload class="upload-demo" :action="$store.state.upLoadUrl" name="uploadFile"
                         :data="upobj"
                          :before-upload="beforeAvatarUpload" 
                          :on-success="getImglogo"
                          :show-file-list="fileState"                        
                          >
                            <el-button  type="primary" style="margin-left:10px">点击上传</el-button>
                        </el-upload>
                         <el-dialog title="按下esc退出全屏" v-model="dialogVisible" size="full" class="pic-dialog" >
                            <img  :src="$store.state.baseUrl+imglogo" alt="" class="big-img">
                     </el-dialog>
                    </el-col>
                </el-form-item>

                <el-form-item label="是否显示" class="form-group">
                    <el-col :span="1">
                        <el-switch on-text="是" off-text="否" v-model="friendLinkInfo.enabled"></el-switch>
                    </el-col>
                </el-form-item>

                <el-form-item label="网站简介" class="form-group">
                    <el-col :span="6">
                        <el-input type="textarea" v-model="friendLinkInfo.description"></el-input>
                    </el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='edit'" @click="updateFriendLinkInfo('topicInfo')" />
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='add'" @click="addFriendLinkInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/operation'
export default {
    data() {
        return {
             fileState:true,
            dialogVisible:false,
            loading: true,
            count: 0,
            state: false,
            imglogo: '',//图片路径
            rootId: 0,
            upobj: {//上传参数
                type: 'image',
                sessionKey: localStorage.getItem('sessionKey'),
                appId: this.$store.state.appId
            },
            friendLinkInfo: {},
            friendLinkCtgList: [],
            rules: {
                name: [{ required: true, message: '请填写一个友情链接名字', trigger: 'blur' }],
                priority: [{ required: true, type: 'number', message: '请填写一个数字排序', trigger: 'blur' }]
            },
        }
    },
    methods: {
         showBig(){
           this.dialogVisible=true;      
        },
        getFriendLinkCtgList() {//获取分类
            fetch.getFriendLinkCtgList()
                .then(res => {
                    if (res.code == '100') {
                        //console.log(res);
                        this.friendLinkCtgList = res.body;
                        this.loading = false;
                    }
                })
        },
        getFriendLinkInfo(id) {//获取分类友情链接信息
            fetch.getFriendLinkInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;
                        if (this.$route.query.type == 'add') {
                        }
                        this.friendLinkInfo = res.body;
                        if (this.friendLinkInfo.logo == '') {
                            this.state = true;
                        } else {
                            this.imglogo = res.body.logo;
                            this.state = false;
                        }

                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        setChange(val) {

        },
        updateFriendLinkInfo(formName) {//修改友情链接
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.friendLinkInfo;
                    params.ctgId=this.friendLinkInfo.categoryId
                    fetch.updateFriendLinkInfo(params)
                        .then(res => {
                            //console.log("类型="+ typeof res);
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/friendlinklist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        addFriendLinkInfo(formName) {//添加友情链接
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.friendLinkInfo;
                     params.ctgId=this.friendLinkInfo.categoryId
                    fetch.addFriendLinkInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/friendlinklist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('添加异常');
                        })
                } else {
                    return false;
                }
            });
        },
        back() {
            this.$router.push({
                path: '/friendlinklist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        },
        beforeAvatarUpload(file) {//上传验证
         this.fileState=true;
            const isJPG = file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/gif';
            const isLt2M = file.size / 1024 / 1024 < 2;
            if (!isJPG) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
            }
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过2MB!');
            }
            return isJPG && isLt2M;
        },
        getImglogo(res, file, fileList) {//回填服务器图片路径

            this.imglogo = res.body.url;
             this.fileState=false;
            this.state = false;
            this.friendLinkInfo.logo = res.body.url;
        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
        this.getFriendLinkCtgList();
        if (type == 'add') {
            this.getFriendLinkInfo(id);

        } else if (type == 'edit') {
            this.getFriendLinkInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getFriendLinkCtgList();
            this.getFriendLinkInfo(id);
        }
    }
}
</script>
<style>

</style>
