<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name tab-name active " @click="linkfriend">友情链接列表</span>
              <span class="forum-name tab-name" @click="linkfriendctg">友情链接类别管理</span>
        </div>
        <div class="table-top-bar clearfix">
            <a href="javascript:void(0)" class="add-Class" @click="addFriendLinkList">添加</a>
            <div class="pull-right">
                <label>网站类别：</label>
                <el-select placeholder="请选择" v-model="params.queryCtgId" @change="queryCtg" class="w128">
                    <el-option value=" " label="全部分类">
                    </el-option>
                    <el-option v-for="item in friendLinkCtgList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </div>
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="friendLinkList" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="50"></el-table-column>
                    <el-table-column label="网站名称" prop="name" align="center"></el-table-column>
                    <el-table-column label="网站logo" prop="logo" align="center">
                           <template scope="scope">
                               <img :src="$store.state.baseUrl+scope.row.logo"  height="25">
                             
                        </template> 
                    </el-table-column>
                    <el-table-column label="点击次数" prop="views" align="center"></el-table-column>
                    <el-table-column label="排列顺序" prop="priority" align="center">
                        <template scope="scope">
                            <el-input style="width:40%" v-model="scope.row.priority"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="是否显示" prop="enabled" align="center">
                        <template scope="scope">
                            <span v-if="scope.row.enabled">是</span>
                            <span class="red" v-else>否</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-edit" title="编辑" @click="editFriendLink(scope.row.id)"></a>
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteFriendLink(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                 <el-button @click="savePriority">保存排列顺序</el-button>
                <el-button :disabled="disabled" @click="deleteFriendLink(ids)">批量删除</el-button> 
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/operation'
export default {
    data() {
        return {
            loading: true,
            friendLinkCtgList: [],
            friendLinkList: [],
            ids: '',//批量删除列表
            sort: this.$store.state.sort,//排序列表
            lastLoginDay: this.$store.state.lastLoginDay,//时间排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                queryCtgId: ''
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
        getFriendLinkCtgList() {//获取友情链接分类信息列表
            fetch.getFriendLinkCtgList()
                .then(res => {
                    if (res.code == '100') {
                        this.friendLinkCtgList = res.body;
                        this.loading = false;
                    }
                })

        },
        getFriendLinkList() {//获取友情链接信息列表
            let params = this.params;
            fetch.getFriendLinkList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.friendLinkList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        queryCtg(val) {//查询分类
            this.loading = true;
            this.getFriendLinkList();
        },
        savePriority() {//保存排列顺序
            this.loading = true;
            let list = this.friendLinkList;
            let params = {
                wids: [],
                priorities: []
            }
            for (let i = 0; i < list.length; i++) {
                params.wids.push(list[i].id);
                params.priorities.push(list[i].priority);
            }
            params.wids = params.wids.join(",");
            params.priorities = params.priorities.join(",");
            fetch.friendLinkBatchUpdate(params)
                .then(res => {
                    this.loading = false;
                    if (res.code == '100') {
                        this.$message.success('保存成功');
                        this.getFriendLinkList();
                    } else {
                        this.$message.error(res.message);
                    }
                }).catch(res => {
                    this.loading = false;
                    this.$message.error('保存异常');
                })
        },
        linkfriend(){
             this.$router.push({
                path: '/friendlinklist',
                query: {
                   noceStr:Math.round(Math.random()*10)
                        
                }
            });    
        },
        linkfriendctg(){
             this.$router.push({
                path: '/friendlinkctg',
                query: {
                   noceStr:Math.round(Math.random()*10)
                        
                }
            });    
        },
        addFriendLinkList(rootId) {//添加友情链接
            this.$router.push({
                path: '/friendlinkadd',
                query: {
                    type: 'add',
                    id: 0,                
                }
            });
        },
        editFriendLink(id) {//修改友情链接
            this.$router.push({
                path: '/friendlinkedit',
                query: {
                    type: 'edit',
                    id: id
                }
            });
        },
        deleteFriendLink(id) {//删除友情链接
            this.ids = id;
            this.$confirm('您确定要删除友情链接吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteFriendLinkInfo({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getFriendLinkList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getFriendLinkList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getFriendLinkList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getFriendLinkList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getFriendLinkList();
        this.getFriendLinkCtgList();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getFriendLinkList();
            this.getFriendLinkCtgList();
        }
    }
}
</script>

<style>

</style>
