    <template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
            <span class="forum-hint">带"*"号的为必填项</span>
        </div>
        <div class="table-body table-responsive">
            <el-form :rules="rules" :model="userInfo" ref="userInfo">
                <el-form-item label="发给所有人" class="form-group">
                    <el-col :span="1">
                        <el-switch on-text="是" off-text="否" v-model="userInfo.toAll" @change="rulesChange"></el-switch>
                    </el-col>
                </el-form-item>

                <el-form-item label="会员组" class="form-group" prop="groupId" v-if="!userInfo.toAll">
                    <el-col :span="6">
                        <el-select placeholder="用户组" v-model="userInfo.groupId">
                            <el-option v-for="item in groupList" :key="item.id" :label="item.name" :value="item.id">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp;</el-col>
                </el-form-item>
                <el-form-item label="用户名" class="form-group" prop="username" v-if="!userInfo.toAll">
                    <el-col :span="6">
                        <el-input v-model="userInfo.username"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="内容" class="form-group" prop="content">
                    <el-col :span="6">
                        <el-input type="textarea" v-model="userInfo.content"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="addSystemMessageInfo('userInfo')" />
                <input type="reset" value="重置" class="bbs-reset" @click="resetForm('userInfo')" />
            </div>
        </div>

    </div>
</template>

    <script>
import * as fetch from '../../../api/usermanage'
export default {
    data() {

        return {
            loading: true,
            userInfo: {
                content: '',
                toAll: true,
                groupId: '',
                username: ''
            },//用户修改添加字段
            adminInfo: {},
            groupList: [],//会员组
            roleList: [],
            roleIds: [],
            rules: {
                groupId: [{ type: 'number', required: true, message: '请选择一个会员组', trigger: 'change' }],
                username: [{ required: true, message: '请输入接受消息的用户名', trigger: 'change' }],
                content: [{ required: true, message: '请输入消息', trigger: 'change' }]

            }
        }
    },
    methods: {
        getuserGroupList() {//获取会员组
            fetch.getGroupList({ groupType: -1 })
                .then(res => {
                    this.groupList = res.body;
                    this.loading = false;
                })
        },

        addSystemMessageInfo(formName) {//修改管理信息
        //    this.$refs[formName].resetFields();
            if (this.userInfo.toAll) {
                    this.$refs[formName].validateField('content',(errorMessage)=>{
                        if(errorMessage==''){
                            let params = this.userInfo;
                                fetch.addSystemMessageInfo(params)
                                    .then(res => {
                                        if (res.code == '100') {
                                            this.$message.success('发送成功');
                                            setTimeout(() => {
                                                this.$router.push({ path: '/systemmessagelist' })
                                            }, 500);
                                        } else {
                                            this.$message.error('发送失败');
                                        }
                                    })
                                    .catch(res => {
                                        this.$message.error('发送异常');
                                    })
                        }else{
                            return;
                        }
                    })
            } else {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        let params = this.userInfo;
                        fetch.addSystemMessageInfo(params)
                            .then(res => {
                                if (res.code == '100') {
                                    this.$message.success('发送成功');
                                    setTimeout(() => {
                                        this.$router.push({ path: '/systemmessagelist' })
                                    }, 500);
                                } else {
                                    this.$message.error('发送失败');
                                }
                            })
                            .catch(res => {
                                this.$message.error('发送异常');
                            })
                    } else {
                        return false;
                    }
                });
            }



        },
rulesChange(val){
    this.$refs['userInfo'].resetFields();
},
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }

    },
    created: function() {
        this.getuserGroupList();
    }
}
</script>
    <style>
.el-checkbox-group>label {
    display: inline-block;
    margin-right: 12px;
}
</style>
