<template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">系统消息列表</span>
        </div>
        <div class="table-top-bar clearfix">
            
            <el-button type="warning" @click="addUser">发送系统消息</el-button>
        </div>
        <div class="table-responsive">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="userList" @selection-change="checkIds">
                    <el-table-column type="selection" width="68" align="center"></el-table-column>
                     <el-table-column label="id" prop="id" align="center" :width="68"></el-table-column>
                    <el-table-column label="发送人" prop="sender" align="center" ></el-table-column>
                      <el-table-column label="发送时间" prop="createTime" align="center" ></el-table-column>
                    <el-table-column label="消息内容" prop="content" :show-overflow-tooltip="true"
                     align="center" ></el-table-column>
                    <el-table-column label="操作" align="center" :width="100">
                        <template scope="scope">               
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteUser(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>

        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button :disabled="disabled" @click="deleteUser(ids)">批量删除</el-button>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/usermanage'
export default {
    data() {
        return {
            checkAll: false,
            isIndeterminate: true,
            loading: true,
            userList: [],
            ids: '',//批量删除列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
        getSystemMessageList() {//获取系统消息信息列表
            let params = this.params;
            fetch.getSystemMessageList(params)
                .then(res => {       
                    if (res.code == '100') {
                        this.userList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error('数据获取失败');
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        addUser() {//添加系统消息
            this.$router.push({
                path: '/systemmessageadd',
                query: {
                    type: 'add',
                    id: 0
                }
            });
        },
        deleteUser(id) {//删除系统消息
            this.ids = id;
            this.$confirm('您确定要删除系统消息吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteSystemMessageInfo({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getSystemMessageList();
                            } else {
                                this.$message.error('删除失败');
                            }
                        })
                        .catch(res => {
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getSystemMessageList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getSystemMessageList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getSystemMessageList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getSystemMessageList();
    }
}
</script>

<style scoped>
    .text-ellipsis{

    }
</style>
