<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :model="systemInfo" :rules="rules" ref="topicInfo">
                <el-form-item label="登录错误次数" class="form-group" prop="errorTimes">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.errorTimes"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray">达到错误次数后显示验证码</el-col>
                </el-form-item>
                <el-form-item label="登录错误时间" class="form-group" prop="errorInterval">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.errorInterval"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray">(分钟)。超过时间重计次数</el-col>
                </el-form-item>

                <el-form-item label="邮件服务器" class="form-group" prop="host">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.host"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>
                <el-form-item label="邮件端口" class="form-group">
                    <el-col :span="6">
                        <el-input v-model.number="params.port"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray">留空则为默认端口</el-col>
                </el-form-item>
                <el-form-item label="邮件用户名" class="form-group" prop="username">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.username"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray"> </el-col>
                </el-form-item>
                <el-form-item label="邮件密码" class="form-group">
                    <el-col :span="6">
                        <el-input v-model.number="params.password" type="password"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray">留空则不修改</el-col>
                </el-form-item>
                <el-form-item label="邮件编码" class="form-group" prop="encoding">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.encoding"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>
                <el-form-item label="发件人" class="form-group" prop="personal">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.personal"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>
                <el-form-item label="找回密码标题" class="form-group" prop="forgotPasswordSubject">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.forgotPasswordSubject"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>
                <el-form-item label="找回密码内容" class="form-group" prop="forgotPasswordText">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.forgotPasswordText" type="textarea" :rows="8"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray">
                        用户ID：${uid}，用户名：${username}，重置KEY：${resetKey}，重置密码：${resetPwd}
                    </el-col>
                </el-form-item>

                <el-form-item label="会员注册标题" class="form-group" prop="registerSubject">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.registerSubject"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>
                <el-form-item label="会员注册内容" class="form-group" prop="registerText">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.registerText" type="textarea" :rows="8"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray">
                        用户名：${username}，激活码：${activationCode}
                    </el-col>
                </el-form-item>

            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateLoginInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
import * as users from '../../../api/usermanage'
export default {
    data() {
        return {
            loading: true,
            systemInfo: {},
            params: {
                port: '',
                password: ''
            },
            groupList: [],
            rules: {
                errorTimes: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                errorInterval: [{ required: true, type: 'number', message: '此项必填', trigger: 'blur' }],
                host: [{ required: true, message: '此项必填', trigger: 'blur' }],
                username: [{ required: true, message: '此项必填', trigger: 'blur' }],
                forgotPasswordSubject: [{ required: true, message: '此项必填', trigger: 'blur' }],
                forgotPasswordText: [{ required: true, message: '此项必填', trigger: 'blur' }],
                registerSubject: [{ required: true, message: '此项必填', trigger: 'blur' }],
                registerText: [{ required: true, message: '此项必填', trigger: 'blur' }],
            },
        }
    },
    methods: {
        getuserGroupList() {//获取会员组
            users.getGroupList({ groupType: -1 })
                .then(res => {
                    this.groupList = res.body;
                })
        },
        getLoginInfo() {//获取系统信息
            fetch.getLoginInfo()
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;
                        this.systemInfo = res.body;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        updateLoginInfo(formName) {//修改系统信息
            this.$refs[formName].validate((valid) => {
                document.querySelector("#main").scrollTop = 0;
                if (valid) {
                    let params = this.systemInfo;
                      params.port=this.params.port;
                    params.password=this.params.password; 
                    fetch.updateLoginInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    document.querySelector("#main").scrollTop = 0;
                    return false;
                }
            });
        }
    },

    created: function() {
        this.getuserGroupList();
        this.getLoginInfo();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getLoginInfo()
        }
    }
}
</script>
<style>

</style>
