<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name" v-show="$route.query.type=='add'">{{$route.name}}</span>
             <span class="forum-name" v-show="$route.query.type=='edit'">查看api接口账户</span>
        </div>
        
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="params" ref="topicInfo">
                     <el-form-item label="独立密码" class="form-group" prop="apiPwd" >
                    <el-col :span="6">
                        <el-input v-model="params.apiPwd" type='password'
                        ></el-input>
                    </el-col>
                      <el-col :span="1" class="required" v-show="$route.query.type=='add'">* </el-col>
                       <el-col :span="2" class="required" v-show="$route.query.type=='edit'"><el-button @click="showpwd">查看</el-button></el-col>
                        <el-col :span="7" class="gray" v-show="$route.query.type=='edit'">输入密码后查看信息</el-col>
                </el-form-item>

                <el-form-item label="appid" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="params.setAppId"
                         :disabled="true"
                         :type='valueType'
                           class="handle"
                        ></el-input>
                    </el-col>
                    <el-col :span="2" class="required" v-show="$route.query.type=='add'">
                        <el-button @click="creatAppId">生成</el-button>
                    </el-col>
                </el-form-item>
                <el-form-item label="appkey" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="params.appKey"
                        :disabled="true"
                         :type='valueType'
                           class="handle"
                        ></el-input>
                    </el-col>
                    <el-col :span="2" class="required" v-show="$route.query.type=='add'">
                        <el-button @click="creatAppKey">生成</el-button>
                    </el-col>
                     
                </el-form-item>
                <el-form-item label="aesKey" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="params.aesKey"
                        :disabled="true"
                         :type='valueType'
                           class="handle"
                        ></el-input>
                    </el-col>
                    <el-col :span="2" class="required" v-show="$route.query.type=='add'">
                        <el-button @click="creatAesKey">生成</el-button>
                    </el-col>
                   
                </el-form-item>
                <el-form-item label="ivKey" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="params.ivKey"
                          :disabled="true"
                           :type='valueType'
                           class="handle"
                        >

                        </el-input>
                    </el-col>
                    <el-col :span="2" class="required" v-show="$route.query.type=='add'">
                        <el-button @click="creatIvKey">生成</el-button>
                    </el-col>

                </el-form-item>
                <el-form-item label="是否禁用" class="form-group" :required="true" v-show="$route.query.type=='add'">
                    <el-col :span="6">
                        <el-switch on-text="" off-text="" v-model="ModelInfo.disabled"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required"></el-col>
                   
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='add'" @click="addApiAccountInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" v-if="$route.query.type=='add'"/>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
import { Encrypt } from "../../../untils/aes";
export default {
    data() {
        var validatePwd = (rule, value, callback) => {              
            if (value === '') {
                callback(new Error('请输入独立密码'));
                this.valueType='password'
            }  else {
                   let pwd=Encrypt(value,this.$store.state.aesKey,this.$store.state.ivKey);
                 fetch.validateApiPwd({pwd:pwd})
                 .then(res=>{
                     if(res.code=='100'){
                        callback();
                       this.show=true;
                     }else{
                         this.show=false;
                         callback(new Error('密码不正确'));}}
                 )  
            }
        };
        return {
            loading: true,
            count: 0,
            state: false,
            show:false,
            ModelInfo: {},
            valueType:'password',
            params:{
                    apiPwd:'',
                    setAppId:'',
                    appKey:'',
                    aesKey:'',
                    ivKey:''
            },
            paramNames: [],
            defaultValues: [],
            rules: {
                    apiPwd:[{validator:validatePwd,trigger:'blur'}]
            },
        }
    },
    methods: {
        getApiAccountInfo(id) {//获取分类模型信息
            fetch.getApiAccountInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                      let type = this.$route.query.type;
                        this.loading = false;
                        this.ModelInfo = res.body;
                         this.params.apiPwd='';
                        this.params=res.body;
                               
                                   
                    } else {
                        this.loading = false;                      
                    }
                })
                .catch(res => {
                    this.loading = false;
                })
        },
        showpwd(){
           if(this.show){
                  this.valueType='text'
           }else{
                this.valueType='password' 
           }  
        },
        creatAppId(){
            this.params.setAppId=this.randomWord(false,true,16);  
        },
         creatAppKey(){
            this.params.appKey=this.randomWord(false,false,32);  
        },
         creatAesKey(){
            this.params.aesKey=this.randomWord(false,false,16);  
        },
         creatIvKey(){
            this.params.ivKey=this.randomWord(false,false,16);  
        },
         randomWord(randomFlag,numFlag,min,max) {
            var str = "",
                range = min,
                arr = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'];

            // 随机产生
            if (randomFlag) {
                range = Math.round(Math.random() * (max - min)) + min;
            }
            //纯数字组合
            if (numFlag) {
                arr = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
            }
            for (var i = 0; i < range; i++) {
                let pos = Math.round(Math.random() * (arr.length - 1));
                str += arr[pos];
            }
            return str;
        },
        addApiAccountInfo(formName) {//添加账户
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.ModelInfo;
                          params.apiPwd= Encrypt(this.params.apiPwd, this.$store.state.aesKey, this.$store.state.ivKey);
                          params.setAppId=this.params.setAppId;
                             params.appKey=this.params.appKey;
                               params.aesKey=this.params.aesKey;
                                 params.ivKey=this.params.ivKey;
                    fetch.addApiAccountInfo(params)
                        .then(res => {
                            //console.log(res);
                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/webapiaccountlist' })
                                }, 1000);
                            }
                        })
                        .catch(res => {
                            this.$message.error('添加异常');
                        })
                } else {
                    return false;
                }
            });
        },
        back() {
            this.$router.push({
                path: '/webapiaccountlist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;

        if (type == 'add') {
            this.valueType='text';
            this.getApiAccountInfo(id);
        } else if (type == 'edit') {
           this.valueType='password';
            this.getApiAccountInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getApiAccountInfo(id);
        }
    }
}
</script>
<style scoped>
.mb10 {
    margin-bottom: 10px;
}

</style>
