<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>
        
        <div class="table-body table-responsive">
            <el-form :rules="rules" :model="params" ref="topicInfo">
                     <el-form-item label="旧密码" class="form-group" prop="oldPwd" >
                    <el-col :span="6">
                        <el-input v-model="params.oldPwd" type='password'
                        ></el-input>
                    </el-col>
                      <el-col :span="1" class="required">* </el-col>                  
                </el-form-item>
                  <el-form-item label="新密码" class="form-group" prop="newPwd" >
                    <el-col :span="6">
                        <el-input v-model="params.newPwd" type='password'
                        ></el-input>
                    </el-col>
                      <el-col :span="1" class="required" >* </el-col>                  
                </el-form-item>   
                 <el-form-item label="再次输入新密码" class="form-group" prop="newPwd2" >
                    <el-col :span="6">
                        <el-input v-model="params.newPwd2" type='password'
                        ></el-input>
                    </el-col>
                      <el-col :span="1" class="required" >* </el-col>                  
                </el-form-item>          
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit"  @click="updateApiPwd('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
import { Encrypt } from "../../../untils/aes";
export default {
    data() {
        var validatePwd = (rule, value, callback) => {              
            if (value === '') {
                callback(new Error('请输入独立密码'));
            }  else {
                   let pwd=Encrypt(value,this.$store.state.aesKey,this.$store.state.ivKey);
                 fetch.validateApiPwd({pwd:pwd})
                 .then(res=>{
                     if(res.code=='100'){
                        callback();  
                     }else{     
                         callback(new Error('密码不正确'));}}
                 )  
            }
        };
        var validatePass = (rule, value, callback) => {
            if (value === '') {
               callback(new Error('请输入新密码'));
            } else {
                // if (this.params.newPwd !== '') {
                //     this.$refs.topicInfo.validateField('newPwd');
                // }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
             callback(new Error('请再次输入密码'));
            } else if (value !== this.params.newPwd) {
                callback(new Error('两次输入密码不一致!'));
            } else {
                callback();
            }
        };    


        return {
            params:{
                    oldPwd:'',
                   newPwd:'',
                   newPwd2:''
            },
            rules: {
                    oldPwd:[{validator:validatePwd,trigger:'blur'}],
                     newPwd:[{validator:validatePass,trigger:'blur'}],
                      newPwd2:[{validator:validatePass2,trigger:'blur'}]
            },
        }
    },
    methods: {
        updateApiPwd(formName) {//添加账户
            this.$refs[formName].validate((valid) => {
                if (valid) {
                         this.params.oldPwd= Encrypt(this.params.oldPwd, this.$store.state.aesKey, this.$store.state.ivKey);
                     this.params.newPwd= Encrypt(this.params.newPwd, this.$store.state.aesKey, this.$store.state.ivKey);
                     this.params.aesKey=this.$store.state.aesKey;
                     this.params.ivKey=this.$store.state.ivKey;
                    fetch.updateApiPwd(this.params)
                        .then(res => {
                            //console.log(res);
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/webapiaccountlist' })
                                }, 1000);
                            }
                        })
                        .catch(res => {
                            this.$message.error('添加异常');
                        })
                } else {
                    return false;
                }
            });
        },
        resetForm(formName) {//重置表单
            this.$refs[formName].resetFields();
        }
    }
}
</script>
<style scoped>
.mb10 {
    margin-bottom: 10px;
}
</style>
