<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
            <div class="pull-right">
                <el-button @click="back">返回列表</el-button>
            </div>
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="ModelInfo" ref="topicInfo">
                <el-form-item label="字段" class="form-group" prop="field">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.field"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="名称" class="form-group" prop="label">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.label"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="数据类型" class="form-group" prop="categoryId">
                    <el-col :span="6">
                        <el-select placeholder="网站分类" v-model="ModelInfo.dataType">
                            <el-option v-for="(item,index) in modelCtgList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                        </el-select>

                    </el-col>
                </el-form-item>
                <el-form-item label="排列顺序" class="form-group" prop="priority">
                    <el-col :span="6">
                        <el-input v-model.number="ModelInfo.priority"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="是否必填" class="form-group" :required="true">
                    <el-col :span="1">
                        <el-switch on-text="" off-text="" v-model="ModelInfo.required"></el-switch>
                    </el-col>
                </el-form-item>

                <el-form-item label="帮助信息" class="form-group" prop="views">
                    <el-col :span="6">
                        <el-input v-model.number="ModelInfo.help"></el-input>
                    </el-col>
                    <el-col :span="1" class="required"></el-col>
                </el-form-item>

                <el-form-item label="帮助位置" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.helpPosition"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp;</el-col>
                     <el-col :span="6" class="gray"> 上1，右2，下3，左4</el-col>
                </el-form-item>
                <el-form-item label='默认值' class="form-group">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.defValue"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp;</el-col>
                   
                </el-form-item>

                <el-form-item label="宽度" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.size"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp;</el-col>
                   
                </el-form-item>
                <el-form-item label="可选项" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.optValue"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp;</el-col>
                     <el-col :span="6" class="gray"> 多个值用","分开</el-col>
                </el-form-item>

                <el-form-item label="行数" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.rows"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp;</el-col>
                    <el-col :span="1" class=""></el-col>
                </el-form-item>

                <el-form-item label="列数" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.cols"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp;</el-col>
                    <el-col :span="1" class=""> </el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='edit'" @click="updateModelInfo('topicInfo')" />
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='add'" @click="addModelInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
export default {
    data() {
        return {
            loading: true,
            count: 0,
            state: false,
            imglogo: '',//图片路径
            rootId: 0,
            upobj: {//上传参数
                type: 'image',
                sessionKey: localStorage.getItem('sessionKey'),
                appId: this.$store.state.appId
            },
            ModelInfo: {},
            modelCtgList: [{
                id: 1,
                name: '字符串文本',

            }, {
                id: 2,
                name: '整型文本',

            }, {
                id: 3,
                name: '浮点型文本',

            }, {
                id: 4,
                name: '文本区',

            }, {
                id: 5,
                name: '日期',

            }, {
                id: 6,
                name: '下拉列表',

            }, {
                id: 7,
                name: '复选框',

            }, {
                id: 8,
                name: '单选框',

            }],
            rules: {
                field: [{ required: true, message: '此项必填', trigger: 'blur' }],
                label: [{ required: true, message: '此项必填', trigger: 'blur' }],
                priority:[{ required: true, type:'number',message: '请输入一个数字', trigger: 'blur' }],
            },
        }
    },
    methods: {
        getFriendLinkCtgList() {//获取分类
        },
        getModelInfo(id) {//获取分类模型信息
            fetch.getModelInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                        //console.log(res);
                        this.loading = false;
                        this.ModelInfo = res.body;
                        this.ModelInfo.dataType=1;
                        this.ModelInfo.required=false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        setChange(val) {

        },
        updateModelInfo(formName) {//修改模型
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.ModelInfo;
                    fetch.updateModelInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/modelconfig' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        addModelInfo(formName) {//添加模型
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.ModelInfo;    
                    fetch.addModelInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/modelconfig' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('添加异常');
                        })
                } else {
                    return false;
                }
            });
        },
        back() {
            this.$router.push({
                path: '/modelconfig',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
        
        if (type == 'add') {
            this.getModelInfo(id);
        } else if (type == 'edit') {
            this.getModelInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getModelInfo(id);
        }
    }
}
</script>
<style>

</style>
