<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">模型列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <a href="#" class="add-Class" @click="addModel">添加</a>
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="modelList" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="68"></el-table-column>
                    <el-table-column label="字段" prop="field" align="center"></el-table-column>
                    <el-table-column label="名称" prop="label" align="center">
                  <template scope="scope">
                               <el-input v-model="scope.row.label"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="数据类型" prop="dataType" align="center"></el-table-column>
                    <el-table-column label="是否必填" prop="required" align="center">
                        <template scope="scope">
                            <span v-if="scope.row.required">是</span>
                            <span class="red" v-else>否</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="排列顺序" prop="priority" align="center" >
                           <template scope="scope">
                               <el-input v-model="scope.row.priority" style="width:100px"></el-input>
                        </template>
                         
                    </el-table-column>
                    <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="#" class="t-edit iconfont bbs-edit" title="编辑" @click="editModel(scope.row.id)"></a>
                            <a href="#" class="t-del iconfont bbs-delete" title="删除" @click="deleteModel(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                 <el-button @click="savePriority">保存内容</el-button>
                <el-button :disabled="disabled" @click="deleteModel(ids)">批量删除</el-button>
               
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
export default {
    data() {
        return {
            loading: true,
            friendLinkCtgList: [],
            modelList: [],
            ids: '',//批量删除列表
            sort: this.$store.state.sort,//排序列表
            lastLoginDay: this.$store.state.lastLoginDay,//时间排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                queryCtgId: ''
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
     
        getModelList() {//获取模型信息列表
            let params = this.params;
            fetch.getModelList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.modelList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        savePriority() {//保存排列顺序
            this.loading = true;
            let list = this.modelList;
            let params = {
                ids: [],
                priorities: [],
                labels:[]
            }
            for (let i = 0; i < list.length; i++) {
                params.ids.push(list[i].id);
                params.priorities.push(list[i].priority);
                  params.labels.push(list[i].label);
            }
            params.ids = params.ids.join(",");
            params.priorities = params.priorities.join(",");
            params.labels = params.labels.join(",");
            fetch.modelBatchUpdate(params)
                .then(res => {
                    this.loading = false;
                    if (res.code == '100') {
                        this.$message.success('保存成功');
                        this.getModelList();
                    } else {
                        this.$message.error(res.message);
                    }
                }).catch(res => {
                    this.loading = false;
                    this.$message.error('保存异常');
                })
        },
        addModel(rootId) {//添加模型
            this.$router.push({
                path: '/addmodelconfig',
                query: {
                    type: 'add',
                    id: 0,                
                }
            });
        },
        editModel(id) {//修改模型
            this.$router.push({
                path: '/editmodelconfig',
                query: {
                    type: 'edit',
                    id: id
                }
            });
        },
        deleteModel(id) {//删除模型
            this.ids = id;
            this.$confirm('您确定要删除模型吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteModelInfo({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getModelList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getModelList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getModelList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getModelList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getModelList();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getModelList();
           
        }
    }
}
</script>

<style>

</style>
