<template>
  <div id="app">
    <router-view>
    </router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>
<style>
   #app{
     position: absolute;
     width: 100%;
    overflow: hidden;
   background: #f0f4f6;
    min-height: 100%;
    
   }
</style>
