<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">API接口列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <a href="javascript:void(0)" class="add-Class" @click="addWebservice">添加</a>
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="bbslimitList" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="50"></el-table-column>
                    <el-table-column label="名称" prop="name" align="center"></el-table-column>
                    <el-table-column label="地址" prop="url" align="center"></el-table-column>     
<el-table-column label="接口代码" prop="code" align="center"></el-table-column>     
<el-table-column label="是否禁用" prop="disabled" align="center">
    <template scope="scope">
                            <span v-if="!scope.row.disabled" class="red">否</span>
                            <span v-else>是</span>
                        </template>
                        </el-table-column>     
<el-table-column label="调用总次数" prop="callTotalCount" align="center"></el-table-column>     
<el-table-column label="月调用次数" prop="callMonthCount" align="center"></el-table-column>    
<el-table-column label="周调用次数" prop="callWeekCount" align="center"></el-table-column>    
<el-table-column label="日调用次数" prop="callDayCount" align="center"></el-table-column>    
                    <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-edit" title="编辑" @click="editWebservice(scope.row.id)"></a>
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteWebservice(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button :disabled="disabled" @click="deleteWebservice(ids)">批量删除</el-button>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
             <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
export default {
    data() {
        return {
            loading: true,
            friendLinkCtgList: [],
            bbslimitList: [],
            ids: '',//批量删除列表
            sort: this.$store.state.sort,//排序列表
            lastLoginDay: this.$store.state.lastLoginDay,//时间排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
        getApiInfoList() {//获取API接口信息列表
            let params = this.params;
            fetch.getApiInfoList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.bbslimitList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        savePriority() {//保存排列顺序
            this.loading = true;
            let list = this.bbslimitList;
            let params = {
                ids: [],
                priorities: [],
                labels:[]
            }
            for (let i = 0; i < list.length; i++) {
                params.ids.push(list[i].id);
                params.priorities.push(list[i].priority);
                  params.labels.push(list[i].label);
            }
            params.ids = params.ids.join(",");
            params.priorities = params.priorities.join(",");
            params.labels = params.labels.join(",");
            fetch.modelBatchUpdate(params)
                .then(res => {
                    this.loading = false;
                    if (res.code == '100') {
                        this.$message.success('保存成功');
                        this.getApiInfoList();
                    } else {
                        this.$message.error(res.message);
                    }
                }).catch(res => {
                    this.loading = false;
                    this.$message.error('保存异常');
                })
        },
        addWebservice(rootId) {//添加API接口
            this.$router.push({
                path: '/addapiinfo',
                query: {
                    type: 'add',
                    id: 0,                
                }
            });
        },
        editWebservice(id) {//修改API接口
            this.$router.push({
                path: '/editapiinfo',
                query: {
                    type: 'edit',
                    id: id
                }
            });
        },
        deleteWebservice(id) {//删除API接口
            this.ids = id;
            this.$confirm('您确定要删除API接口吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteApiInfoInfo({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getApiInfoList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getApiInfoList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getApiInfoList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getApiInfoList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getApiInfoList();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getApiInfoList();
           
        }
    }
}
</script>

<style>

</style>
