<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :model="systemInfo" :rules="rules" ref="topicInfo">
                <el-form-item label="积分兑换" class="form-group" >
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.expoint"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">兑换比率为单项积分对应一个单位标准积分的值</el-col>
                </el-form-item>
                <el-form-item label="威望兑换" class="form-group" >
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.exprestige"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">兑换比率为单项威望对应一个单位标准积分的值</el-col>
                </el-form-item>

                <el-form-item label="人民币兑换" class="form-group" >
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.exmoney"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">购买道具1元人民币折合多少积分</el-col>
                </el-form-item>
                <el-form-item label="积分交易税" class="form-group" prop="exchangetax">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.exchangetax"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray">积分交易税(损失率)为用户在利用积分进行兑换扣除的税率，范围为 0～1 之间的浮点数，例如设置为 0.2，则用户在转换 100 个单位积分时，损失掉的积分为 20 个单位，0 为不损失</el-col>
                </el-form-item>
                <el-form-item label="兑换最低余额" class="form-group" prop="miniBalance">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.miniBalance"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">*</el-col>
                    <el-col :span="7" class="gray"> 积分兑换后要求用户所拥有的余额最小数值。利用此功能，你可以设置较大的余额限制，使积分小于这个数值的用户无法兑换；也可以将余额限制设置为负数，使得兑换在限额内可以透支</el-col>
                </el-form-item>

             <el-form-item label="积分兑出" class="form-group" :required="true">
                  <el-col :span="6">
                        <el-switch   on-text="开启" off-text="关闭" v-model="systemInfo.pointoutavailable"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray"> </el-col>
                </el-form-item>

             <el-form-item label="积分兑入" class="form-group" :required="true">
                  <el-col :span="6">
                        <el-switch   on-text="开启" off-text="关闭" v-model="systemInfo.pointinavailable"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">*</el-col>
                    <el-col :span="7" class="gray"> </el-col>
                </el-form-item>
    
 <el-form-item label="威望兑出" class="form-group" :required="true">
                  <el-col :span="6">
                        <el-switch   on-text="开启" off-text="关闭" v-model="systemInfo.prestigeoutavailable"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">*</el-col>
                    <el-col :span="7" class="gray"> </el-col>
                </el-form-item>
    <el-form-item label="威望兑入" class="form-group" :required="true">
                  <el-col :span="6">
                        <el-switch   on-text="开启" off-text="关闭" v-model="systemInfo.prestigeinavailable"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray"> </el-col>
                </el-form-item>
              
            
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updatePointInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
import * as users from '../../../api/usermanage'
export default {
    data() {
        return {
            loading: true,
            systemInfo: {},
            groupList: [],
            rules: {
                exchangetax: [{ required: true,type:'number', message: '请输入一个数字', trigger: 'blur' }],
                miniBalance: [{ required: true, type:'number',message: '此项必填', trigger: 'blur' }]   
            },
        }
    },
    methods: {
        getuserGroupList() {//获取会员组
            users.getGroupList({ groupType: -1 })
                .then(res => {
                    this.groupList = res.body;
                })
        },
        getPointInfo() {//获取系统信息
            fetch.getPointInfo()
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;
                        this.systemInfo = res.body;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        updatePointInfo(formName) {//修改系统信息
            this.$refs[formName].validate((valid) => {
                     document.querySelector("#main").scrollTop=0;
                if (valid) {
                    let params = this.systemInfo;
                    fetch.updatePointInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                  document.querySelector("#main").scrollTop=0;
                    return false;
                }
            });
        }
    },

    created: function() {
        this.getuserGroupList();
        this.getPointInfo();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getPointInfo()
        }
    }
}
</script>
<style>

</style>
