<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name tab-name " @click="liveLink">直播管理</span>
            <span class="forum-name tab-name active" @click="hostsLink">主播管理</span>
            <span class="forum-name tab-name" @click="liveConfig">直播配置</span>
        </div>
        <div class="table-top-bar clearfix">
            <el-select v-model="params.queryMode" @change="queryCtg">
                <el-option v-for="(item,index) in sort" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="livehost" @selection-change="checkIds" v-if="params.queryMode==0">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="主播" prop="username" align="center"></el-table-column>
                    <el-table-column label="申请时间" prop="applyTime" align="center"></el-table-column>
                    <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-duigouzhuanhuan" title="通过" @click="applyCheck(scope.row.id)"></a>
                            <a href="javascript:void(0)" class="t-del iconfont bbs-guanbi" title="拒绝" @click="applyReject(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!---已通过-->
                <el-table style="width: 100%" :data="liveList" @selection-change="checkIds" v-if="params.queryMode==1">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="排序" prop="userName" align="center">
                        <template scope="scope">
                            <el-input v-model="scope.row.topPriority"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column label="主播" prop="userName" align="center"></el-table-column>
                    <el-table-column label="通过时间" prop="checkTime" align="center"></el-table-column>
                    <el-table-column label="总门票数" prop="ticketNum" align="center"></el-table-column>
                    <el-table-column label="总收益" prop="totalAmount" align="center"></el-table-column>
                    <el-table-column label="总礼物数" prop="giftNum" align="center"></el-table-column>
                    <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteHosts(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button class="btn-pass" :disabled="disabled" @click="applyCheck(ids)" v-if="params.queryMode==0">批量通过</el-button>
                <el-button class="btn-refuse" :disabled="disabled" @click="applyReject(ids)" v-if="params.queryMode==0">批量拒绝</el-button>
                <el-button @click="savePriority" type="primary" v-if="params.queryMode==1">保存排序</el-button>
                <el-button class="btn-refuse" :disabled="disabled" @click="deleteHosts(ids)" v-if="params.queryMode==0">批量删除</el-button>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../../api/operation'
export default {
    data() {
        return {
            loading: true,
            liveList: [],
            livehost: [],
            ids: '',//批量删除列表
            sort: [
                {
                    label: '待审核',
                    value: 0
                }, {
                    label: '已审核',
                    value: 1
                },

            ],//排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                queryMode: 0,
                qTitle: '',
                qUsername: '',
                orderBy: ''
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
        applyCheck(id) {//主播申请列表通过
            this.ids = id;
            this.$confirm('您确定要通过吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.applyCheck({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('操作成功');
                                this.getLiveApplyList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        applyReject(id) {//主播退回
            this.ids = id;
            this.$confirm('您确定要拒绝吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.applyReject({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('操作成功');
                                this.getLiveApplyList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        getLiveHostList() {//已申请列表
            let params = this.params;
            fetch.getLiveHostList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.liveList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        getLiveApplyList() {////待申请列表
            let params = this.params;
            fetch.getLiveApplyList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.livehost = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        queryCtg(val) {//查询分类
            this.loading = true;
            this.params.pageNo=1;
            this.pageSize=20;
            this.getLiveApplyList();
            this.getLiveHostList();
        },
        hostsLink() {
            this.$router.push({
                path: '/hostlist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            });
        },
        liveLink() {
            this.$router.push({
                path: '/livelist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            });
        },
         liveConfig(){
                this.$router.push({
                path: '/liveconfig',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            });
        },
        savePriority() {//保存排列顺序
            this.loading = true;
            let list = this.liveList;
            let params = {
                ids: [],
                priorities: [],
              
            }
            for (let i = 0; i < list.length; i++) {
                params.ids.push(list[i].id);
                params.priorities.push(list[i].topPriority);               
            }
            params.ids = params.ids.join(",");
            params.priorities = params.priorities.join(",");
            fetch.liveBatchUpdate(params)
                .then(res => {
                    this.loading = false;
                    if (res.code == '100') {
                        this.$message.success('保存成功');
                        this.getLiveHostList();
                    } else {
                        this.$message.error(res.message);
                    }
                }).catch(res => {
                    this.loading = false;
                    this.$message.error('保存异常');
                })
        },
        deleteHosts(id) {//删除已审核列表
            this.ids = id;
            this.$confirm('您确定要删除吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteHostsInfo({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getLiveHostList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },

        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getLiveHostList();
            this.getLiveApplyList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getLiveHostList();
            this.getLiveApplyList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getLiveHostList();
            this.getLiveApplyList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
       if(this.$route.query.select){
           this.params.queryMode=0;
       }
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getLiveHostList();
        this.getLiveApplyList();
    },
    watch: {
        '$route': function(to, from) {

            this.loading = true;
            this.getLiveHostList();
            this.getLiveApplyList();
        }
    }
}
</script>

<style scoped>
.forum-name {
    cursor: pointer;
}
</style>

