<template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">第三方绑定用户列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <div class="query-inline-box ">
                <div class="query-inline-group">
                    <el-select placeholder="平台类型" v-model="params.source" @change="selectQuery" class="w128">
                        <el-option v-for="item in sort" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <div class="query-inline-group">
                    <el-input class="w128" placeholder="请输入用户名" icon="search" v-model="params.username" >
                    </el-input>
                </div>
                <div class="query-inline-group">
                    <el-button   @click="selectQuery">查询</el-button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="userList" @selection-change="checkIds">
                    <el-table-column type="selection" width="68" align="center"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="68"></el-table-column>
                    <el-table-column label="用户名" prop="username" align="center"></el-table-column>
                    <el-table-column label="账户平台" prop="source" align="center">
                        <template scope="scope">
                                 <span v-if="scope.row.source=='QQ'">QQ</span>
                                 <span v-if="scope.row.source=='WEIXIN'">微信</span>
                                 <span v-if="scope.row.source=='SINA'">新浪微博</span>
                                 <span v-if="scope.row.source=='QQWEBO'">腾讯微博</span>  
                                  <span v-if="scope.row.source=='all'">全部</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="来自" prop="comefrom" align="center"></el-table-column>
                    <el-table-column label="姓名" prop="realname" align="center"></el-table-column>
                    <el-table-column label="性别" prop="lastLoginTime" align="center" :width="220"></el-table-column>
                    <el-table-column label="操作" align="center" width='100'>
                            <template scope="scope">
                                <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteUser(scope.row.id)">
                                </a>
                            </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>

        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button :disabled="disabled" @click="deleteUser(ids)">批量删除</el-button>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import * as fetch from '../../../api/usermanage'
    export default {
        data() {
            return {
                checkAll: false,
                isIndeterminate: true,
                loading: true,
                userList: [],
                ids: '', //批量删除列表
                sort: [{
                    value: '',
                    label: '所有'
                }, {
                    value: 'WEIXIN',
                    label: '微信登陆'
                }, {
                    value: 'QQ',
                    label: 'QQ'
                }, {
                    value: 'SINA',
                    label: '新浪微博'
                }, {
                    value: 'QQWEBO',
                    label: '腾讯微博'
                }], //排序列表
    
                params: { //接口参数
                    pageNo: 1,
                    pageSize: 20,
                    source: '', //排序
                    username: '' //用户名
                },
                totalCount: 0,
                currentPage: 1,
                changePageSize: localStorage.getItem('PageSize'),
                disabled: true
            }
        },
        methods: {
            getUserAccountList() { //获取用户信息列表
                let params = this.params;
                fetch.getUserAccountList(params)
                    .then(res => {
                        //console.log(res);
                        if (res.code == '100') {
                            this.userList = res.body;
                            this.totalCount = res.totalCount;
                            this.loading = false;
                        } else {
                            this.loading = false;
                            this.$message.error(res.message);
                        }
                    })
                    .catch(res => {
                        this.loading = false;
                        this.$message.error('网络异常')
                    })
            },
            deleteUser(id) { //删除用户
                this.ids = id;
                this.$confirm('您确定要删除用户吗?', '警告', {
                        type: 'warning'
                    })
                    .then(mes => {
                        fetch.deleteUserAccountInfo({
                                ids: this.ids
                            })
                            .then(res => {
                                this.loading = false;
                                if (res.code == '100') {
                                    this.$message.success('删除成功');
                                    this.getUserAccountList();
                                } else {
                                    this.$message.error('删除失败');
                                }
                            })
                            .catch(res => {
                                this.loading = false;
                                this.$message.error('网络异常')
                            })
                    }).catch(mes => {})
            },
            selectQuery(val) { //下拉条件搜索
                this.getUserAccountList();
            },
            queryUserName(ev) { //用户名搜索
                this.loading = true;
                this.getUserAccountList();
            },
            getPage(val) { //获取当前页数
                //console.log(val);
                this.loading = true;
                this.params.pageNo = val;
                this.getUserAccountList();
            },
            getSize(val) { //分页
                this.loading = true;
                this.params.pageNo = val;
                this.getUserAccountList();
            },
            changeSize(event) { //跳页
                let val = event.target.value;
                if (val < 1) {
                    localStorage.setItem('PageSize', 20); //处理异常大小
                    val = 20;
                } else {
                    localStorage.setItem('PageSize', val); //本地存储下每页条数
                }
                this.loading = true;
                this.params.pageSize = parseInt(val);
                this.params.pageNo = 1;
                this.currentPage = 1;
                this.getUserAccountList();
            },
            checkIds(res) { //选中当前的ids
                let ids = [];
                for (let i = 0; i < res.length; i++) {
                    ids.push(res[i].id);
                }
                if (ids.length == 0) {
                    this.ids = '';
                    this.disabled = true;
                } else {
                    this.ids = ids.join(',');
                    this.disabled = false;
                }
            }
        },
        created: function() {
            let size = localStorage.getItem('PageSize');
            if (size != null) {
                this.params.pageSize = parseInt(size); //取本地存储的条目   
            } else {
                this.changePageSize = 20;
            }
    
            this.getUserAccountList();
        }
    }
</script>

<style>
    
</style>
