<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="params" ref="topicInfo">
                <el-form-item label="提现金额" class="form-group" >
                    <el-col :span="6">
                       {{params.applyAmount}}
                    </el-col>
                    <el-col :span="1" class="required"></el-col>
                </el-form-item>
                <el-form-item label="密码" class="form-group" prop="password">
                    <el-col :span="6">
                        <el-input v-model="params.password" type="password"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
               
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit"  @click="payByWeiXin('topicInfo')" />              
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/operation'
export default {
    data() {
        return {
             fileState:true,
            dialogVisible:false,
            loading: true,
            count: 0,             
            rules: {
                password:[{ required: true, message: '请输入密码', trigger: 'blur' }]               
            },
            params:{
                drawId:0,
                password:'',
                applyAmount:''
            }
        }
    },
    methods: {     
        payByWeiXin(formName) {//修改友情链接
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.params;
                  
                    fetch.payByWeiXin(params)
                        .then(res => {
                            //console.log(res);
                            if (res.code == '100') {
                                this.$message.success('转账成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/accountDrawList' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },            
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;       
        this.params.drawId=this.$route.query.id;
        this.params.applyAmount=this.$route.query.applyAmount; 
        this.loading=false;                       
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
        }
    }
}
</script>
<style>

</style>
