<template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">提现账户列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <div class="query-inline-box">
                 <div class="query-inline-group">
                      <label>用户名:</label>
                        <el-input class="w128" placeholder="请输入用户名" v-model="params.queryUsername" @keyup.enter.native="query" ></el-input>
                     </div>     
                <div class="query-inline-group">
                    <label>最后申请时间:</label>
                    <el-date-picker class="w128" v-model="params.timeBegin" @keyup.enter.native="query" @change="formatTime"></el-date-picker>     
                    <span class="time-slot">-</span>
                    <el-date-picker class="w128"  @keyup.enter.native="query" v-model="params.timeEnd" @change="formatTime2"></el-date-picker>
                </div>
    
                 <div class="query-inline-group">
                    <label>排序:</label>
                  <el-select v-model="params.statu" @keyup.enter.native="query" @change="query" class="w128">
                        <el-option v-for="item in sort" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </div>
                 <div class="query-inline-group">
                    <el-button @click="query" >查询</el-button>   
                </div>
                 
            </div>
        </div>
        <div class="table-responsive">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="orderList" @selection-change="checkIds">
                     <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="68"></el-table-column>
                    <el-table-column label="提现者" prop="drawUser" align="center"></el-table-column>
                    <el-table-column label="提现账户" prop="" align="center"></el-table-column>
                    <el-table-column label="提现金额" prop="applyAmount" align="center"></el-table-column>
                    <el-table-column label="申请时间" prop="applyTime" align="center" :width="220"></el-table-column>
                    <el-table-column label="状态" prop="applyStatus" align="center">
                        <template scope="scope">
                           <span v-if="scope.row.applyStatus==0">申请中</span>
                           <span v-if="scope.row.applyStatus==3">申请成功</span>
                           <span v-if="scope.row.applyStatus==1">1</span>
                           <span v-if="scope.row.applyStatus==2">申请失败</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="申请类型" prop="applyType" align="center">
                         <template scope="scope">
                           <span v-if="scope.row.applyType==2">礼物收益申请</span>
                           <span v-if="scope.row.applyType==3">live收益申请</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作选项"  align="center" width="200">
                         <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-edit" title="转账" @click="editPay(scope.row)"></a>
                           <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deletetAccountDrawList(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>

        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                 <el-button :disabled="disabled" @click="deletetAccountDrawList(ids)">批量删除</el-button>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" @keyup.enter.native="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/operation'
export default {
    data() {
        return {
            checkAll: false,
            isIndeterminate: true,
            loading: true,
            disabled: true,
            orderList: [],
            ids: '',//批量删除列表
            sort: [{
                value: -1,
                label: '所有'
            }, {
                value: 0,
                label: '申请中'
            }, {
                value: 3,
                label: '提现成功'
            }],//排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                statu:-1,//
                queryUsername: '',//
                 timeBegin: '',//
                    timeEnd: '',//
                
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
        }
    },
    methods: {
        getOrderList() {//获取用户信息列表
            let params = this.params;
            fetch.getAccountDrawList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.orderList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        deletetAccountDrawList(id){
                this.ids = id;
            this.$confirm('您确定要删除提现信息吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deletetAccountDrawList({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getOrderList();
                            } else {
                                this.$message.error('删除失败');
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        editPay(info){      
           this.$router.push({ path: '/accountpayedit',query:{
              id:info.id,
              applyAmount:info.applyAmount
           }})
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        },
       formatTime(val){
          this.params.timeBegin=val  
       },
       formatTime2(val){
            this.params.timeEnd=val 
       },
       query(){
           this.loading = true;
            this.getOrderList();
       },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getOrderList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getOrderList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getOrderList();
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if(this.$route.query.index){
            this.params.statu=0;
        }else{
             this.params.statu=-1;
        }

        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }

        this.getOrderList();
    }
}
</script>

<style scoped>
 .pull-right{
    text-align: right; 
 }
    .pull-right label{
        display: inline-block;
        margin-top:7px;
    padding-right: 5px; 
    }
</style>
