<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
            <span class="forum-hint">带"*"号的为必填项</span>
        </div>
        <div class="table-body table-responsive">
            <el-form :rules="rules" :model="groupInfo" ref="groupInfo">
                <el-form-item label="用户头衔" class="form-group" prop="name">
                    <el-col :span="6">
                        <el-input v-model="groupInfo.name"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="10"></el-col>
                </el-form-item>
                <el-form-item label="图标预览" class="form-group" prop="imgPath">
                    <el-col :span="6">
                        <el-input v-model="groupInfo.imgPath"></el-input>
                        <div :class="state ? 'pic-box' : 'pic-box-no'">
                            <img :src="imgPath" alt="">
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <el-upload class="upload-demo" :action="$store.state.upLoadUrl" name="uploadFile" :data="upobj" :before-upload="beforeAvatarUpload" :on-success="getImgPath">
                            <el-button size="small" type="primary" style="margin-left:10px">点击上传</el-button>
                        </el-upload>
                    </el-col>
                </el-form-item>

                <el-form-item label="累计积分" class="form-group" prop="point">
                    <el-col :span="6">
                        <el-input v-model="groupInfo.point"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">*</el-col>
                    <el-col :span="10" class="gray">需要累积积分达到后才能获得头衔</el-col>
                </el-form-item>
                <!--高级设置-->
                    <el-form-item label="" class="form-group">
                       <span class="setting-collapse-option">高级设置</span>
                       </el-form-item>
                <div v-if="collapse">
                    <el-form-item label="高级设置" class="form-group ">
                        <div class="form-inline mr10">
                            <label>允许发表主题</label>
                            <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_allow_topic"></el-switch>
                        </div>
                        <div class="form-inline mr10">
                            <label>允许发表回复</label>
                            <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_allow_reply"></el-switch>
                        </div>
                        <div class="form-inline">
                            <label>允许发布附件</label>
                            <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_allow_attach"></el-switch>
                        </div>
                    </el-form-item>

                    <el-form-item label="允许附件类型" class="form-group" prop="perm_attach_type">
                        <el-col :span="6">
                            <el-input v-model="groupInfo.perm_attach_type"></el-input>
                        </el-col>
                        <el-col :span="1">&nbsp;</el-col>
                        <el-col :span="10" class="gray">用逗号,分割，留空不限制</el-col>
                    </el-form-item>
                    <el-form-item label="最大附件尺寸" class="form-group" prop="perm_attach_max_size">
                        <el-col :span="6">
                            <el-input v-model="groupInfo.perm_attach_max_size"></el-input>
                        </el-col>
                        <el-col :span="1">&nbsp;</el-col>
                        <el-col :span="10" class="gray">(KB) 为0不限制</el-col>
                    </el-form-item>
                    <el-form-item label="每日附件总尺寸" class="form-group" prop="perm_attach_per_day">
                        <el-col :span="6">
                            <el-input v-model="groupInfo.perm_attach_per_day"></el-input>
                        </el-col>
                        <el-col :span="1">&nbsp;</el-col>
                        <el-col :span="10" class="gray">(KB) 为0不限制</el-col>
                    </el-form-item>
                    <el-form-item label="权限设置" class="form-group">
                        <el-col :span="20">
                            <!---版块名称-->
                            <div class="check-box-block">
                                <el-checkbox style="visibility:hidden;"></el-checkbox>
                                <el-checkbox v-for="(item,index) in forumIds" :label="item" :key="item" @change="forumCheck">{{forumTitle[index]}}</el-checkbox>
                            </div>
                            <!---浏览版块-->
                            <div class="check-box-block">
                                <el-checkbox :indeterminate="isviews" v-model="viewsAll" @change="viewsAllChange">浏览版块</el-checkbox>
                                <el-checkbox-group v-model="views" @change="viewsChange">
                                    <el-checkbox v-for="item in forumIds" :label="item" :key="item">&nbsp;</el-checkbox>
                                </el-checkbox-group>
                            </div>
                            <!---发布新话题-->
                            <div class="check-box-block">
                                <el-checkbox :indeterminate="istopics" v-model="topicsAll" @change="topicsAllChange">发布新话题</el-checkbox>
                                <el-checkbox-group v-model="topics" @change="topicsChange">

                                    <el-checkbox v-for="item in forumIds" :label="item" :key="item">&nbsp;</el-checkbox>
                                </el-checkbox-group>
                            </div>
                            <!---发表回复-->
                            <div class="check-box-block">
                                <el-checkbox :indeterminate="isreplies" v-model="repliesAll" @change="repliesAllChange">发表回复</el-checkbox>
                                <el-checkbox-group v-model="replies" @change="repliesChange">
                                    <el-checkbox v-for="item in forumIds" :label="item" :key="item">&nbsp;</el-checkbox>
                                </el-checkbox-group>
                            </div>
                        </el-col>

                    </el-form-item>
                    <!--超级版主管理权限-->
                    <div v-show="isSuper">
                        <el-form-item label="超级管理权限" class="form-group">
                            <el-col :span="1">
                                <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_super_moderator"></el-switch>
                            </el-col>
                            <el-col :span="10" class="gray">无须成为版主即可管理</el-col>
                        </el-form-item>
                        <el-form-item label="置顶权限" class="form-group">
                            <el-col :span="6">
                                <el-radio class="radio" v-model="groupInfo.perm_topic_top" label="0">无 </el-radio>
                                <el-radio class="radio" v-model="groupInfo.perm_topic_top" label="1">置顶I</el-radio>
                                <el-radio class="radio" v-model="groupInfo.perm_topic_top" label="2">置顶II</el-radio>
                                <el-radio class="radio" v-model="groupInfo.perm_topic_top" label="3">置顶III</el-radio>
                            </el-col>
                            <el-col :span="10" class="gray">分别为本版置顶,分区置顶,全局置顶</el-col>
                        </el-form-item>

                        <el-form-item label="帖子管理" class="form-group">
                            <el-col :span="1">
                                <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_topic_manage"></el-switch>
                            </el-col>
                            <el-col :span="10" class="gray">精、锁、提、亮、压</el-col>
                        </el-form-item>

                        <el-form-item label="版主高级设置" class="form-group">
                            <div class="form-inline mr10">
                                <label>发帖不受限制</label>
                                <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_post_limit"></el-switch>
                            </div>
                            <div class="form-inline mr10">
                                <label>帖子编辑</label>
                                <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_topic_edit"></el-switch>
                            </div>
                            <div class="form-inline mr10">
                                <label>屏蔽帖子</label>
                                <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_topic_shield"></el-switch>
                            </div>
                            <div class="form-inline mr10">
                                <label>删除帖子</label>
                                <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_topic_delete"></el-switch>
                            </div>
                            <div class="form-inline mr10" >
                                <label>查看IP</label>
                                <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_view_ip"></el-switch>
                            </div>
                            <div class="form-inline mr10">
                                <label>会员禁言</label>
                                <el-switch on-text="是" off-text="否" v-model="groupInfo.perm_member_prohibit"></el-switch>
                            </div>
                        </el-form-item>
                    </div>
                </div>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateGroup('groupInfo')" v-if="$route.query.type=='edit'" />
                <input type="button" value="提交" class="bbs-submit" @click="addGroup('groupInfo')" v-if="$route.query.type=='add'" />
                <input type="reset" value="重置" class="bbs-reset" @click="resetForm('groupInfo')" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/usermanage'
import * as forum from '../../../api/bbs'
export default {
    data() {
        return {
            collapse: false,
            isSuper: false,//是否为超级管理员
            groupInfo: {},

            state: true,
            imgPath: '',//图片路径
            upobj: {//上传参数
                type: 'attach',
                sessionKey: localStorage.getItem('sessionKey'),
                appId: this.$store.state.appId
            },
            rules: {
                name: [
                    { required: true, message: '请输入用户头衔', trigger: 'blur' },
                    { min: 1, max: 15, message: '长度在 1 到 15 个字符', trigger: 'blur' }
                ],
                imgPath: [
                    { required: true, message: '请上传用户图标', trigger: 'blur' }
                ],
                point: [
                    { required: true, message: '请填写一个积分', trigger: 'blur' },
                    { min: 1, max: 15, message: '长度在 1 到 15 个字符', trigger: 'blur' }
                ]
            },
            forumIds: [],
            forumTitle: [],
            views: [],
            topics: [],
            replies: [],
            isviews: true,
            viewsAll: true,
            istopics: true,
            topicsAll: true,
            isreplies: true,
            repliesAll: true
        }
    },
    methods: {
        getGroup(id, typeId) {//添加修改时动态获取默认字段
            fetch.getGroup({
                id: id,
                type: typeId
            })
                .then(res => {
                    //console.log(res);
                    this.groupInfo = res.body;
                    this.views = this.intArray(res.body.views.split(","));
                    this.topics = this.intArray(res.body.topics.split(","));
                    this.replies = this.intArray(res.body.replies.split(","));
                    if (res.body.imgPath != '') {
                        this.state = false;
                        this.imgPath = res.body.imgPath;
                    } else {
                        this.state = true;
                    }
                })
                .catch(res => {
                    this.$message.error('数据拉取失败!');
                });
            forum.getFourmList().then(res => {//获取版块数据
                for (let i = 0; i < res.body.length; i++) {
                    this.forumIds.push(res.body[i].id);
                    this.forumTitle.push(res.body[i].title);
                }

            })
        },
        updateGroup(formName) {//修改用户组
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.groupInfo;
                    let groupType = this.groupInfo.type;//会员组类型
                    params.views = this.views.join(',');
                    params.replies = this.replies.join(',');
                    params.topics = this.topics.join(',');
                    params.groupType = groupType;
                    params.forumIds = this.forumIds.join(',');;//版块id
                    fetch.updateGroup(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功')
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改异常!');
                        })
                    //console.log(params);
                } else {

                    return false;
                }
            });
        },
        addGroup(formName) {//添加用户组
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.groupInfo;
                    let groupType = this.groupInfo.type;//会员组类型
                    params.views = this.views.join(',');
                    params.replies = this.replies.join(',');
                    params.topics = this.topics.join(',');
                    params.groupType = groupType;
                    params.forumIds = this.forumIds.join(',');;//版块id
                    fetch.addGroup(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('添加成功')
                                setTimeout(() => {
                                    this.$router.push({ path: '/usergrouplist', query: { typeId: groupType } })
                                }, 1500)

                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改异常!');
                        })
                    //console.log(params);
                } else {

                    return false;
                }
            });
        },
        resetForm(formName) {//重置表单
            this.$refs[formName].resetFields();

        },
        beforeAvatarUpload(file) {//上传验证
            const isJPG = file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/gif';
            const isLt2M = file.size / 1024 / 1024 < 2;
            if (!isJPG) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
            }
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过2MB!');
            }
            return isJPG && isLt2M;
        },
        getImgPath(res, file, fileList) {//回填服务器图片路径
            this.imgPath = res.body.url;
            this.state = false;
            this.groupInfo.imgPath = res.body.url;
        },
        intArray(arr) {//数组转数字
            let tmp = [];
            if (arr[0] == '') {
                tmp = [];
            } else {
                for (let i = 0; i < arr.length; i++) {
                    tmp.push(parseInt(arr[i]));
                }
            }
            return tmp;
        },
        removeArr(arr, str) {//删除版块全选
            let ss = parseInt(str);
            for (let i = 0; i < arr.length; i++) {
                if (arr[i] === ss) {
                    arr.splice(i, 1);
                    break;
                }
            }
        },
        addArr(arr, str) {//添加版块全选
            let state = arr.indexOf(parseInt(str));
            if (state == '-1') {
                arr.push(parseInt(str));
            } else {
                return
            }
        },
        forumCheck(event) {//版块全选
            let id = event.target.defaultValue;
            if (event.target.checked) {
                this.addArr(this.views, id);
                this.addArr(this.replies, id);
                this.addArr(this.topics, id);
            } else {
                this.removeArr(this.views, id);
                this.removeArr(this.replies, id);
                this.removeArr(this.topics, id);
            }
        },
        viewsAllChange(event) {//浏览权限全选
            if (event.target.checked) {
                this.views = [];
                for (let i = 0; i < this.forumIds.length; i++) {
                    this.views.push(this.forumIds[i]);
                }
            } else {
                this.views = [];
            }
            this.isviews = false;
        },
        viewsChange(value) {//浏览权限全选
            let checkedCount = value.length;
            this.viewsAll = checkedCount === this.forumIds.length;
            this.isviews = checkedCount > 0 && checkedCount < this.forumIds.length;
        },
        topicsAllChange(event) {//新话题权限全选
            if (event.target.checked) {
                this.topics = [];
                for (let i = 0; i < this.forumIds.length; i++) {
                    this.topics.push(this.forumIds[i]);
                }
            } else {
                this.topics = [];
            }
            this.istopics = false;
        },
        topicsChange(value) {//新话题权限全选
            let checkedCount = value.length;
            this.topicsAll = checkedCount === this.forumIds.length;
            this.istopics = checkedCount > 0 && checkedCount < this.forumIds.length;
        },
        repliesAllChange(event) {//回复权限全选
            if (event.target.checked) {
                this.replies = [];
                for (let i = 0; i < this.forumIds.length; i++) {
                    this.replies.push(this.forumIds[i]);
                }
            } else {
                this.replies = [];
            }
            this.isreplies = false;
        },
        repliesChange(value) {//回复权限全选
            let checkedCount = value.length;
            this.repliesAll = checkedCount === this.forumIds.length;
            this.isreplies = checkedCount > 0 && checkedCount < this.forumIds.length;
        }
    },
    mounted() {
        let self = this;
        $(function() {
            $('.table-body').on('click', '.setting-collapse-option', function() {
                $(this).toggleClass('setting-collapse-option-on');
                if ($(this).hasClass('setting-collapse-option-on')) {
                    self.collapse = true;
                } else {
                    self.collapse = false;
                }
            })
        })
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
        let typeId = this.$route.query.typeId;
        if (typeId == '2') {
            this.isSuper = true
        } else {
            this.isSuper = false;
        }
        if (type == 'add') {
            this.getGroup(id, typeId);
        } else if (type == 'edit') {
            this.getGroup(id, typeId);
        }
    }
}
</script>
<style>
.el-checkbox+.el-checkbox {
    margin-left: 0;
}

.check-box-block>label {
    display: block;
}

.el-checkbox-group>label {
    display: block;
}
.mr10{
    margin-right: 25px;
}
</style>
