<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">API接口记录列表</span>
        </div>
        <div class="table-top-bar clearfix">
          
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="apiAccountList" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="50"></el-table-column>
                    <el-table-column label="appid" prop="apiAccountId" align="center"></el-table-column>
                     <el-table-column label="接口" prop="apiInfoName" align="center":width="80"></el-table-column>
                      <el-table-column label="调用ip" prop="callIp" align="center"></el-table-column>
                         <el-table-column label="调用时间" prop="callTime" align="center"></el-table-column>
                    <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" 
                            @click="deleteWebservice(scope.row.id)" 
                            ></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
            
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button :disabled="disabled" @click="deleteWebservice(ids)">批量删除</el-button>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
export default {
    data() {
        return {
            loading: true,
            apiAccountList: [],
            ids: '',//批量删除列表 
            local:localStorage.getItem('perms'),
            params: {//接口参数
                pageNo: 1,
                pageSize: 20
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
        getApiRecordList() {//获取API接口账户信息列表
            let params = this.params;
            fetch.getApiRecordList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.apiAccountList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        addWebservice(rootId) {//添加API接口账户
            this.$router.push({
                path: '/addapiinfoaccount',
                query: {
                    type: 'add',
                    id: 0,
                }
            });
        },
        editWebservice(id) {//修改API接口账户
            this.$router.push({
                path: '/editapiinfoaccount',
                query: {
                    type: 'edit',
                    id: id
                }
            });
        },
        deleteWebservice(id) {//删除API接口账户
            this.ids = id;
            this.$confirm('您确定要删除API接口账户吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteApiRecordInfo({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.currentPage = 1;
                                this.getApiRecordList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getApiRecordList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getApiRecordList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getApiRecordList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getApiRecordList();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getApiRecordList();

        }
    }
}
</script>

<style>

</style>
