<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
           
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="advertisingInfo" ref="commom">
                <el-form-item label="广告名称" class="form-group" prop="name">
                    <el-col :span="6">
                        <el-input v-model="advertisingInfo.name"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="类型" class="form-group" prop="category">
                    <el-col :span="6">
                        <el-radio-group v-model="advertisingInfo.category">
                            <el-radio label="image">图片</el-radio>
                            <el-radio label="flash">flash</el-radio>
                            <el-radio label="code">代码</el-radio>
                            <el-radio label="text">文字</el-radio>
                        </el-radio-group>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
            </el-form>
            <!--图片-->
            <el-form :rules="imageRules" :model="advertisingInfo" ref="image">
                <el-form-item label="广告内容" class="form-group" v-show="advertisingInfo.category=='image'">
                    <el-col :span="6">
                        <el-form-item label="图片路径" class="form-inner" prop="attr_image_url">
                            <el-col :span="15">
                                <el-input v-model="advertisingInfo.attr_image_url"></el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label=" " class="form-inner">
                            <el-col :span="15">
                                <div :class="state ? 'pic-box' : 'pic-box-no'">
                                     <img :src="$store.state.baseUrl+imgPath" alt=""  @click="showBig"  v-if="!state" >
                                </div>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="图片尺寸" class="form-inner">
                            <el-col :span="15">
                                <el-col :span="11">
                                    <el-form-item prop="attr_image_width">
                                        <el-input placeholder="宽" v-model.number="advertisingInfo.attr_image_width" style="width: 100%;"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col class="line" :span="2" style="text-align:center">-</el-col>
                                <el-col :span="11">
                                    <el-form-item prop="attr_image_height">
                                        <el-input placeholder="高" v-model.number="advertisingInfo.attr_image_height" style="width: 100%;"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="链接地址" class="form-inner" prop="attr_image_link">
                            <el-col :span="15">
                                <el-input v-model="advertisingInfo.attr_image_link"></el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="链接提示" class="form-inner" prop="attr_image_title">
                            <el-col :span="15">
                                <el-input v-model="advertisingInfo.attr_image_title"></el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="链接目标" class="form-inner" prop="attr_image_target">
                            <el-col :span="15">
                                <el-radio-group v-model="advertisingInfo.attr_image_target">
                                    <el-radio label="_blank">新窗口</el-radio>
                                    <el-radio label="_self">原窗口</el-radio>
                                </el-radio-group>
                            </el-col>
                        </el-form-item>

                    </el-col>
                    <el-col :span="6">
                        <el-upload class="upload-demo" :action="$store.state.upLoadUrl" 
                        name="uploadFile"
                         :data="upobj" :before-upload="beforeAvatarUpload" 
                         :on-success="getImgpreviewImg"
                           :show-file-list="fileState"
                         >
                            <el-button  type="primary" style="margin-left:10px">点击上传</el-button>
                        </el-upload>
                         <el-dialog title="按下esc退出全屏" v-model="dialogVisible" size="full" class="pic-dialog" >
                            <img  :src="$store.state.baseUrl+imgPath" alt="" class="big-img">
                     </el-dialog>
                    </el-col>
                </el-form-item>
            </el-form>
            <!--flash-->
            <el-form :rules="flashRules" :model="advertisingInfo" ref="flash">
                <el-form-item label="广告内容" class="form-group" v-show="advertisingInfo.category=='flash'">
                    <el-col :span="6">
                        <el-form-item label="flash路径" class="form-inner" prop="attr_flash_url">
                            <el-col :span="15">
                                <el-input v-model="advertisingInfo.attr_flash_url"></el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="flash尺寸" class="form-inner" :required="true">
                            <el-col :span="15">
                                <el-col :span="11">
                                    <el-form-item prop="attr_flash_width">
                                        <el-input placeholder="宽" v-model.number="advertisingInfo.attr_flash_width" style="width: 100%;"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col class="line" :span="2" style="text-align:center">-</el-col>
                                <el-col :span="11">
                                    <el-form-item prop="attr_flash_height">
                                        <el-input placeholder="高" v-model.number="advertisingInfo.attr_flash_height" style="width: 100%;"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-col>
                        </el-form-item>
                    </el-col>
                    <el-col :span="6">
                        <el-upload class="upload-demo" :action="$store.state.upLoadUrl" name="uploadFile" :data="upobj2" :on-success="getFlashPath">
                            <el-button  type="primary" style="margin-left:10px">点击上传</el-button>
                        </el-upload>
                    </el-col>
                </el-form-item>
            </el-form>
            <!--文字-->
            <el-form :rules="textRules" :model="advertisingInfo" ref="text">
                <el-form-item label="广告内容" class="form-group" v-show="advertisingInfo.category=='text'">
                    <el-col :span="6">
                        <el-form-item label="文字内容" class="form-inner" prop="attr_text_title">
                            <el-col :span="15">
                                <el-input v-model="advertisingInfo.attr_text_title"></el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="文字链接" class="form-inner" prop="attr_text_link">
                            <el-col :span="15">
                                <el-input v-model="advertisingInfo.attr_text_link"></el-input>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="文字颜色" class="form-inner" prop="attr_text_color">
                            <el-col :span="10">
                                <el-input v-model="advertisingInfo.attr_text_color"></el-input>
                            </el-col>
                            <el-col :span="5" style="text-align:right">
                                <el-color-picker v-model="advertisingInfo.attr_text_color"></el-color-picker>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="文字大小" class="form-inner" prop="attr_text_font">
                            <el-col :span="11">
                                <el-input v-model.number="advertisingInfo.attr_text_font"></el-input>
                            </el-col>
                            <el-col :span="4" style="text-align:center">
                                如12
                            </el-col>
                        </el-form-item>
                        <el-form-item label="链接目标" class="form-inner" prop="attr_text_target">
                            <el-col :span="15">
                                <el-radio-group v-model="advertisingInfo.attr_text_target">
                                    <el-radio label="_blank">新窗口</el-radio>
                                    <el-radio label="_self">原窗口</el-radio>
                                </el-radio-group>
                            </el-col>
                        </el-form-item>
                    </el-col>
                </el-form-item>
            </el-form>
            <!--代码-->
            <el-form :rules="codeRules" :model="advertisingInfo" ref="code">
                <el-form-item label="广告内容" class="form-group" v-show="advertisingInfo.category=='code'">
                    <el-col :span="6">
                        <el-form-item label="代码" class="form-inner" prop="code">
                            <el-col :span="15">
                                <el-input type="textarea" v-model="advertisingInfo.code"></el-input>
                            </el-col>
                        </el-form-item>

                    </el-col>
                </el-form-item>
            </el-form>
            <!--展现方式-->
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateAdvertisingInfo" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../../api/operation'
export default {
    data() {
        return {
             fileState:true,
            dialogVisible:false,
            loading: true,
            count: 0,
            state: false,
            imgPath: '',//图片路径
            params: {//参数
                category: 'image',

            },
            upobj: {//上传参数
                type: 'image',
                sessionKey: localStorage.getItem('sessionKey'),
                appId: this.$store.state.appId
            },
            upobj2: {//flash上传
                type: 'attach',
                sessionKey: localStorage.getItem('sessionKey'),
                appId: this.$store.state.appId
            },
            advertisingInfo: {},
            rules: {
                name: [{ required: true, message: '请输入广告名称', trigger: 'blur' }],
                category: [{ required: true, message: '请选择一个类别', trigger: 'change' }]
            },
            imageRules: {
                attr_image_url: [{ required: true, message: '请上传一张图片', trigger: 'blur' }],
                attr_image_width: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                attr_image_height: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                attr_image_title: [{ required: true, message: '请输入链接提示', trigger: 'blur' }],
                attr_image_link: [{ required: true, message: '请输入一个链接', trigger: 'blur' }],
                attr_image_target: [{ required: true, message: '请选择一个链接目标', trigger: 'change' }],
            },
            flashRules: {
                attr_flash_url: [{ required: true, message: '请上传一个flash文件', trigger: 'blur' }],
                attr_flash_width: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                attr_flash_height: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
            }
            ,
            codeRules: {
                code: [{ required: true, message: '请填入代码', trigger: 'blur' }]
            }
            , textRules: {
                attr_text_link: [{ required: true, message: '请输入一个链接', trigger: 'blur' }],
                attr_text_font: [{ required: true, type: 'number', message: '请输入一个数字大小', trigger: 'blur' }],
                attr_text_title: [{ required: true, message: '请输入链接标题', trigger: 'blur' }],
                attr_image_target: [{ required: true, message: '请选择一个链接目标', trigger: 'change' }],
                attr_text_color: [{ required: true, message: '请选择一个颜色', trigger: 'blur' }]
            }
        }
    },
    computed: {

    },
    methods: {
         showBig(){
           this.dialogVisible=true;      
        },
        getAdvertisingInfo(id) {//获取分类广告版块信息
            fetch.getAdvertisingInfo({ id: id })
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.loading = false;
                        this.advertisingInfo = res.body;
                        if (this.advertisingInfo.attr_image_url == '') {
                            this.state = true;
                        } else {
                            this.imgPath = res.body.attr_image_url;
                            this.state = false;
                        }
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        updateAdvertisingInfo() {//修改广告版块
            let formName = 'image';
            let type = this.advertisingInfo.category;
            switch (type) {
                case 'image':
                    formName = 'image';
                    break;
                case 'flash':
                    formName = 'flash';
                    break;
                case 'text':
                    formName = 'text';
                    break;
                case 'code':
                    formName = 'code';
                    break;
                default:
                    this.advertisingInfo.category = 'image'
                    formName = 'image';
                    break;
            }
            this.$refs['commom'].validate((valid) => {
                if (valid) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            let params = this.advertisingInfo;
                            fetch.updateAdvertisingInfo(params)
                                .then(res => {
                                    //console.log("类型=" + typeof res);
                                    if (res.code == '100') {
                                        this.$message.success('修改成功');
                                        setTimeout(() => {
                                            this.$router.push({ path: '/advertisinglist' })
                                        }, 1000);
                                    } else {
                                        this.$message.error(res.message);
                                    }
                                })
                                .catch(res => {
                                    this.$message.error('修改失败');
                                })
                        } else {
                            return false;
                        }
                    });
                } else {
                    return false;
                }
            })



        },
        back() {
            this.$router.push({
                path: '/advertisinglist'
            })
        },
        beforeAvatarUpload(file) {//上传验证
        this.fileState=true;
            const isJPG = file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/gif';
            const isLt2M = file.size / 1024 / 1024 < 2;
            if (!isJPG) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
            }
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过2MB!');
            }
            return isJPG && isLt2M;
        },
        getImgpreviewImg(res, file, fileList) {//回填服务器图片路径
            this.imgPath = res.body.url;
            this.state = false;
              this.fileState=false;
            this.advertisingInfo.attr_image_url = res.body.url;
        },
        getFlashPath(res, file, fileList) {
            this.advertisingInfo.attr_flash_url = res.body.url;
        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
        if (type == 'add') {
            this.getAdvertisingInfo(id);

        } else if (type == 'edit') {
            this.getAdvertisingInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getAdvertisingInfo(id);
        }
    }
}
</script>
<style  scoped>

</style>
