<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name tab-name active" @click="advertisinglist">广告列表</span>
            <span class="forum-name tab-name " @click="advertisingspacelist">广告版位列表</span>
        </div>
        <div class="table-top-bar clearfix">
         <div class="query-inline-box flex-between">
               <el-button  @click="addAdvertisingList" type="warning">添加广告</el-button>  

            <div class="query-inline-box ">
                  <div class="query-inline-group">
                       <label style="line-height: 32px;">展现方式：</label>
                        <el-select placeholder="选择付费方式" v-model="params.queryChargeMode" @change="queryCtg" class="w128">
                        <el-option value="  " label="选择付费方式">
                        </el-option>
                        <el-option value="0" label="按周期收费">
                        </el-option>
                        <el-option value="1" label="按点击量收费">
                        </el-option>
                        <el-option value="2" label="按展现量收费">
                        </el-option>
                    </el-select>
            </div>
                <div class="query-inline-group">
                    <el-input placeholder="请输入关键词" class="w128"  v-model="params.queryTitle"></el-input>
                </div>     
   <div class="query-inline-group">
                <el-button @click="queryTitle">查询</el-button>
                </div>  
         </div>
        </div>
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="advertisingList" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="50"></el-table-column>
                    <el-table-column label="名称" prop="name" align="center"></el-table-column>
                    <el-table-column label="版位" prop="adspaceName" align="center">
                    </el-table-column>
                    <el-table-column label="类型" prop="category" align="center">
                        <template scope="scope">
                            <span v-if="scope.row.category=='image'">图片</span>
                            <span v-else-if="scope.row.category=='code'">代码</span>
                            <span v-else-if="scope.row.category=='text'">文字</span>
                            <span v-else-if="scope.row.category=='flash'">flash</span>
                        </template>

                    </el-table-column>
                    <el-table-column label="收费方式" prop="priority" align="center">
                        <template scope="scope">
                            <span v-if="scope.row.chargeMode==0">按周期收费</span>
                            <span v-if="scope.row.chargeMode==1">按点击量收费</span>
                            <span v-if="scope.row.chargeMode==2">按展现量收费</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="开始时间" prop="startTime" align="center">
                    </el-table-column>
                    <el-table-column label="结束时间" prop="endTime" align="center">
                    </el-table-column>
                    <el-table-column label="点击/展现=点击率" prop="priority" align="center">
                        <template scope="scope">
                            <span>{{scope.row.clickCount}}/{{scope.row.displayCount}}={{scope.row.percent}}%</span>

                        </template>
                    </el-table-column>

                    <el-table-column label="启用" prop="enabled" align="center">
                        <template scope="scope">
                            <span v-if="scope.row.enabled">是</span>
                            <span class="red" v-else>否</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-edit" title="编辑" @click="editFriendLink(scope.row.id)"></a>
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteAdvertising(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button :disabled="disabled" @click="deleteAdvertising(ids)">批量删除</el-button>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from "../../../../api/operation";
export default {
  data() {
    return {
      checkAll: false,
      isIndeterminate: true,
      loading: true,
      advertisingSpaceList: [],
      advertisingList: [],
      ids: "", //批量删除列表
      sort: this.$store.state.sort, //排序列表
      lastLoginDay: this.$store.state.lastLoginDay, //时间排序列表
      groupList: [], //会员组列表
      params: {
        //接口参数
        pageNo: 1,
        pageSize: 20,
        queryChargeMode: "",
        queryTitle: ""
      },
      totalCount: 0,
      currentPage: 1,
      changePageSize: localStorage.getItem("PageSize"),
      disabled: true
    };
  },
  methods: {
    getAdvertisingList() {
      //获取广告分类信息列表
    },
    getAdvertisingList() {
      //获取广告信息列表
      let params = this.params;
      fetch
        .getAdvertisingList(params)
        .then(res => {
          //console.log(res);
          if (res.code == "100") {
            this.advertisingList = res.body;
            this.totalCount = res.totalCount;
            this.loading = false;
          } else {
            this.loading = false;
            this.$message.error(res.message);
          }
        })
        .catch(res => {
          this.loading = false;
          this.$message.error("网络异常");
        });
    },
    queryCtg(val) {
      //查询分类
      this.loading = true;
      this.getAdvertisingList();
    },
    queryTitle(val) {
      this.loading = true;
      this.getAdvertisingList();
    },
    getAdvertisingSpaceList() {
      //广告版位
      this.$router.push({
        path: "/advertisingspacelist"
      });
    },
    addAdvertisingList() {
      //添加广告
      this.$router.push({
        path: "/advertisingadd",
        query: {
          type: "add",
          id: 0
        }
      });
    },
    advertisinglist() {
      this.$router.push({
        path: "/advertisinglist"
      });
    },
    advertisingspacelist() {
      this.$router.push({
        path: "/advertisingspacelist"
      });
    },
    editFriendLink(id) {
      //修改广告
      this.$router.push({
        path: "/advertisingedit",
        query: {
          type: "edit",
          id: id
        }
      });
    },
    deleteAdvertising(id) {
      //删除广告
      this.ids = id;
      this.$confirm("您确定要删除广告吗?", "警告", { type: "warning" })
        .then(mes => {
          fetch
            .deleteAdvertisingInfo({ ids: this.ids })
            .then(res => {
              this.loading = false;
              if (res.code == "100") {
                this.$message.success("删除成功");
                this.getAdvertisingList();
              } else {
                this.$message.error(res.message);
              }
            })
            .catch(res => {
              //console.log(res);
              this.loading = false;
              this.$message.error("网络异常");
            });
        })
        .catch(mes => {});
    },
    getPage(val) {
      //获取当前页数
      //console.log(val);
      this.loading = true;
      this.params.pageNo = val;
      this.getAdvertisingList();
    },
    getSize(val) {
      //分页
      this.loading = true;
      this.params.pageNo = val;
      this.getAdvertisingList();
    },
    changeSize(event) {
      //跳页
      let val = event.target.value;
      if (val < 1) {
        localStorage.setItem("PageSize", 20); //处理异常大小
        val = 20;
      } else {
        localStorage.setItem("PageSize", val); //本地存储下每页条数
      }
      this.loading = true;
      this.params.pageSize = parseInt(val);
      this.params.pageNo = 1;
      this.currentPage = 1;
      this.getAdvertisingList();
    },
    checkIds(res) {
      //选中当前的ids
      let ids = [];
      for (let i = 0; i < res.length; i++) {
        ids.push(res[i].id);
      }
      if (ids.length == 0) {
        this.ids = "";
        this.disabled = true;
      } else {
        this.ids = ids.join(",");
        this.disabled = false;
      }
    }
  },
  created: function() {
    let size = localStorage.getItem("PageSize");
    if (size != null) {
      this.params.pageSize = parseInt(size); //取本地存储的条目
    } else {
      this.changePageSize = 20;
    }
    this.getAdvertisingList();
  },
  watch: {
    $route: function(to, from) {
      this.loading = true;
      this.getAdvertisingList();
    }
  }
};
</script>

<style>

</style>
