<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :model="systemInfo" :rules="rules" ref="topicInfo">
                <el-form-item label="微信公众号APPID" class="form-group" prop="weixinAppId">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.weixinAppId"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>
                <el-form-item label="微信支付商户号" class="form-group" prop="weixinAccount">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.weixinAccount"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>
                <el-form-item label="微信公众号Secret" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="params.weixinSecret"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"> 不修改请留空</el-col>
                </el-form-item>

                <el-form-item label="微信支付商户密钥" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="params.weixinPassword"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>
                <el-form-item label="微信企业转账API密钥" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="params.transferApiPassword"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>

                <el-form-item label="转账登陆密码" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="params.payTransferPassword"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>
                <el-form-item label="打赏默认配置" class="form-group" :required="true">
                    <el-col :span="6">
                        <el-radio-group v-model="systemInfo.rewardPattern">
                            <el-radio :label="true">固定</el-radio>
                            <el-radio :label="false">随机</el-radio>
                        </el-radio-group>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="固定值" class="form-group" v-show="systemInfo.rewardPattern">
                    <el-col :span="3">
                        <el-row :gutter="20" class="mb10 row-line" v-for="(item,index) in addList" :key="item.index">
                            <el-col :span="19">
                                <el-input v-model="item.value"></el-input>
                            </el-col>
                            <el-col :span="4">
                                <el-button type="danger" @click="deletePoint(index)">删除</el-button>
                            </el-col>
                        </el-row>
                        <el-button type="warning" @click="addPoint">添加</el-button>

                    </el-col>
                </el-form-item>

                <el-form-item label="打赏最小随机数" class="form-group" prop="rewardMin">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.rewardMin"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">*</el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>

                <el-form-item label="打赏最大随机数" class="form-group" prop="rewardMax">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.rewardMax"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">*</el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>

                <el-form-item label="合作者Id" class="form-group" prop="alipayPartnerId">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.alipayPartnerId"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>

                <el-form-item label="支付宝签约账户" class="form-group" prop="alipayAccount">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.alipayAccount"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>
                <el-form-item label="支付宝安全校验码" class="form-group" prop="alipayKey">
                    <el-col :span="6">
                        <el-input v-model="params.alipayKey"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>

                <el-form-item label="支付宝应用id" class="form-group" prop="alipayAppId">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.alipayAppId"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>

                <el-form-item label="支付宝公钥" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="params.alipayPublicKey" type="textarea" :rows="8"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>

                <el-form-item label="支付宝私钥" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="params.alipayPrivateKey" type="textarea" :rows="8"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">工具生成的支付宝私钥复制需要注意把行串起，去除行之间空字符，不修改请留空</el-col>
                </el-form-item>

                <el-form-item label="平台抽成比例" class="form-group" prop="chargeRatio">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.chargeRatio"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray">0.1表示10个点 平台抽取用户支付10%</el-col>
                </el-form-item>

                <el-form-item label="提现最小额度" class="form-group" prop="minDrawAmount">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.minDrawAmount"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>

                <el-form-item label="礼物平台抽成比例" class="form-group" prop="giftChargeRatio">
                    <el-col :span="6">
                        <el-input v-model.number="systemInfo.giftChargeRatio"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">*</el-col>
                    <el-col :span="7" class="gray">0.1表示10个点 平台抽取用户支付10%</el-col>
                </el-form-item>

            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateChargeInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
import * as users from '../../../api/usermanage'
export default {
    data() {
        return {
            loading: true,
            systemInfo: {},
            params: {
                weixinSecret: '',
                weixinPassword: '',
                transferApiPassword: '',
                payTransferPassword: '',
                alipayKey: '',
                alipayPublicKey: '',
                alipayPrivateKey: ''

            },
            groupList: [],
            addList: [],
            rules: {
                weixinAppId: [{ required: true, message: '此项必填', trigger: 'blur' }],
                weixinAccount: [{ required: true, smessage: '此项必填', trigger: 'blur' }],
                rewardMin: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                rewardMax: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                chargeRatio: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                minDrawAmount: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                giftChargeRatio: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }]
            },
        }
    },
    methods: {
        getuserGroupList() {//获取会员组
            users.getGroupList({ groupType: -1 })
                .then(res => {
                    this.groupList = res.body;
                })
        },
        getChargeInfo() {//获取系统信息
            fetch.getChargeInfo()
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;
                        this.systemInfo = res.body.configCharge;
                        this.addList = res.body.fixMap
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        updateChargeInfo(formName) {//修改系统信息
            this.$refs[formName].validate((valid) => {
                document.querySelector("#main").scrollTop = 0;
                if (valid) {
                    let params = this.systemInfo;
                    params.weixinSecret = this.params.weixinSecret
                    params.weixinPassword = this.params.weixinPassword
                    params.transferApiPassword = this.params.transferApiPassword
                    params.payTransferPassword = this.params.payTransferPassword
                    params.alipayKey = this.params.alipayKey
                    params.alipayPublicKey = this.params.alipayPublicKey
                    params.alipayPrivateKey = this.params.alipayPrivateKey

                    for (let i = 0; i < this.addList.length; i++) {
                        params[this.addList[i].key] = this.addList[i].value;
                    }

                    fetch.updateChargeInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    document.querySelector("#main").scrollTop = 0;
                    return false;
                }
            });
        },
        deletePoint(index) {
            //console.log(index);
            this.addList.splice(index, 1);
        },
        addPoint(index) {
            let len = this.addList.length + 1;
            this.addList.push(
                {
                    "value": "",
                    "key": "attr_reward_fix_" + len
                }
            )
        }
    },

    created: function() {
        this.loading = true;
        this.getuserGroupList();
        this.getChargeInfo();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getChargeInfo()
        }
    }
}
</script>
<style scoped>
.mb10 {
    margin-bottom: 10px;
}
</style>
