<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :model="systemInfo" :rules="rules" ref="topicInfo">
                <el-form-item label="qq登录" class="form-group" :required="true">
                    <el-col :span="6">
                        <el-switch on-text="" off-text="" v-model="systemInfo.qqEnable"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"> </el-col>
                </el-form-item>
                <div v-show="systemInfo.qqEnable">
                    <el-form-item label="APPId" class="form-group" >
                        <el-col :span="6">
                            <el-input v-model="systemInfo.qqID"></el-input>
                        </el-col>
                        <el-col :span="1" class="required">&nbsp; </el-col>
                        <el-col :span="7" class="gray"></el-col>
                    </el-form-item>
                    <el-form-item label="APP KEY" class="form-group" >
                        <el-col :span="6">
                            <el-input v-model="params.qqKey"></el-input>
                        </el-col>
                        <el-col :span="1" class="required">&nbsp; </el-col>
                        <el-col :span="7" class="gray">不修改请留空</el-col>
                    </el-form-item>
                </div>
                <el-form-item label="新浪微博登陆" class="form-group" :required="true">
                    <el-col :span="6">
                        <el-switch on-text="" off-text="" v-model="systemInfo.sinaEnable"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"> </el-col>
                </el-form-item>
                <div v-show="systemInfo.sinaEnable">
                    <el-form-item label="APPId" class="form-group">
                        <el-col :span="6">
                            <el-input v-model="systemInfo.sinaID"></el-input>
                        </el-col>
                        <el-col :span="1" class="required">&nbsp; </el-col>
                        <el-col :span="7" class="gray"></el-col>
                    </el-form-item>
                    <el-form-item label="App Secret" class="form-group" >
                        <el-col :span="6">
                            <el-input v-model="params.sinaKey"></el-input>
                        </el-col>
                        <el-col :span="1" class="required">&nbsp; </el-col>
                        <el-col :span="7" class="gray">不修改请留空</el-col>
                    </el-form-item>
                </div>
                <el-form-item label="微信登陆" class="form-group" :required="true">
                    <el-col :span="6">
                        <el-switch on-text="" off-text="" v-model="systemInfo.weixinEnable"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"> </el-col>
                </el-form-item>
                <div v-show="systemInfo.weixinEnable">
                    <el-form-item label="APPId" class="form-group" >
                        <el-col :span="6">
                            <el-input v-model="systemInfo.weixinLoginId"></el-input>
                        </el-col>
                        <el-col :span="1" class="required">&nbsp; </el-col>
                        <el-col :span="7" class="gray"></el-col>
                    </el-form-item>
                    <el-form-item label="App Secret" class="form-group" >
                        <el-col :span="6">
                            <el-input v-model="params.weixinLoginSecret"></el-input>
                        </el-col>
                        <el-col :span="1" class="required">&nbsp; </el-col>
                        <el-col :span="7" class="gray">不修改请留空</el-col>
                    </el-form-item>
                    <el-form-item label="微信小程序ID" class="form-group" >
                    <el-col :span="6">
                        <el-input v-model="systemInfo.weixinAppId"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"></el-col>
                </el-form-item>
                <el-form-item label="微信小程序密钥" class="form-group" >
                    <el-col :span="6">
                        <el-input v-model="params.weixinAppSecret"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray"> 不修改请留空</el-col>
                </el-form-item>
                </div>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateApiInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
import * as users from '../../../api/usermanage'
export default {
    data() {
        return {
            loading: true,
            systemInfo: {},
            groupList: [],
            params:{
                qqKey:'',
                sinaKey:'',
                qqWeboKey:'',
                weixinLoginSecret:'',
                weixinAppSecret:''
            },
            rules: {
                exchangetax: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                miniBalance: [{ required: true, type: 'number', message: '此项必填', trigger: 'blur' }]
            },
        }
    },
    methods: {

        getApiInfo() {//获取系统信息
            fetch.getApiInfo()
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;
                        this.systemInfo = res.body;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        updateApiInfo(formName) {//修改系统信息
            this.$refs[formName].validate((valid) => {
                document.querySelector("#main").scrollTop = 0;
                if (valid) {
                    this.loading = true;
                    let params = this.systemInfo;
                            params.qqKey=this.params.qqKey;
                 params.sinaKey=this.params.sinaKey;
                 params.qqWeboKey=this.params.qqWeboKey;
                 params.weixinLoginSecret=this.params.weixinLoginSecret;
                params.weixinAppSecret=this.params.weixinAppSecret;
                    fetch.updateApiInfo(params)
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.loading = false;
                            this.$message.error('修改失败');
                        })
                } else {
                    document.querySelector("#main").scrollTop = 0;
                    return false;
                }
            });
        }
    },

    created: function() {
        this.getApiInfo();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getApiInfo()
        }
    }
}
</script>
<style>

</style>
