<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
           
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="ModelInfo" ref="topicInfo">
                <el-form-item label="接口地址" class="form-group" prop="address">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.address"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="空间" class="form-group" prop="targetNamespace">
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.targetNamespace"></el-input>
                    </el-col>
                    <el-col :span="1" class="required"></el-col>
                </el-form-item>
                <el-form-item label="接口方法" class="form-group" prop="operate" >
                    <el-col :span="6">
                        <el-input v-model="ModelInfo.operate"></el-input>
                    </el-col>
                    
                </el-form-item>

                <el-form-item label="接口类型" class="form-group" prop="type" :required="true">
                    <el-col :span="6">
                        <el-select placeholder="网站分类" v-model="ModelInfo.type">
                            <el-option v-for="(item,index) in modelCtgList" :key="item.id" :label="item.name" :value="item.id"></el-option>
                        </el-select>

                    </el-col>
                </el-form-item>

                <el-form-item label="正确返回值" class="form-group"  >
                    <el-col :span="6">
                        <el-input v-model.number="ModelInfo.successResult"></el-input>
                    </el-col>
                </el-form-item>

                <el-form-item label="参数列表" class="form-group" prop="views">
                    <el-col :span="6">
                        <el-row :gutter="10"style="margn-bottom:0px; text-align:center">
                             <el-col :span="8">
                                 参数名称
                             </el-col>
                             <el-col :span="8">
                                  默认值
                             </el-col>
                         </el-row>
                         <el-row :gutter="10" class="mb10" v-for="(item,index) in paramNames" :key="item.key">
                             <el-col :span="8">
                                 <el-input v-model="paramNames[index]"></el-input>
                             </el-col>
                             <el-col :span="8">
                                 <el-input v-model="defaultValues[index]"></el-input>
                             </el-col>
                             <el-col :span="8">
                                 <el-button type="danger" @click="deleteParams(index)">删除</el-button>
                             </el-col>
                         </el-row>
                         
                       <el-button type="warning" @click="addParams">添加</el-button>     
                    </el-col>
                    <el-col :span="1" class="required"></el-col>
                </el-form-item>

            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='edit'" @click="updateWebServiceInfo('topicInfo')" />
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='add'" @click="addWebServiceInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
export default {
    data() {
        return {
            loading: true,
            count: 0,
            state: false,
            ModelInfo: {},
            paramNames:[],
            defaultValues:[],
            modelCtgList: [{
                id:'addUser',
                name: '添加用户',

            }, {
               id:'updateUser',
                name: '修改用户',

            }, {
               id:'deleteUser',
                name: '删除用户',

            }],
            rules: {
                address: [{ required: true, message: '此项必填', trigger: 'blur' }],
                label: [{ required: true, message: '此项必填', trigger: 'blur' }],
                priority: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
            },
        }
    },
    methods: {
        getFriendLinkCtgList() {//获取分类
        },
        getWebServiceInfo(id) {//获取分类模型信息
            fetch.getWebServiceInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                        //console.log(res);
                        this.loading = false;
                        this.ModelInfo = res.body;
                         this.ModelInfo.type='addUser';
                        this.paramNames=this.ModelInfo.paramNames.split(',');
                         this.defaultValues=this.ModelInfo.defaultValues.split(',');
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        setChange(val) {

        },
        deleteParams(index){
            this.paramNames.splice(index,1);
            this.defaultValues.splice(index,1);
        },
        addParams(){
          this.paramNames.push('');
            this.defaultValues.push('');     
        },
        updateWebServiceInfo(formName) {//修改模型
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.ModelInfo;                    
                    params.paramNames= this.paramNames.join(',');
                     params.defaultValues= this.defaultValues.join(',');
                    fetch.updateWebServiceInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/webservicelist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        addWebServiceInfo(formName) {//添加模型
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.ModelInfo;
                     params.paramNames= this.paramNames.join(',');
                     params.defaultValues= this.defaultValues.join(',');
                    fetch.addWebServiceInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/webservicelist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('添加异常');
                        })
                } else {
                    return false;
                }
            });
        },
        back() {
            this.$router.push({
                path: '/webservicelist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;

        if (type == 'add') {
            this.getWebServiceInfo(id);
        } else if (type == 'edit') {
            this.getWebServiceInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getWebServiceInfo(id);
        }
    }
}
</script>
<style scoped>
   .mb10{
       margin-bottom: 10px;
   }
</style>
