<template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">收益统计列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <div class="query-inline-box flex-left">
                       <div class="query-inline-group">
                                <label>时间段查询:</label>
                                  <el-date-picker class="w128" v-model="params.begin" @keyup.enter.native="query" @change="formatTime"></el-date-picker>
                                    <span class="time-slot">-</span>
                            <el-date-picker class="w128"  @keyup.enter.native="query" v-model="params.end" @change="formatTime2"></el-date-picker>
                           </div> 
                <div class="query-inline-group">
                              <el-button @click="query" >查询</el-button>
                           </div> 
            </div>
        </div>
        <div class="table-responsive">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="orderList">
                    <el-table-column label="日期" prop="incomeDate" align="center"></el-table-column>
                    <el-table-column label="总收益" prop="totalIncomeAmount" align="center"></el-table-column>
                    <el-table-column label="广告收益" prop="adIncomeAmount" align="center"></el-table-column>
                    <el-table-column label="礼物收益" prop="giftIncomeAmount" align="center"></el-table-column>
                    <el-table-column label="道具收益" prop="magicIncomeAmount" align="center" :width="220"></el-table-column>
                    <el-table-column label="直播收益" prop="liveIncomeAmount" align="center"></el-table-column>
                    <el-table-column label="帖子收益" prop="postIncomeAmount" align="center"></el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <a :href="exportLink" class="el-button el-button--default">导出</a>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" @keyup.enter.native="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>           
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from "../../../../api/operation";
import * as exportExcel from "../../../../api/exportLink";
export default {
  data() {
    return {
      checkAll: false,
      isIndeterminate: true,
      loading: true,
      orderList: [],
      ids: "", //批量删除列表
      lastLoginDay: this.$store.state.lastLoginDay, //时间排序列表
      groupList: [], //会员组列表
      params: {
        //接口参数
        pageNo: 1,
        pageSize: 20,
        begin: "", //
        end: "" //
      },
      totalCount: 0,
      currentPage: 1,
      changePageSize: localStorage.getItem("PageSize"),
      exportLink: "#"
    };
  },
  methods: {
    getOrderList() {
      //获取用户信息列表
      let params = this.params;
      fetch
        .getIncomeStatisticList(params)
        .then(res => {
          //console.log(res);
          if (res.code == "100") {
            this.orderList = res.body;
            this.totalCount = res.totalCount;
            this.loading = false;
          } else {
            this.loading = false;
            this.$message.error(res.message);
          }
        })
        .catch(res => {
          this.loading = false;
          this.$message.error("网络异常");
        });
    },
    formatTime(val) {
      this.params.begin = val;
    },
    formatTime2(val) {
      this.params.end = val;
    },
    query() {
      this.loading = true;
      this.getOrderList();
    },
    getPage(val) {
      //获取当前页数
      //console.log(val);
      this.loading = true;
      this.params.pageNo = val;
      this.getOrderList();
    },
    getSize(val) {
      //分页
      this.loading = true;
      this.params.pageNo = val;
      this.getOrderList();
    },
    changeSize(event) {
      //跳页
      let val = event.target.value;
      if (val < 1) {
        localStorage.setItem("PageSize", 20); //处理异常大小
        val = 20;
      } else {
        localStorage.setItem("PageSize", val); //本地存储下每页条数
      }
      this.loading = true;
      this.params.pageSize = parseInt(val);
      this.params.pageNo = 1;
      this.currentPage = 1;
      this.getOrderList();
    }
  },
  watch: {
    params: {
      handler(curVal, oldVal) {
        this.exportLink = exportExcel.incomeStatisticExport(this.params);
      },
      deep: true
    }
  },
  created: function() {
    let size = localStorage.getItem("PageSize");
    if (size != null) {
      this.params.pageSize = parseInt(size); //取本地存储的条目
    } else {
      this.changePageSize = 20;
    }

    this.getOrderList();
    this.exportLink = exportExcel.incomeStatisticExport(this.params);
  }
};
</script>

<style scoped>
.pull-right {
  text-align: right;
}
.pull-right label {
  display: inline-block;
  margin-top: 8px;
  padding-right: 5px;
}
</style>
