<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
           
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="userInfo" ref="userInfo">
                <el-form-item label="用户名" class="form-group" prop="username">
                    <el-col :span="6">
                        <el-input v-model="userInfo.username"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="系统" class="form-group" prop="system">
                    <el-col :span="6">
                        <el-input v-model="userInfo.system"></el-input>
                    </el-col>
                    <el-col :span="1" class="required"></el-col>
                </el-form-item>
                <el-form-item label="密码"  class="form-group"  prop="password">
                    <el-col :span="6">
                        <el-input type="password" v-model="pwd" auto-complete="off"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="10" v-show="$route.query.type=='edit'"> 不修改请留空</el-col>
                </el-form-item>

                <el-form-item label="重复密码" class="form-group"  prop="checkPass">
                    <el-col :span="6">
                        <el-input type="password" v-model="userInfo.checkPass" auto-complete="off"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="10" v-show="$route.query.type=='edit'"> 不修改请留空</el-col>
                </el-form-item>

 <el-form-item label="是否启用" class="form-group">
                    <el-col :span="6">
                        <el-switch on-text="" off-text="" v-model="userInfo.enable"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""> </el-col>
                </el-form-item>


    

            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='edit'" @click="updateWebServiceInfo('userInfo')" />
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='add'" @click="addWebServiceInfo('userInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/systemConfig'
export default {
    
    data() {
         var validatePass = (rule, value, callback) => {
            if (value === '') {
                if(this.$route.query.type=='add'){
                    callback(new Error('请输入密码'));    
                }else{
                       callback();
                }
            } else {
                if (this.userInfo.checkPass !== '') {
                    this.$refs.userInfo.validateField('checkPass');
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
                 if(this.$route.query.type=='add'){
                     callback(new Error('请再次输入密码'));
                }else{
                    callback();
                }

            } else if (value !== this.userInfo.password) {
                callback(new Error('两次输入密码不一致!'));
            } else {
                callback();
            }
        };
        return {
            loading: true,
            count: 0,
            state: false,
            pwd:'',
            userInfo: {},
            paramNames:[],
            defaultValues:[],
            modelCtgList: [{
                id:'addUser',
                name: '添加用户',

            }, {
               id:'updateUser',
                name: '修改用户',

            }, {
               id:'deleteUser',
                name: '删除用户',

            }],
            rules: {
                username: [{ required: true, message: '此项必填', trigger: 'blur' }],
                system: [{ required: true, message: '此项必填', trigger: 'blur' }],
                password:[
                    { validator: validatePass, trigger: 'blur' }
                ],
                checkPass: [
                    { validator: validatePass2, trigger: 'blur' }
                ],
            },
        }
    },
    methods: {
        getFriendLinkCtgList() {//获取分类
        },
        getWebServiceInfo(id) {//获取分类模型信息
            fetch.getWebServiceAuthInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                        //console.log(res);
                        this.loading = false;
                         this.userInfo=res.body;
                          
                            if(this.$route.query.type=='add'){
                                    this.userInfo.password='';
                            }
                            this.userInfo.checkPass='';
                       
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        setChange(val) {

        },
        deleteParams(index){
            this.paramNames.splice(index,1);
            this.defaultValues.splice(index,1);
        },
        addParams(){
          this.paramNames.push('');
            this.defaultValues.push('');     
        },
        updateWebServiceInfo(formName) {//修改模型
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.userInfo;   
                      params.password=this.pwd;                 
                    fetch.updateWebServiceAuthInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/webserviceauthlist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        addWebServiceInfo(formName) {//添加模型
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.userInfo;
                     params.paramNames= this.paramNames.join(',');
                     params.defaultValues= this.defaultValues.join(',');
                    fetch.addWebServiceAuthInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/webserviceauthlist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('添加异常');
                        })
                } else {
                    return false;
                }
            });
        },
        back() {
            this.$router.push({
                path: '/webserviceauthlist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;

        if (type == 'add') {
            this.getWebServiceInfo(id);
        } else if (type == 'edit') {
            this.getWebServiceInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getWebServiceInfo(id);
        }
    }
}
</script>
<style scoped>
   .mb10{
       margin-bottom: 10px;
   }
</style>
