<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
           
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="giftInfo" ref="topicInfo">
                <el-form-item label="名称" class="form-group" prop="name">
                    <el-col :span="6">
                        <el-input v-model="giftInfo.name"></el-input>
                    </el-col>
                     <el-col :span="1" class="required">
                         *
                    </el-col>
                </el-form-item>

                <el-form-item label="支付方式" class="form-group">
                    <el-col :span="6">
                        <el-select v-model="giftInfo.credit">
                            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                            </el-option>
                        </el-select>
                    </el-col>

                </el-form-item>

                <el-form-item label="价格" class="form-group" prop="price">
                    <el-col :span="6">
                        <el-input v-model.number="giftInfo.price" type="number"></el-input>
                    </el-col>
<el-col :span="1" class="required">
                         *
                    </el-col>
                </el-form-item>
                <el-form-item label="道具存货量" class="form-group" prop="num">
                    <el-col :span="6">
                        <el-input v-model.number="giftInfo.num" type="number"></el-input>
                    </el-col>
<el-col :span="1" class="required">
                         *
                    </el-col>
                </el-form-item>

                <el-form-item label="道具描述" class="form-group" prop="description">
                    <el-col :span="6">
                        <el-input v-model.number="giftInfo.description" type="textarea"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">
                         *
                    </el-col>
                </el-form-item>

                <el-form-item label="道具图片" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="giftInfo.magicLogo"></el-input>
                        <div :class="state ? 'pic-box' : 'pic-box-no'">
                            <img :src="$store.state.baseUrl+imgPath" alt=""  @click="showBig"  v-if="!state" >
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <el-upload class="upload-demo" :action="$store.state.upLoadUrl" name="uploadFile" 
                        :data="upobj" 
                        :before-upload="beforeAvatarUpload"
                         :on-success="getImgpic"
                         :show-file-list="fileState">
                            <el-button  type="primary" style="margin-left:10px">点击上传</el-button>
                        </el-upload>
                        <el-dialog title="按下esc退出全屏" v-model="dialogVisible" size="full" class="pic-dialog" >
                            <img  :src="$store.state.baseUrl+imgPath" alt="" class="big-img">
                     </el-dialog>
                    </el-col>
                </el-form-item>

                <el-form-item label="允许使用的用户组" class="form-group" prop="priority">
                    <el-col :span="10">
                        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
                        <el-checkbox-group v-model="groupIds" @change="handleCheckedCitiesChange">
                            <el-checkbox v-for="item in groupList" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
                        </el-checkbox-group>
                    </el-col>
                </el-form-item>
                <el-form-item label="允许被使用的用户组" class="form-group" prop="priority">
                    <el-col :span="10">
                        <el-checkbox :indeterminate="isIndeterminate2" v-model="checkAll2" @change="handleCheckAllChange2">全选</el-checkbox>
                        <el-checkbox-group v-model="beUsedGroupIds" @change="handleCheckedCitiesChange2">
                            <el-checkbox v-for="item in groupList" :label="item.id" :key="item.id">{{item.name}}</el-checkbox>
                        </el-checkbox-group>
                    </el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='edit'" @click="updateGiftInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../../api/operation'
import * as users from '../../../../api/usermanage'
export default {
    data() {
        return {
            fileState:true,
            dialogVisible:false,
            checkAll: true,
            isIndeterminate: true,
            checkAll2: true,
            isIndeterminate2: true,
            loading: true,
            state: false,
            imgPath: '',//图片路径
            upobj: {//上传参数
                type: 'image',
                sessionKey: localStorage.getItem('sessionKey'),
                appId: this.$store.state.appId
            },
            giftInfo: {},//道具信息
            groupList: [],
            groupListIds: [],//所有会员组id
            beUsedGroupIds: [],
            groupIds: [],
            rules: {
                name: [{ required: true, message: '请填写一个名字', trigger: 'blur' }],
                num: [{ required: true, type: 'number', message: '请填写一个数字', trigger: 'blur' }],
                price: [{ required: true, type: 'number', message: '请填写一个价格', trigger: 'blur' }],
                description: [{ required: true, message: '请填写一个描述', trigger: 'blur' }],
            },
            options: [{
                value: 1,
                label: '积分'
            }, {
                value: 2,
                label: '威望'
            }, {
                value: 3,
                label: '人民币'
            },

            ],
        }
    },
    methods: {
        showBig(){
           this.dialogVisible=true;      
        },
        handleCheckAllChange(event) {
            this.groupIds = event.target.checked ? this.groupListIds : [];
            this.isIndeterminate = false;
        },
        handleCheckedCitiesChange(value) {
            let checkedCount = value.length;
            this.checkAll = checkedCount === this.groupListIds.length;
            this.isIndeterminate = checkedCount > 0 && checkedCount < this.groupListIds.length;
        },
        handleCheckAllChange2(event) {
            this.beUsedGroupIds = event.target.checked ? this.groupListIds : [];
            this.isIndeterminate2 = false;
        },
        handleCheckedCitiesChange2(value) {
            let checkedCount = value.length;
            this.checkAll2 = checkedCount === this.groupListIds.length;
            this.isIndeterminate2 = checkedCount > 0 && checkedCount < this.groupListIds.length;
        },
        getuserGroupList() {//获取会员组
            users.getGroupList({ groupType: -1 })
                .then(res => {
                    //console.log(res);
                    this.groupList = res.body;
                    for (let i = 0; i < res.body.length; i++) {
                        this.groupListIds.push(res.body[i].id);
                    }
                })
        },
        getMagicInfo(id) {//获取分类礼物信息
            fetch.getMagicInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;
                        this.giftInfo = res.body;
                        this.beUsedGroupIds = this.changeInt(res.body.beUsedGroupIds);
                        this.groupIds = this.changeInt(res.body.groupIds);
                        if (this.giftInfo.magicLogo == '') {
                            this.state = true;
                        } else {
                            this.imgPath = res.body.magicLogo;
                            this.state = false;
                        }
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        changeInt(str) {
            let arr = str.split(',');
            let intArr = [];
            if (str == null || str == '') {
                intArr = []
            } else {
                for (let i = 0; i < arr.length; i++) {
                    intArr.push(parseInt(arr[i]));
                }
            }
            return intArr;
        },
        updateGiftInfo(formName) {//修改礼物
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.giftInfo;
                    params.groupIds = this.groupIds.join(',');
                    params.beUsedGroupIds=this.beUsedGroupIds.join(',')
                    fetch.updateMagicInfo(params)
                        .then(res => {
                            //console.log("类型=" + typeof res);
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/magiclist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        back() {
            this.$router.push({
                path: '/magiclist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        },
        beforeAvatarUpload(file) {//上传验证
        this.fileState=true;
            const isJPG = file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/gif';
            const isLt2M = file.size / 1024 / 1024 < 2;
            if (!isJPG) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
            }
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过2MB!');
            }
            return isJPG && isLt2M;
        },
        getImgpic(res, file, fileList) {//回填服务器图片路径
            this.imgPath = res.body.url;
            this.state = false;
            this.fileState=false;
            this.giftInfo.magicLogo = res.body.url;

        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
        if (type == 'add') {
            this.getuserGroupList();
            this.getMagicInfo(id);
        } else if (type == 'edit') {
            this.getuserGroupList();
            this.getMagicInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getuserGroupList();
            this.getMagicInfo(id);
        }
    }
}
</script>
<style scoped>
.el-checkbox-group>label {
    display: inline-block;
}
</style>
