<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">道具列表</span>
        </div>
        <div class="table-top-bar clearfix">
             <button class="bbs-config" @click="setConfig">配置</button>
                <button class="bbs-give" @click="giveMagic">赠送</button>
        
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="magicList" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="50"></el-table-column>
                    <el-table-column label="名称" prop="name" align="center"></el-table-column>
                    <el-table-column label="图片" prop="picPath" align="center">
                           <template scope="scope">
                               <img :src="$store.state.baseUrl+scope.row.magicLogo"  height="25">                       
                        </template> 
                    </el-table-column>
                    <el-table-column label="价格(元)" prop="price" align="center"></el-table-column>
                    <el-table-column label="排列顺序" prop="displayorder" align="center">
                        <template scope="scope">
                            <el-input style="width:40%" v-model="scope.row.displayorder"></el-input>
                        </template>
                    </el-table-column>
                   
                    <el-table-column label="启用" prop="available" align="center">
                        <template scope="scope">
                            <el-switch 
                            on-text="是" off-text="否" v-model="scope.row.available"></el-switch>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-edit" title="编辑" @click="editGift(scope.row.id)"></a>
                         
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button @click="savePriority">保存排列顺序</el-button>
            </div>
        
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../../api/operation'
export default {
    data() {
        return {
            loading: true,
            friendLinkCtgList: [],
            magicList: [],
            ids: '',//批量删除列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                queryCtgId: ''
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize:localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
        getMagicList() {//获取礼物信息列表
            let params = this.params;
            fetch.getMagicList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.magicList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
       
        savePriority() {//保存排列顺序
            this.loading = true;
            let list = this.magicList;
            let params = {
                ids: [],
                prioritys: [],
                magicAvails:[],
            }
            for (let i = 0; i < list.length; i++) {
                params.ids.push(list[i].id);
                params.prioritys.push(list[i].displayorder);
                  params.magicAvails.push(list[i].available);    
            }
            params.ids = params.ids.join(",");
            params.prioritys = params.prioritys.join(",");
             params.magicAvails = params.magicAvails.join(",");
            fetch.magicBatchUpdate(params)
                .then(res => {
                    this.loading = false;
                    if (res.code == '100') {
                        this.$message.success('保存成功');
                        this.getMagicList();
                    } else {
                        this.$message.error(res.message);
                    }
                }).catch(res => {
                    this.loading = false;
                    this.$message.error('保存异常');
                })
        },
        editGift(id) {//修改礼物
            this.$router.push({
                path: '/magicedit',
                query: {
                    type: 'edit',
                    id: id
                }
            });
        }, 
        setConfig(){
            this.$router.push({
                path: '/magicconfig'
            });    
        },
        giveMagic(){
            this.$router.push({
                path: '/selectuser'
            });    
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getMagicList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getMagicList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getMagicList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getMagicList();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getMagicList();
           
        }
    }
}
</script>

<style>

</style>
