<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="advertisingSpaceInfo" ref="topicInfo">
                <el-form-item label="广告版块名称" class="form-group" prop="name">
                    <el-col :span="6">
                        <el-input v-model="advertisingSpaceInfo.name"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                 <el-form-item label="描述" class="form-group">
                    <el-col :span="6">
                        <el-input type="textarea" v-model="advertisingSpaceInfo.description"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="图片地址" class="form-group">
                    <el-col :span="6">
                        <el-input v-model="advertisingSpaceInfo.previewImg"></el-input>
                        <div :class="state ? 'pic-box' : 'pic-box-no'">
                             <img :src="$store.state.baseUrl+imgPath" alt=""  @click="showBig"  v-if="!state" >
                        </div>
                    </el-col>
                     <el-col :span="6">
                        <el-upload class="upload-demo" :action="$store.state.upLoadUrl" 
                        name="uploadFile"
                         :data="upobj" :before-upload="beforeAvatarUpload" 
                         :on-success="getImgpreviewImg"
                           :show-file-list="fileState"
                         >
                            <el-button  type="primary" style="margin-left:10px">点击上传</el-button>
                        </el-upload>
                         <el-dialog title="按下esc退出全屏" v-model="dialogVisible" size="full" class="pic-dialog" >
                            <img  :src="$store.state.baseUrl+imgPath" alt="" class="big-img">
                     </el-dialog>
                    </el-col>
                </el-form-item>
                <el-form-item label="是否启用" class="form-group">
                    <el-col :span="1">
                        <el-switch on-text="是" off-text="否" v-model="advertisingSpaceInfo.enabled"></el-switch>
                    </el-col>
                </el-form-item>

               
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='edit'" @click="updateAdvertisingSpaceInfo('topicInfo')" />
                <input type="button" value="提交" class="bbs-submit" v-if="$route.query.type=='add'" @click="addAdvertisingSpaceInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../../api/operation'
export default {
    data() {
        return {
 fileState:true,
            dialogVisible:false,
            loading: true,
            count: 0,
            state: false,
            imgPath: '',//图片路径
            rootId: 0,
            upobj: {//上传参数
                type: 'image',
                sessionKey: localStorage.getItem('sessionKey'),
                appId: this.$store.state.appId
            },
            advertisingSpaceInfo: {},
            
            rules: {
                name: [{ required: true, message: '请填写一个广告版块名字', trigger: 'blur' }],
                priority: [{ required: true, type: 'number', message: '请填写一个数字排序', trigger: 'blur' }]
            },
        }
    },
    methods: {
         showBig(){
           this.dialogVisible=true;      
        },
        getAdvertisingSpaceInfo(id) {//获取分类广告版块信息
            fetch.getAdvertisingSpaceInfo({ id: id })
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.loading = false;
                        this.advertisingSpaceInfo = res.body;
                        if (this.advertisingSpaceInfo.previewImg == '') {
                            this.state = true;
                        } else {
                            this.imgPath = res.body.previewImg;
                            this.state = false;
                        }
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        updateAdvertisingSpaceInfo(formName) {//修改广告版块
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.advertisingSpaceInfo;
                    fetch.updateAdvertisingSpaceInfo(params)
                        .then(res => {
                            //console.log("类型="+ typeof res);
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/advertisingspacelist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        addAdvertisingSpaceInfo(formName) {//添加广告版块
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.advertisingSpaceInfo;
                    
                    fetch.addAdvertisingSpaceInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/advertisingspacelist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('添加异常');
                        })
                } else {
                    return false;
                }
            });
        },
        back() {
            this.$router.push({
                path: '/advertisingspacelist'
            })
        },
        beforeAvatarUpload(file) {//上传验证
         this.fileState=true;
            const isJPG = file.type === 'image/jpeg' || file.type === 'image/png' || file.type === 'image/gif';
            const isLt2M = file.size / 1024 / 1024 < 2;
            if (!isJPG) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
            }
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过2MB!');
            }
            return isJPG && isLt2M;
        },
        getImgpreviewImg(res, file, fileList) {//回填服务器图片路径
            this.imgPath = res.body.url;
            this.state = false;
            this.fileState=false;
            this.advertisingSpaceInfo.previewImg = res.body.url;
        },
        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
        if (type == 'add') {
            this.getAdvertisingSpaceInfo(id);

        } else if (type == 'edit') {
            this.getAdvertisingSpaceInfo(id);
        }
    },
    watch: {
        '$route': function(to, from) {
            let id = this.$route.query.id;
            this.loading = true;
            this.getAdvertisingSpaceInfo(id);
        }
    }
}
</script>
<style>

</style>
