<template>
    <div class="forum-module">
        <div class="forum-header">
             <span class="forum-name tab-name" @click="advertisinglist">广告列表</span>
            <span class="forum-name tab-name active" @click="advertisingspacelist">广告版位列表</span>
            
        </div>
        <div class="table-top-bar clearfix">
            <a href="javascript:void(0)" class="add-Class"  @click="addAdvertisingSpaceList">添加</a>
           
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="advertisingSpaceList" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center"  width="50"></el-table-column>
                    <el-table-column label="名称" prop="name" align="center"></el-table-column>
                    <el-table-column label="启用" prop="enabled" align="center">
                        <template scope="scope">
                            <span v-if="scope.row.enabled">是</span>
                            <span class="red" v-else>否</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center" width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-edit" title="编辑" @click="editFriendLink(scope.row.id)"></a>
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteAdvertisingSpace(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button :disabled="disabled" @click="deleteAdvertisingSpace(ids)">批量删除</el-button>
            </div>
            <div class="pull-right">
             
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../../api/operation'
export default {
    data() {
        return {
            checkAll: false,
            isIndeterminate: true,
            loading: true,
            advertisingSpaceList: [],
            ids: '',//批量删除列表
            sort: this.$store.state.sort,//排序列表
            lastLoginDay: this.$store.state.lastLoginDay,//时间排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                queryChargeMode: '',
                queryTitle: ''
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
        getAdvertisingSpaceList() {//获取广告版位信息列表
            let params = this.params;
            fetch.getAdvertisingSpaceList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.advertisingSpaceList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        advertisinglist(){
            this.$router.push({
                path: '/advertisinglist'
            });
        },
        advertisingspacelist(){
 this.$router.push({
                path: '/advertisingspacelist'
            });
        },
        addAdvertisingSpaceList() {//添加广告版位
            this.$router.push({
                path: '/advertisingspaceadd',
                query: {
                    type: 'add',
                    id: 0,
                }
            });
        },
        editFriendLink(id) {//修改广告版位
            this.$router.push({
                path: '/advertisingspaceedit',
                query: {
                    type: 'edit',
                    id: id
                }
            });
        },
        deleteAdvertisingSpace(id) {//删除广告版位
            this.ids = id;
            this.$confirm('您确定要删除广告版位吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.deleteAdvertisingSpaceInfo({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('删除成功');
                                this.getAdvertisingSpaceList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            //console.log(res);
                            this.loading = false;
                            this.$message.error('网络异常')
                        })
                }).catch(mes => { })
        },
        
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        this.getAdvertisingSpaceList();
       
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getAdvertisingSpaceList();
            
        }
    }
}
</script>

<style>

</style>
