<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">礼物列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <button class="bbs-config" @click="savePriority" :disabled="disabled">赠送</button>
          <button class="bbs-give" @click="setConfig" :disabled="disabled">配置</button>
         
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="magicList" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="50"></el-table-column>
                    <el-table-column label="名称" prop="name" align="center"></el-table-column>
                    <el-table-column label="数量" prop="giveNum" align="center">
                        <template scope="scope">
                            <el-input style="width:40%" v-model.number="scope.row.giveNum" type="number"></el-input>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                
            </div>
        
        </div>
    </div>
</template>

<script>
import * as fetch from "../../../api/operation";
export default {
  data() {
    return {
      loading: true,
      friendLinkCtgList: [],
      magicList: [],
      ids: "", //批量删除列表
      groupList: [], //会员组列表
      params: {
        //接口参数
        pageNo: 1,
        pageSize: 20,
        queryCtgId: ""
      },
      totalCount: 0,
      currentPage: 1,
      changePageSize: localStorage.getItem("PageSize"),
      disabled: true
    };
  },
  methods: {
    getMagicList() {
      //获取礼物信息列表
      let params = this.params;
      fetch
        .getMagicList(params)
        .then(res => {
          //console.log(res);
          if (res.code == "100") {
            for (let i = 0; i < res.body.length; i++) {
              res.body[i].giveNum = 0;
            }
            this.magicList = res.body;
            this.loading = false;
          } else {
            this.loading = false;
            this.$message.error(res.message);
          }
        })
        .catch(res => {
          this.loading = false;
          this.$message.error("网络异常");
        });
    },

    savePriority() {
      //保存排列顺序
      this.loading = true;
      let nums = [];
      for (let i = 0; i < this.magicList.length; i++) {
        nums.push(this.magicList[i].giveNum);
      }
      let params = {
        userIds: localStorage.getItem("userIds"),
        ids: this.ids,
        nums: nums.join(",")
      };
      fetch
        .giveMagic(params)
        .then(res => {
          if (res.code == "100") {
            this.loading = false;
            this.$message.success("赠送成功");
            localStorage.removeItem("userIds");
            setTimeout(() => {
              this.$router.push({
                path: "/magiclist"
              });
            });
          } else {
            this.loading = false;
            this.$message.error("赠送失败");
          }
        })
        .catch(res => {
          this.loading = false;
        });
    },
    setConfig() {
      this.$router.push({
        path: "/magicconfig"
      });
    },
    back() {
      this.$router.push({
        path: "/magiclist",
        query: {
          noceStr: Math.round(Math.random() * 10)
        }
      });
    },
    checkIds(res) {
      //选中当前的ids
      let ids = [];
      for (let i = 0; i < res.length; i++) {
        ids.push(res[i].id);
      }
      if (ids.length == 0) {
        this.ids = "";
        this.disabled = true;
      } else {
        this.ids = ids.join(",");
        this.disabled = false;
      }
    }
  },
  created: function() {
    let size = localStorage.getItem("PageSize");
    if (size != null) {
      this.params.pageSize = parseInt(size); //取本地存储的条目
    } else {
      this.changePageSize = 20;
    }
    this.getMagicList();
  },
  watch: {
    $route: function(to, from) {
      this.loading = true;
      this.getMagicList();
    }
  }
};
</script>

<style>

</style>
