<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
           
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :rules="rules" :model="giftInfo" ref="topicInfo">
                  <el-form-item label="是否打开道具中心" class="form-group">
                    <el-col :span="1">
                        <el-switch on-text="开启" off-text="关闭" v-model="giftInfo.magicSwitch"></el-switch>
                    </el-col>
                </el-form-item>
                <el-form-item label="道具回收价格折扣" class="form-group" prop="name">
                    <el-col :span="6">
                        <el-input v-model="giftInfo.magicDiscount"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp;</el-col>
                    <el-col :span="6">
                        设置道具系统回收价格折扣，此值为百分比，例如如果此值为 80，则系统将以道具原价 80% 的价格回收，建议不超过 100，有效防止刷积分。 0 表示不开启道具回收功能
                    </el-col>
                </el-form-item>
        <el-form-item label="抢沙发台词" class="form-group" prop="name">
                    <el-col :span="6">
                        <el-input v-model="giftInfo.magicSofaLines"></el-input>
                    </el-col>
        
                </el-form-item>
              
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit"  @click="updateGiftInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/operation'
export default {
    data() {
        return {
            loading: true,
            count: 0,
            state: false,
            imgPath: '',//图片路径
            rootId: 0,
            upobj: {//上传参数
                type: 'image',
                sessionKey: localStorage.getItem('sessionKey'),
                appId: this.$store.state.appId
            },
            giftInfo: {},
            friendLinkCtgList: [],
            rules: { },
        }
    },
    methods: {
        getMagicConfig() {//获取分类礼物信息
            fetch.getMagicConfig()
                .then(res => {
                    if (res.code == '100') {
                        this.loading = false;
                         this.giftInfo = res.body;            
                       
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        setChange(val) {

        },
        updateGiftInfo(formName) {//修改礼物
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.giftInfo;
                    fetch.magicConfigUpdate(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/magiclist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        back() {
            this.$router.push({
                path: '/magiclist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        },
        resetForm(formName) {//重置表单
            this.$refs[formName].resetFields();
        }
    },
    created: function() {
            this.getMagicConfig();
        
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getMagicConfig();
        }
    }
}
</script>
<style>

</style>
