<template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">用户列表</span>
            
        </div>
        <div class="table-top-bar clearfix">
            <button :disabled="disabled" @click="selectUserAll(ids)" class="bbs-give">赠送</button>
           
            <div class="pull-right">
                <div class="select-group pull-left">
                    <!--查询条件-->
                    <div class="select-horizontal" style="width: 120px;">
                        <el-select placeholder="用户组" v-model="params.groupId" @change="selectQuery">
                            <el-option label="所有分组" value=""></el-option>
                            <el-option v-for="item in groupList" :key="item.id" :label="item.name" :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>
                <div class="search-box">
                    <el-input placeholder="请输入用户名" icon="search" v-model="params.username" :on-icon-click="queryUserName">
                    </el-input>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="userList" @selection-change="checkIds">
                    <el-table-column type="selection" width="55" align="center"></el-table-column>
                     <el-table-column label="id" prop="id" align="center" :width="55"></el-table-column>
                    <el-table-column label="用户名" prop="username" align="center">
                        <template scope="scope">
                            {{scope.row.username}}<span v-if="scope.row.admin" class="red">[管理员]</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="会员组" prop="groupName" align="center"></el-table-column>       
                    <el-table-column label="启用" prop="disabled" align="center">
                        <template scope="scope">
                            <span v-if="scope.row.disabled" class="red">否</span>
                            <span v-else>是</span>
                        </template>
                    </el-table-column>
                     <el-table-column label="操作" align="center" :width="200">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-edit" title="赠送" @click="selectUserAll(scope.row.id)"></a>
                            
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>

        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/usermanage'
export default {
    data() {
        return {
            checkAll: false,
            isIndeterminate: true,
            loading: true,
            userList: [],
            ids: '',//批量删除列表
            sort: this.$store.state.sort,//排序列表
            lastLoginDay: this.$store.state.lastLoginDay,//时间排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                orderBy: '',//排序
                groupId: '',//会员组查询
                lastLoginDay: '',//登录时间
                username: '',//用户名
                all:true
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
        getuserGroupList() {//获取会员组
            fetch.getGroupList({ groupType: -1 })
                .then(res => {
                    //console.log(res);
                    this.groupList = res.body;
                })
        },
        getUserList() {//获取用户信息列表
            let params = this.params;
            fetch.getUserList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.userList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        back(){
            this.$router.push({
                path: '/magiclist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            })
        },
        selectUserAll(ids) {//批量选择用户
        this.ids=ids
            localStorage.setItem('userIds',this.ids);
              this.$router.push({
                path: '/givemagic'
            });
        },
        selectQuery(val) {//下拉条件搜索
            //console.log(val);
            this.getUserList();
        },
        queryUserName(ev) {//用户名搜索
            this.loading = true;
            this.getUserList();
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getUserList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getUserList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getUserList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getuserGroupList();
        this.getUserList();
    }
}
</script>

<style>

</style>
