<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
            <span class="forum-hint">带"*"号的为必填项</span>
        </div>
        <div class="table-body table-responsive">
            <el-form :rules="rules" :model="userInfo" ref="userInfo">
                <el-form-item label="用户名" class="form-group" >
                    <el-col :span="6">
                        <el-input v-model="userInfo.username" v-if="$route.query.type=='add'"></el-input>
                        <label v-else>{{userInfo.username}}</label>
                    </el-col>
                    <el-col :span="1" class="required" v-if="$route.query.type=='add'">* </el-col>
                </el-form-item>

                <el-form-item label="电子邮件" class="form-group" prop="email">
                    <el-col :span="6">
                        <el-input v-model="userInfo.email"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="10" class="gray">用于找回密码</el-col>
                </el-form-item>

                <el-form-item label="密码"  class="form-group"  prop="password">
                    <el-col :span="6">
                        <el-input type="password" v-model="userInfo.password" auto-complete="off"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="10" class="gray"> 不修改请留空</el-col>
                </el-form-item>

                <el-form-item label="重复密码" class="form-group"  prop="checkPass">
                    <el-col :span="6">
                        <el-input type="password" v-model="userInfo.checkPass" auto-complete="off"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="10" class="gray"> 不修改请留空</el-col>
                </el-form-item>

                <el-form-item label="会员组" class="form-group" prop="groupId">
                    <el-col :span="6">
                        <el-select placeholder="用户组" v-model="userInfo.groupId">
                            <el-option v-for="item in groupList" :key="item.id" :label="item.name" :value="item.id">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="1" class="required">*</el-col>
                </el-form-item>
                <el-form-item label="是否启禁用" class="form-group">
                    <el-col :span="1">
                        <el-switch on-text="" off-text="" v-model="userInfo.disabled"></el-switch>
                    </el-col>
                </el-form-item>
                <el-form-item label="真实姓名" class="form-group" prop="realname">
                    <el-col :span="6">
                        <el-input v-model="userInfo.realname"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="性别" class="form-group" prop="gender">
                    <el-col :span="8">
                        <el-radio class="radio" v-model="userInfo.gender" :label='sex.man'>男</el-radio>
                        <el-radio class="radio" v-model="userInfo.gender" :label="sex.woman">女</el-radio>
                        <el-radio class="radio" v-model="userInfo.gender" :label="sex.other">保密</el-radio>
                    </el-col>
                </el-form-item>

                <el-form-item label="出生日期" class="form-group" prop="birth">
                    <el-col :span="6">
                        <el-date-picker v-model="userInfo.birthday" type="date" placeholder="选择日期" @change="formatDate">
                        </el-date-picker>
                    </el-col>
                </el-form-item>
                <el-form-item label="手机号码" class="form-group" prop="phone">
                    <el-col :span="6">
                        <el-input v-model="userInfo.phone"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="QQ" class="form-group" prop="qq">
                    <el-col :span="6">
                        <el-input v-model="userInfo.qq"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="来自" class="form-group" prop="comefrom">
                    <el-col :span="6">
                        <el-input v-model="userInfo.comefrom"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="个性签名" class="form-group" prop="intro">
                    <el-col :span="6">
                        <el-input type="textarea" v-model="userInfo.intro"></el-input>
                    </el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateUserInfo('userInfo')" v-if="$route.query.type=='edit'" />
                <input type="button" value="提交" class="bbs-submit" @click="addUserInfo('userInfo')" v-if="$route.query.type=='add'" />
                <input type="reset" value="重置" class="bbs-reset" @click="resetForm('userInfo')" />
            </div>
        </div>
       
    </div>
</template>

<script>
import * as fetch from '../../../api/usermanage'
export default {
    data() {
        var validatePass = (rule, value, callback) => {
            if (value === '') {
                 callback();
            } else {
                if (this.userInfo.checkPass !== '') {
                    this.$refs.userInfo.validateField('checkPass');
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
                callback();
            } else if (value !== this.userInfo.password) {
                callback(new Error('两次输入密码不一致!'));
            } else {
                callback();
            }
        };
        var validateEmail= (rule, value, callback) => {
            if (value === '') {
                callback();
            } else {
                let reg=/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/;  
                  if(!reg.test(value)){
                     callback(new Error('请输入正确的邮箱地址'));
                  }else{
                      callback()
                  }
            }
        };
        return {
            sex: {
                man: true,
                woman: false,
                other: ''
            },
            userInfo: {
                password:'',
                checkPass:''
            },//用户修改添加字段
            groupList: [],//会员组
            rules:{},
            rulesList: {
                email: [{ validator: validateEmail, trigger: 'blur'}],
                groupId: [{ type: 'number', required: true, message: '请选择一个会员组', trigger: 'change' }],
                password:[
                    { validator: validatePass, trigger: 'blur' }
                ],
                checkPass: [
                    { validator: validatePass2, trigger: 'blur' }
                ],
            }

        }
    },
    methods: {
        getuserGroupList() {//获取会员组
            fetch.getGroupList({ groupType: -1 })
                .then(res => {
                    this.groupList = res.body;
                })
        },
        getUserInfo(id) {//获取用户信息字段
            fetch.getUserInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                            this.userInfo=res.body;
                            this.userInfo.password='';
                            this.userInfo.checkPass='';
                            if(this.$route.query.type=='add'){
                               this.userInfo.groupId=1;
                           } 
                    } else {
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.$message.error('网络异常');
                })
        },
        updateUserInfo(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.userInfo;
                    fetch.updateUserInfo(params)
                        .then(res => {
                            //console.log(res);
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/userlist' })
                                }, 500);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        addUserInfo(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.userInfo;
                    fetch.addUserInfo(params)
                        .then(res => {
                            //console.log(res);
                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/userlist' })
                                }, 500);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        resetForm(formName) {//重置表单
            //console.log(111);
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        },
        formatDate(val) {//格式化时间
            this.userInfo.birthday = val;
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
        this.getuserGroupList();
        if (type == 'add') {
            this.getUserInfo(id);
            this.rules=this.rulesList;
        } else if (type == 'edit') {
            this.getUserInfo(id);
            this.rules=this.rulesList;
        }
    }
}
</script>
<style>

</style>
