<template>
    <div class="forum-module">
        <div class="forum-header">
             <span class="forum-name tab-name " @click="liveLink">直播管理</span>
            <span class="forum-name tab-name" @click="hostsLink">主播管理</span>
             <span class="forum-name tab-name active" >直播配置</span>
           
        </div>
        <div class="table-body table-responsive" v-loading.body="loading">
            <el-form :model="systemInfo" :rules="rules" ref="topicInfo">
        
                <el-form-item label="直播是否需要审核" class="form-group" prop="">
                    <el-col :span="6">
                        <el-switch on-text="是" off-text="否" v-model="systemInfo.liveCheck"></el-switch>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>
                <el-form-item label="直播平台" class="form-group" prop="">
                    <el-col :span="6">
                        <el-radio-group v-model="systemInfo.livePlat">
                            <el-radio label="tencent">腾讯云</el-radio>
                            <el-radio label="baidu">百度云</el-radio>
                        </el-radio-group>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>

                <el-form-item label="推流key" class="form-group" prop="">
                    <el-col :span="6">
                        <el-input v-model="params.tencentPushFlowKey"></el-input>
                    </el-col>
                    <el-col :span="1" class="">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>
                <el-form-item label="腾讯直播码" class="form-group" prop="">
                    <el-col :span="6">
                        <el-input v-model="params.tencentBizId"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>
                <el-form-item label="Api鉴权KEY" class="form-group" prop="">
                    <el-col :span="6">
                        <el-input v-model="params.tencentApiAuthKey"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>
                <el-form-item label="腾讯直播APPId" class="form-group" prop="">
                    <el-col :span="6">
                        <el-input v-model="params.tencentAppId"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>
                <el-form-item label="百度云直播推流域名" class="form-group" prop="">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.baiduPushDomain"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>

                <el-form-item label="百度云直播播放域名" class="form-group" prop="">
                    <el-col :span="6">
                        <el-input v-model="systemInfo.baiduPlayDomain"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class=""></el-col>
                </el-form-item>

                <el-form-item label="百度云直播AccessKey ID" class="form-group" prop="">
                    <el-col :span="6">
                        <el-input v-model="params.accessKeyId"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>

                <el-form-item label="百度云直播SecretAccessKey" class="form-group" prop="">
                    <el-col :span="6">
                        <el-input v-model="params.accessKey"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>

                <el-form-item label="百度云直播安全策略密钥" class="form-group" prop="">
                    <el-col :span="6">
                        <el-input v-model="params.streamSafeKey"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">&nbsp; </el-col>
                    <el-col :span="7" class="gray">不修改请留空</el-col>
                </el-form-item>

            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateChargeInfo('topicInfo')" />
                <input type="reset" value="重置" class="bbs-reset" />
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../../api/operation'
export default {
    data() {
        return {
            loading: true,
            systemInfo: {},
            groupList: [],
            addList: [],
            params:{
                tencentPushFlowKey:'',
                tencentBizId:'',
                tencentApiAuthKey:'',
                tencentAppId:'',
                accessKeyId:'',
                accessKey:'',
                streamSafeKey:''
            },
            rules: {
                weixinAppId: [{ required: true, message: '此项必填', trigger: 'blur' }],
                weixinAccount: [{ required: true, smessage: '此项必填', trigger: 'blur' }],
                rewardMin: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                rewardMax: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                chargeRatio: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                minDrawAmount: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }],
                giftChargeRatio: [{ required: true, type: 'number', message: '请输入一个数字', trigger: 'blur' }]
            },
        }
    },
    methods: {
        getLiveConfigInfo() {//获取系统信息
            fetch.getLiveConfigInfo()
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.loading = false;
                        this.systemInfo = res.body;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常');
                })
        },
        updateChargeInfo(formName) {//修改系统信息
            this.$refs[formName].validate((valid) => {
                document.querySelector("#main").scrollTop = 0;
                if (valid) {//非空不修改
                    this.systemInfo.tencentPushFlowKey=this.params.tencentPushFlowKe
                       this.systemInfo.tencentBizId= this.params.tencentBizId
                      this.systemInfo.tencentApiAuthKey= this.params.tencentApiAuthKey
                      this.systemInfo.tencentAppId= this.params.tencentApiAuthKey
                      this.systemInfo.accessKeyId= this.params.accessKeyId
                      this.systemInfo.accessKey=this.params.accessKey
                     this.systemInfo.streamSafeKey=this.params.streamSafeKey
                      let params = this.systemInfo;
                    fetch.updateLiveConfigInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                this.getLiveConfigInfo();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    document.querySelector("#main").scrollTop = 0;
                    return false;
                }
            });
        },
         hostsLink() {
            this.$router.push({
                path: '/hostlist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            });
        },
        liveLink() {
            this.$router.push({
                path: '/livelist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            });
        },
        back() {
            this.$router.push({
                path: '/livelist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            });
        }
    },

    created: function() {
        this.loading = true;
        this.getLiveConfigInfo();
    },
    watch: {
        '$route': function(to, from) {
            this.loading = true;
            this.getLiveConfigInfo()
        }
    }
}
</script>
<style scoped>
.mb10 {
    margin-bottom: 10px;
}
</style>
