<template>
    <div class="forum-module">
        <div class="forum-header">
            <span class="forum-name tab-name active" @click="liveLink">直播管理</span>
            <span class="forum-name tab-name" @click="hostsLink">主播管理</span>
             <span class="forum-name tab-name" @click="liveConfig">直播配置</span>
        </div>
        <div class="table-top-bar clearfix">
            <el-select v-model="params.qStatus" @change="queryCtg" class="w128">
                <el-option v-for="(item,index) in sort" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="table-responsive" v-loading.body="loading">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="liveList" @selection-change="checkIds">
                    <el-table-column type="selection" align="center" width="68"></el-table-column>
                    <el-table-column label="id" prop="id" align="center" :width="50"></el-table-column>
                    <el-table-column label="标题" prop="title" align="center"></el-table-column>
                    <el-table-column label="主播" prop="realname" align="center"></el-table-column>
                    <el-table-column label="门票价格" prop="beginPrice" align="center"></el-table-column>
                    <el-table-column label="开始时间" prop="beginTime" align="center"></el-table-column>
                    <el-table-column label="结束时间" prop="endTime" align="center" v-if="params.qStatus==3"></el-table-column>
                    <el-table-column label="在线人数" prop="inliveUserNum" align="center" v-if="params.qStatus==2"></el-table-column>
                    <el-table-column label="直播数" prop="giftNum" align="center" v-if="params.qStatus==3||params.qStatus==2"></el-table-column>
                    <el-table-column label="操作" align="center" :width="200" v-if="params.qStatus!=1">
                        <template scope="scope">
                            <a href="javascript:void(0)"
                                 class="t-edit iconfont bbs-duigouzhuanhuan" 
                                 title="通过"
                                 @click="check(scope.row.id)"
                                 v-if="params.qStatus==0"
                                 ></a>
                                      <a href="javascript:void(0)" 
                                    class="t-del iconfont bbs-guanbi" 
                                    title="拒绝"
                                    v-if="params.qStatus==0"
                                     @click="reject(scope.row.id)"></a>
                                     <a href="javascript:void(0)" 
                                    class="t-del iconfont bbs-guanbi" 
                                    title="关闭"
                                    v-if="params.qStatus==2"
                                     @click="stopLive(scope.row.id)"></a>

                                     <a href="javascript:void(0)"
                                 class="t-edit iconfont bbs-duigouzhuanhuan" 
                                 title="开启"
                                 @click="startLive(scope.row.id)"
                                 v-if="params.qStatus==5"
                                 ></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>
        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                  <el-button 
                    v-if='params.qStatus==0'
                     :disabled="disabled" 
                     @click="check(ids)" 
                     class="btn-pass">
                      批量审核</el-button>
                    <el-button 
                    v-if='params.qStatus==0'
                    :disabled="disabled"
                     @click="reject(ids)"
                      class="btn-refuse">
                    批量拒绝</el-button>

                   <el-button 
                    v-if='params.qStatus==2'
                    :disabled="disabled"
                     @click="stopLive(ids)"
                      class="btn-refuse">
                    批量关闭</el-button> 
                 
                 <el-button 
                    v-if='params.qStatus==5'
                     :disabled="disabled" 
                     @click="check(ids)" 
                     class="btn-pass">
                      批量恢复</el-button>


                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../../api/operation'
export default {
    data() {
        return {
            loading: true,
            liveList: [],
            ids: '',//批量删除列表
            sort: [
                {
                    label: '待审核',
                    value: 0
                }, {
                    label: '未开始',
                    value: 1
                }, {
                    label: '进行中',
                    value: 2
                }, {
                    label: '已结束',
                    value: 3
                }, {
                    label: '已拒绝',
                    value: 4
                },{
                    label: '已关闭',
                    value: 5
                },

            ],//排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                qStatus: 2,
                qTitle: '',
                qUsername: '',
                qOrderBy: ''
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled: true
        }
    },
    methods: {
            reject(id){//拒绝通过
             this.ids = id;
             this.$confirm('您确定要拒绝吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.rejectLive({ ids: this.ids,reason:'管理员后台拒绝'})
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('拒绝成功');
                                this.params.qStatus=0
                                this.getLiveList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {          
                            this.loading = false;
                            this.$message.error('退回异常')
                        })
                }).catch(mes => { })
            },
            check(id){//通过
              this.ids = id;
                this.$confirm('您确定要审核通过吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.checkLive({ ids: this.ids })
                        .then(res => {
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('审核成功');
                                this.params.qStatus=0
                                this.getLiveList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {          
                            this.loading = false;
                            this.$message.error('审核异常')
                        })
                }).catch(mes => { })
            },
            stopLive(id){//关闭
                this.ids = id;
                this.$confirm('您确定要关闭直播吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.shutDownLive({ ids: this.ids })
                        .then(res => {
                            this.params.qStatus=2
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('关闭成功');
                                this.getLiveList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {          
                            this.loading = false;
                            this.$message.error('关闭异常')
                        })
                }).catch(mes => { })
            },
startLive(id){//开启直播
             this.ids = id;
                this.$confirm('您确定要恢复直播吗?', '警告', { type: 'warning' })
                .then(mes => {
                    fetch.startLive({ ids: this.ids })
                        .then(res => {
                            this.params.qStatus=5
                            this.loading = false;
                            if (res.code == '100') {
                                this.$message.success('恢复成功');
                                this.getLiveList();
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {          
                            this.loading = false;
                            this.$message.error('恢复异常')
                        })
                }).catch(mes => { })
},
        getLiveList() {//获取直播信息列表
            let params = this.params;
            fetch.getLiveList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.liveList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        queryCtg(val) {//查询分类
            this.loading = true;
            this.getLiveList();
        },
        liveConfig(){
                this.$router.push({
                path: '/liveconfig',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            });
        },
        hostsLink() {
            this.$router.push({
                path: '/hostlist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            });
        },
        liveLink() {
            this.$router.push({
                path: '/livelist',
                query: {
                    noceStr: Math.round(Math.random() * 10)
                }
            });
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getLiveList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getLiveList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getLiveList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled = true;
            } else {
                this.ids = ids.join(',');
                this.disabled = false;
            }
        }
    },
    created: function() {
           //console.log(this.$route.query)
         if(this.$route.query.index==true){
             this.params.qStatus=0;
         }
         if(this.$route.query.live){
             this.params.qStatus=2;
         }
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getLiveList();
    },
    watch: {
        '$route': function(to, from) {
           
            this.loading = true;
            this.getLiveList();
        }
    }
}
</script>

<style scoped>
  .forum-name{
      cursor: pointer;
  }
</style>
