<template>
    <div style="padding:0 24px">     
        <el-row :gutter="25">
            <el-col :lg="6" :md="12" :sm="24" style="margin-bottom:24px;cursor:pointer;" @click.native="link('/hostlist')">
                <div class="grid-content bbs-green statistic-box bbs-hover">
                    <div class="statistic-title clearfix">
                        <span class="iconfont bbs-_zhuzhanghao-copy"></span>
                        <span class="num">{{indexInfo.hostApplyCount}}</span>
                    </div>
                    <div class="bbs-card-info">主播申请</div>
                </div>
            </el-col>
            <el-col :lg="6" :md="12" :sm="24" style="margin-bottom:24px;cursor:pointer;" @click.native="link('/livelist')">
                <div class="grid-content bbs-yellow statistic-box bbs-hover">
                    <div class="statistic-title clearfix">
                        <span class="iconfont bbs-zhibo"></span>
                        <span class="num">{{indexInfo.liveApplyCount}}</span>
                    </div>
                    <div class="bbs-card-info">直播申请</div>
                </div>
            </el-col>
            <el-col :lg="6" :md="12" :sm="24" style="margin-bottom:24px;cursor:pointer;" @click.native="link('/advertisinglist')">
                <div class="grid-content  bbs-blue statistic-box bbs-hover">
                    <div class="statistic-title clearfix">
                        <span class="iconfont bbs-3-copy"></span>
                        <span class="num">{{indexInfo.adDueCount}}</span>
                    </div>
                    <div class="bbs-card-info">即将到期广告</div>
                </div>
            </el-col>
            <el-col :lg="6" :md="12" :sm="24" style="margin-bottom:24px;cursor:pointer;" @click.native="link('/accountdrawlist')">
                <div class="grid-content bbs-purple statistic-box bbs-hover">
                    <div class="statistic-title clearfix">
                        <span class="iconfont bbs-xianjinhuibao-copy"></span>
                        <span class="num">{{indexInfo.drawCount}}</span>
                    </div>
                    <div class="bbs-card-info">提现申请</div>
                </div>
            </el-col>
        </el-row>
        <el-row :gutter="25">
            <el-col :lg="6" :sm="24"  @click.native="link('/incomeStatisticlist')">
                <div class="bbs-day-earnings m-bottom-md bbs-hover">
                    <div class="panel-heading">
                        今日收益
                        <em>（元）</em>
                        <span class="iconfont bbs-ellipsis"></span>
                    </div>
                    <div class="bbs-all-earnings clearfix">
                        <span class="bbs-all-badge">总收益</span>
                        <div class="all-earnings-num">
                            <span class="large-size">{{todayIncome.totalIncomeAmount}}</span>
                            <span class="ups" v-if="incomeUp.totalIncomeAmount>0">↑{{incomeUp.totalIncomeAmount}}</span>
                            <span class="downs" v-else>↓{{incomeUp.totalIncomeAmount}}</span>
                        </div>
                    </div>
                    <ul class="earning-items">
                        <li>
                            <i class="bbs-green">AD</i>广告收益

                            <span class="earnings-num">{{todayIncome.adIncomeAmount}}
                                <span class="ups" v-if="incomeUp.adIncomeAmount>0">↑{{incomeUp.adIncomeAmount}}</span>
                                <span class="downs" v-else>↓{{incomeUp.adIncomeAmount}}</span>
                            </span>
                        </li>
                        <li>
                            <i class="bbs-yellow iconfont bbs-liwuhuodong-copy"></i>礼物收益

                            <span class="earnings-num">{{todayIncome.giftIncomeAmount}}
                                <span class="ups" v-if="incomeUp.giftIncomeAmount>0">↑{{incomeUp.giftIncomeAmount}}</span>
                                <span class="downs" v-else>↓{{incomeUp.giftIncomeAmount}}</span>
                            </span>
                        </li>
                        <li>
                            <i class="bbs-blue iconfont bbs-daoju-copy"></i>道具收益
                            <span class="earnings-num">{{todayIncome.magicIncomeAmount}}
                                <span class="ups" v-if="incomeUp.magicIncomeAmount>0">↑{{incomeUp.magicIncomeAmount}}</span>
                                <span class="downs" v-else>↓{{incomeUp.magicIncomeAmount}}</span>
                            </span>
                        </li>
                        <li>
                            <i class="bbs-purple iconfont bbs-huatong"></i>直播收益
                            <span class="earnings-num">{{todayIncome.liveIncomeAmount}}
                                <span class="ups" v-if="incomeUp.liveIncomeAmount>0">↑{{incomeUp.liveIncomeAmount}}</span>
                                <span class="downs" v-else>↓{{incomeUp.liveIncomeAmount}}</span>
                            </span>
                        </li>
                        <li>
                            <i class="bbs-qing iconfont bbs-iconfontwendang"></i>帖子收益
                            <span class="earnings-num">{{todayIncome.postIncomeAmount}}
                                <span class="ups" v-if="incomeUp.postIncomeAmount>0">↑{{incomeUp.postIncomeAmount}}</span>
                                <span class="downs" v-else>↓{{incomeUp.postIncomeAmount}}</span>
                            </span>
                        </li>

                    </ul>
                </div>
            </el-col>
            <el-col :lg="18" :sm="24"  >
                <div class="bbs-day-earnings m-bottom-md bbs-hover" style="height:417px;">
                    <div class="panel-heading"  >
                        平台收益统计
                        <span class="iconfont bbs-ellipsis" @click="link('/incomeStatisticlist')"></span>
                    </div>
                    <div class="panel-body clearfix">
                        <!-- Single button -->
                        <el-select v-model="flag" class="chart-select" @change="queryChart">
                            <el-option label="本周" :value="0"></el-option>
                            <el-option label="本月" :value="1"></el-option>
                            <el-option label="今年" :value="2"></el-option>
                            <el-option label="全部" :value="3"></el-option>
                        </el-select>
                        <!--图表统计-->
                        <div id="line" style="height:340px;"></div>
                    </div>
                </div>
            </el-col>
        </el-row>
        <!--进行中的直播-->
        <el-row :gutter="25" style="margin-bottom:24px;">
            <el-col :lg="19" :sm="24">
                <div class="bbs-live-box m-bottom-md bbs-hover">
                    <div class="panel-heading">
                        进行中直播
                        <span class="live-round">{{lives.length}}</span>
                        <a class="iconfont bbs-ellipsis" @click="liveNow()"></a>
                    </div>
                    <div class="live-item" id="lives">
                        <ul>
                            <li class="clearfix" v-for="(item,index) in lives" :key="item.id">
                                <el-row type="flex" justify=" start" :gutter="18">              
                                        <div class="live-img">
                                            <img :src="item.demandImageUrl" v-if="item.demandImageUrl!=''" />
                                            <img src="./../assets/images/no-pic.png" v-else/>
                                        </div>                                 
                                        <div class="live-info" style="flex:auto">
                                            <div class="pull-left">
                                            <h2>{{item.title}}</h2>
                                            <p>主播：{{item.realName}}</p>
                                            <p>
                                                <span>出售门票：{{item.ticketNum}}张</span>
                                                <span style="margin-left:25px">在线人数：{{item.inliveUserNum}}人</span>
                                            </p>
                                            <p>
                                                收到礼物：
                                                <i class="flow-icon">{{item.giftNum}}</i>
                                            </p>
                                            </div>
                                            <el-button type="primary" size="small" @click="shutDown(item.id)" class="pull-right">关闭</el-button>
                                        </div>
                                                                           
                                </el-row>
                            </li>
                        </ul>
                    </div>
                </div>
            </el-col>
            <el-col :lg="5" :sm="24" @click.native="link('/hostlist')" >
                <div class="bbs-live-box bbs-hover">
                    <div class="panel-heading">
                        主播排行
                        <a class="iconfont bbs-ellipsis"></a>
                    </div>
                    <div class="live-item">
                        <ul>
                            <li class="anchor-item" v-for="(item,index) in hosts" :key="item.realname">
                                <div class="clearfix" style="position:relative;">
                                    <img :src="item.avatar" class="anchor-logo" />
                                    <div class="anchor-info">
                                        <p class="anchor-name" v-if="item.realname==''">主播名称</p>
                                        <p class="anchor-name" v-else>{{item.realname}}</p>
                                        <p>售出门票：{{item.ticketNum}}张</p>
                                    </div>
                                    <span class="iconfont bbs-dengji bbs-dengji-pos bbs-level-1 " v-if="index==0"></span>
                                    <span class="iconfont bbs-dengji bbs-dengji-pos bbs-level-2 " v-if="index==1"></span>
                                    <span class="iconfont bbs-dengji bbs-dengji-pos bbs-level-3 " v-if="index==2"></span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>
</template>
 
<script>

import * as fetch from '../api/user'
import * as liveAjax from '../api/operation'
export default {
    data() {
        return {
            local: localStorage.getItem('userInfo'),
            switchState: true,
            chartLine: null,//图表
            indexInfo: {},
            todayIncome: {},
            incomeUp: {},
            lives: [],
            hosts: [],
            flag: 1
        }
    },
    methods: {
        link(path,params) {
            this.$router.push({
                path: path,
                query: {
                    noceStr: Math.round(Math.random() * 10),
                    index:true,
                    select:true
                }
            });
        },
        liveNow(){
            this.$router.push({
                path: '/livelist',
                query: {
                    noceStr: Math.round(Math.random() * 10),
                    live:true
                }
            });
        },
        shutDown(id) {
            this.$confirm('您确定要关闭直播吗?', '警告', { type: 'warning' })
                .then(mes => {
                    liveAjax.shutDownLive({ ids: id })
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('关闭成功!');
                            } else {
                                //console.log(res);
                                this.$message.error('关闭失败');
                            }
                        })
                        .catch(res => {
                            this.$message.error('关闭异常');
                        })
                })
                .catch(mes => { })
        },
        getIndex() {
            fetch.getIndex(
                {
                    pageNo: 1,
                    pageSize: 20
                }
            )
                .then(res => {
                   //console.log('首页数据请求');
                    if (res.code == '100') {
                        this.indexInfo = res.body;
                        this.todayIncome = res.body.todayIncome;
                        this.incomeUp = res.body.incomeUp;
                        this.lives = res.body.lives;
                        this.hosts = res.body.hosts;
                        this.loading = false;
                    } else {
                        this.loading = false;
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        queryChart(val) {
            this.flag = val;
            this.drawLineChart();
        },
        drawLineChart() {//绘制统计图
            let xdata = [];//x
            let adIncome = [];
            let giftIncome = []
            let liveIncome = []
            let magicIncome = []
            let postIncome = []
            let totalIncome = []
            fetch.getChart({ flag: this.flag })
                .then(res => {

                    for (let i = 0; i < res.body.length; i++) {

                        if (this.flag == 1) {
                            xdata.push(res.body[i].xdata);
                        } else if (this.flag == 2) {
                            xdata.push(res.body[i].xdata + '月');
                        } else if (this.flag == 3) {
                            xdata.push(res.body[i].xdata + '年');
                        } else if (this.flag == 0) {
                            xdata.push(res.body[i].xdata);
                        }
                        adIncome.push(res.body[i].adIncome);
                        giftIncome.push(res.body[i].giftIncome);
                        liveIncome.push(res.body[i].liveIncome);
                        magicIncome.push(res.body[i].magicIncome);
                        postIncome.push(res.body[i].postIncome);
                        totalIncome.push(res.body[i].totalIncome);
                    }
                    this.chartLine.setOption({
                        xAxis: {
                            data: xdata
                        }, series: [
                            {
                                name: '总收益',
                                type: 'line',
                            
                                data: totalIncome
                            },
                            {
                                name: '广告收益',
                                type: 'line',
                               
                                data: adIncome
                            },
                            {
                                name: '道具收益',
                                type: 'line',
                                
                                data: magicIncome
                            },
                            {
                                name: '礼物收益',
                                type: 'line',
                               
                                data: giftIncome
                            },
                            {
                                name: '直播收益',
                                type: 'line',
                                
                                data: liveIncome
                            }, {
                                name: '帖子收益',
                                type: 'line',
                        
                                data: postIncome,
                                itemStyle: {
                                    normal: {
                                        color: '#3dd4dd'
                                    }
                                }
                            }]
                    })
                })
                .catch(res => {
                    //console.log("error");
                });

        }
    },
    created: function() {
        this.getIndex();
    },
    mounted() {
           let self = this;
           
                self.chartLine = echarts.init(document.getElementById('line'));
        self.chartLine.setOption({
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                orient: 'vertical',
                top: '100',
                right: '2%',
                itemGap: 10,
                data: ['总收益', '广告收益', '道具收益', '礼物收益', '直播收益', '帖子收益']
            },
            grid: {
                left: '28',
                right: '11%',
                bottom: '0',
                top: '28',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['05-01', '05-02', '05-03']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '总收益',
                    type: 'line',
                    stack: '总收益',
                    data: [120, 0, 0, 0, 0, 0, 0],
                    itemStyle: {
                        normal: {
                            color: '#ff8b53'
                        }
                    }
                },
                {
                    name: '广告收益',
                    type: 'line',
                    stack: '广告收益',
                    data: [220, 0, 0, 0, 0, 0, 0],
                    itemStyle: {
                        normal: {
                            color: '#17d57e'
                        }
                    }
                },
                {
                    name: '道具收益',
                    type: 'line',
                    stack: '道具收益',
                    data: [150, 0, 0, 0, 0, 0, 0],
                    itemStyle: {
                        normal: {
                            color: '#2da3fb'
                        }
                    }
                },
                {
                    name: '礼物收益',
                    type: 'line',
                    stack: '礼物收益',
                    data: [320, 332, 301, 334, 390, 330, 320],
                    itemStyle: {
                        normal: {
                            color: '#fec92b'
                        }
                    }
                },
                {
                    name: '直播收益',
                    type: 'line',
                    stack: '直播收益',
                    data: [820, 932, 901, 934, 1290, 1330, 1320],
                    itemStyle: {
                        normal: {
                            color: '#c172d8'
                        }
                    }
                }
            ]
        })
       
        this.drawLineChart();
     
        $("#lives").slimScroll({
            height: '356px',
            width: 'auto',
            color: '#999',
            opacity: 0.5
        });
        $(".bbs-hover").hover(function() {
            $(this).find('.bbs-ellipsis').css('color', "#c7c7c7");
        }, function() {
            $(this).find('.bbs-ellipsis').css('color', "#f0f0f0");
        });
        window.onresize = function() {
            self.chartLine.resize();
        };
    }
}
</script>


<style scoped lang='scss'>
.grid-content {
    height: 144px;
}

.statistic-box {
    padding: 25px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #fff;
}

.bbs-hover:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .2);
}

.bbs-hover .bbs-ellipsis:hover {
    color: red;
}

.statistic-box a {
    color: #fff;
}

.statistic-box .statistic-title {
    text-transform: uppercase;
    font-size: 16px;
    z-index: 2;
    overflow: hidden;
}

.statistic-box .statistic-icon-background {
    position: absolute;
    font-size: 160px;
    right: -5px;
    bottom: -50px;
    opacity: 0.2;
}

.statistic-title .iconfont {
    font-size: 36px;
    float: left;
    position: relative;
}

.statistic-title .num {
    float: right;
    font-size: 48px;
    position: relative;
    top: -7px;
}

.bbs-card-info {
    text-align: right;
    font-size: 16px;
    margin-top: 20px;
}

.bbs-green {
    background-color: #17d57e;
}

.bbs-yellow {
    background-color: #fec92b;
}

.bbs-blue {
    background-color: #2da3fb;
}

.bbs-purple {
    background-color: #c172d8;
}

.bbs-qing {
    background-color: #3dd4dd;
}

.bbs-day-earnings {
    background: #fff;
    border: 1px solid #ececec;
}

.bbs-day-earnings .panel-body {
    position: relative;
}

.bbs-day-earnings .btn-group {
    position: absolute;
    right: 15px;
    z-index: 888;
}

.bbs-day-earnings .btn-green {
    background: #17d57e;
    color: #fff;
}

.bbs-day-earnings .panel-heading {
    font-size: 16px;
    color: #01121f;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
}

.bbs-day-earnings .panel-heading .iconfont {
    float: right;
    font-size: 20px;
    color: #f0f0f0;
}

.bbs-day-earnings .panel-heading em {
    font-style: normal;
    font-size: 14px;
}

.bbs-all-earnings {
    border-bottom: 1px solid #ececec;
    padding: 14px 25px;
}

.bbs-day-earnings ul {
    list-style: none;
    padding: 0 25px;
}

.bbs-day-earnings li {
    border-bottom: 1px solid #ececec;
}

.bbs-day-earnings li:last-child {
    border-bottom: none;
}

.bbs-all-earnings .ups {
    position: relative;
    top: -13px;
}

.bbs-all-badge {
    display: inline-block;
    padding: 5px 6px;
    background: #ff8b53;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    position: relative;
    top: 10px;
    float: left;
}

.all-earnings-num {
    float: right;
    position: relative;
    top: 0;
}

.large-size {
    font-size: 36px;
    color: #01121f;
    position: relative;
    top: -2px;
}

.ups {
    font-size: 12px !important;
    color: #ff4800 !important;
}

.downs {
    font-size: 12px;
    color: #4bea96;
}

.earning-items li {
    padding: 17px 0;
    font-size: 14px;
    color: #01121f;
    overflow: hidden;
}

.earning-items i {
    display: inline-block;
    font-style: initial;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    margin-right: 8px;
}

.earning-items .iconfont {
    font-size: 16px;
}

.earnings-num {
    float: right;
    font-size: 14px;
    color: #01121f;
    position: relative;
    top: 2px;
}

.earnings-num em {
    font-style: initial;
}

.bbs-live-box {
    background: #fff;
    font-size: 16px;
    color: #01121f;
}

.live-round {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background: #ff8b53;
    font-size: 14px;
    color: #fff;
    margin-left: 7px;
}

.bbs-live-box .panel-heading {
    border-bottom: 1px solid #f0f0f0;
    padding: 13px 15px;
}

.bbs-ellipsis {
    float: right;
    color: #f0f0f0;
}

.live-item {
    height: 356px;
    overflow: hidden;
    padding: 0px 25px;
}

.live-item li {
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 0 10px 0;
}

.live-img {
    overflow: hidden;
    width: 195px;
    height: 130px;
}

.live-img img {
    width: 195px;
    height: 130px;
}

.live-info {
    margin-left: 16px;
}

.live-info h2 {
    font-size: 16px;
    color: #01121f;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
}

.live-info p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #565656;
}

.space-icon:before {
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    background: url(./../assets/images/space_icon.png) no-repeat;
    position: relative;
    top: 4px;
    left: -4px;
}

.space-icon {
    font-style: initial;
    display: inline-block;
    margin-left: 10px;
}

.flow-icon:before {
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    background: url(./../assets/images/flow_icon.png) no-repeat;
    position: relative;
    top: 4px;
    left: -4px;
}

.flow-icon {
    font-style: initial;
    display: inline-block;
    margin-left: 16px;
}

.live-hidden {
    display: none;
}

.live-show {
    display: block;
}



.bbs-checkbox {
    margin-top: -1px;
}

.anchor-logo {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

li.anchor-item {
    padding: 24px 0;
}

li.anchor-item:last-child {
    border-bottom: none;
}

.anchor-info p {
    margin-bottom: 15px;
}

.anchor-info {
    color: #01121f;
    font-size: 12px;
    float: left;
}

.anchor-name {
    margin-top: 1px;
    font-size: 16px;
}

.bbs-dengji {
    font-size: 24px;
}

.bbs-dengji-pos {
    position: absolute;
    top: -4px;
    right:4px;
}

.bbs-dengji-list {
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.bbs-level-1 {
    color: #ff8b53;
}

.bbs-level-2 {
    color: #fec92b;
}

.bbs-level-3 {
    color: #2da3fb;
}

.bbs-ellipsis {
    font-size: 20px;
    cursor: pointer;
}

.m-bottom-md {
    margin-bottom: 24px;
}
</style>
