<template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">订单流水列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <div class="query-inline-box ">
               <div class="query-inline-group">
                    <label>用户名: </label>
                      <el-input class="w128" placeholder="请输入用户名" v-model="params.username" @keyup.enter.native="query"></el-input>
               </div>
             <div class="query-inline-group">
                     <label>最后提现时间:</label>
                        <el-date-picker class="w128" v-model="params.drawTimeBegin" @keyup.enter.native="query" @change="formatTime"></el-date-picker>
                        <span class="time-slot">-</span>
                        <el-date-picker class="w128" @keyup.enter.native="query" v-model="params.drawTimeEnd" @change="formatTime2"></el-date-picker>
               </div>
                <div class="query-inline-group">
                   <label>排序</label>
                    <el-select v-model="params.orderBy" @keyup.enter.native="query" class="w128">
                        <el-option v-for="item in sort" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
               </div>
                <div class="query-inline-group">
                     <el-button @click="query">查询</el-button>
               </div>
            
            </div>
        </div>
        <div class="table-responsive">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="orderList">
                    <el-table-column label="主题／道具" prop="user" align="center">
                        <template scope="scope">
                            {{scope.row.name}}{{scope.row.title}}
                        </template>
                    </el-table-column>
                    <el-table-column label="购买用户" prop="order.buyUserUserName" align="center"></el-table-column>
                    <el-table-column label="作者" prop="order.authorUserName" align="center">
                        <template scope="scope">
                            <span v-if="scope.row.order.authorUserName==''">平台</span>
                            <span v-else>{{scope.row.order.authorUserName}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="成交金额" prop="order.platAmount" align="center"></el-table-column>
                    <el-table-column label="作者所得金额" prop="order.authorAmount" align="center" ></el-table-column>
                    <el-table-column label="平台分成金额" prop="order.chargeAmount" align="center"></el-table-column>
                    <el-table-column label="购买时间" prop="order.buyTime" align="center" :min-width="140"></el-table-column>
                    <el-table-column label="付款方式" prop="order.dataId" align="center">
                        <template scope="scope">
                            <span v-if="scope.row.order.orderNumWeixin!=''">微信支付</span>
                            <span v-else-if="scope.row.order.orderNumAlipay!=''">支付宝</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="交易类型" prop="drawAccount" align="center">
                        <template scope="scope">
                           <span v-if='scope.row.order.chargeReward==1'>购买</span>
                            <span v-else>打赏</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="订单号／流水号" prop="orderNumber" align="center" :min-width="140">
                         <template scope="scope">
                            <div>{{scope.row.order.orderNumber}}</div>    
                             {{scope.row.order.orderNumWeixin}}
                             {{scope.row.order.orderNumAlipay}}
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>

        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" @keyup.enter.native="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../../api/operation'
export default {
    data() {
        return {
            checkAll: false,
            isIndeterminate: true,
            loading: true,
            orderList: [],
            ids: '',//批量删除列表
            sort: [{
                value: '1',
                label: '总收益倒序'
            }, {
                value: '2',
                label: '总收益升序'
            }, {
                value: '3',
                label: '年收益倒序'
            }, {
                value: '4',
                label: '年收益升序'
            }, {
                value: '5',
                label: '月收益倒序'
            },
            {
                value: '6',
                label: '月收益升序'
            }, {
                value: '7',
                label: '日收益倒序'
            }, {
                value: '8',
                label: '日收益升序'
            }, {
                value: '9',
                label: '收费金额倒序'
            }, {
                value: '10',
                label: '收费金额升序'
            }],//排序列表
            lastLoginDay: this.$store.state.lastLoginDay,//时间排序列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                title: '',//
                username: '',//
               drawTimeBegin: '',//
                drawTimeEnd: '',//
                orderBy: '1'
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
        }
    },
    methods: {
        getOrderList() {//获取用户信息列表
            let params = this.params;
            fetch.getUserOrderList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.orderList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
       formatTime(val){
          this.params.drawTimeBegin=val  
       },
       formatTime2(val){
            this.params.drawTimeEndn=val 
       },
       query(){
           this.loading = true;
            this.getOrderList();
       },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getOrderList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getOrderList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getOrderList();
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }

        this.getOrderList();
    }
}
</script>

<style scoped>
 .pull-right{
    text-align: right; 
 }
    .pull-right label{
        display: inline-block;
        margin-top:7px;
    padding-right: 5px; 
    }
</style>
