<template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">{{$route.name}}</span>
            <span class="forum-hint">带"*"号的为必填项</span>
        </div>
        <div class="table-body table-responsive">
            <el-form :rules="rules" :model="userInfo" ref="userInfo">
                <el-form-item label="用户名" class="form-group" prop="username">
                    <el-col :span="6">
                        <el-input v-model="userInfo.username" v-if="$route.query.type=='add'"></el-input>
                        <label v-else>{{userInfo.username}}</label>
                    </el-col>
                    <el-col :span="1" class="required" v-if="$route.query.type=='add'">* </el-col>
                </el-form-item>

                <el-form-item label="电子邮件" class="form-group" prop="email1">
                    <el-col :span="6">
                        <el-input v-model="userInfo.email"></el-input>
                    </el-col>
                </el-form-item>

                <el-form-item label="密码" class="form-group" v-if="$route.query.type=='add'" prop="password">
                    <el-col :span="6">
                        <el-input type="password" v-model="userInfo.password" auto-complete="off"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="10"> 两次密码必须一样</el-col>
                </el-form-item>

                <el-form-item label="重复密码" class="form-group" v-if="$route.query.type=='add'" prop="checkPass">
                    <el-col :span="6">
                        <el-input type="password" v-model="userInfo.checkPass" auto-complete="off"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="10"> 两次密码必须一样</el-col>
                </el-form-item>

                <el-form-item label="会员组" class="form-group" prop="groupId">
                    <el-col :span="6">
                        <el-select placeholder="用户组" v-model="userInfo.groupId">
                            <el-option v-for="item in groupList" :key="item.id" :label="item.name" :value="item.id">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                </el-form-item>
                <el-form-item label="等级" class="form-group" prop="rank">
                    <el-col :span="6">
                        <el-input v-model.number="userInfo.rank" type="number"></el-input>
                    </el-col>
                    <el-col :span="1" class="required">* </el-col>
                    <el-col :span="10">越大等级越高</el-col>
                </el-form-item>
                <el-form-item label="是否启禁用" class="form-group">
                    <el-col :span="1">
                        <el-switch on-text="" off-text="" v-model="userInfo.disabled"></el-switch>
                    </el-col>
                </el-form-item>
                <el-form-item label="真实姓名" class="form-group" prop="realname">
                    <el-col :span="6">
                        <el-input v-model="userInfo.realname"></el-input>
                    </el-col>
                </el-form-item>
                <el-form-item label="性别" class="form-group" prop="gender">
                    <el-col :span="6">
                        <el-radio class="radio" v-model="userInfo.gender" :label='sex.man'>男</el-radio>
                        <el-radio class="radio" v-model="userInfo.gender" :label="sex.woman">女</el-radio>
                        <el-radio class="radio" v-model="userInfo.gender" :label="sex.other">保密</el-radio>
                    </el-col>
                </el-form-item>

                <el-form-item label="角色" class="form-group" prop="birth">
                    <el-col :span="8">
                        <el-checkbox-group v-model="roleIds" @change="setRoleIds">
                            <el-checkbox v-for="(item,index) in roleList" :key="item.id" :label="item.id">{{item.name}}</el-checkbox>
                        </el-checkbox-group>
                    </el-col>
                </el-form-item>
            </el-form>
            <div class="margin-md">
                <input type="button" value="提交" class="bbs-submit" @click="updateAdminInfo('userInfo')" v-if="$route.query.type=='edit'" />
                <input type="button" value="提交" class="bbs-submit" @click="addAdminInfo('userInfo')" v-if="$route.query.type=='add'" />
                <input type="reset" value="重置" class="bbs-reset" @click="resetForm('userInfo')" />
            </div>
        </div>
        {{userInfo}} {{roleIds}}
    </div>
</template>

<script>
import * as fetch from '../../../api/usermanage'
export default {
    data() {
        var validatePass = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请输入密码'));
            } else {
                if (this.userInfo.checkPass !== '') {
                    this.$refs.userInfo.validateField('checkPass');
                }
                callback();
            }
        };
        var validatePass2 = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('请再次输入密码'));
            } else if (value !== this.userInfo.password) {
                callback(new Error('两次输入密码不一致!'));
            } else {
                callback();
            }
        };
        return {
            loading: true,
            sex: {
                man: true,
                woman: false,
                other: ''
            },
            userInfo: {
                password: '',
                checkPass: ''
            },//用户修改添加字段
            groupList: [],//会员组
            roleList: [],
            roleIds: [],
            rules: {},
            rulesList: {
                rank: [{ required: true, message: '请填写等级', trigger: 'blur' }],
                username: [{ required: true, message: '请填写一个用户名', trigger: 'blur' },],
                groupId: [{ type: 'number', required: true, message: '请选择一个会员组', trigger: 'change' }],
                password: [
                    { validator: validatePass, trigger: 'blur' }
                ],
                checkPass: [
                    { validator: validatePass2, trigger: 'blur' }
                ],
            }
        }
    },
    methods: {
        getRoleList() {
            fetch.getRoleList()
                .then(res => {
                    this.roleList = res.body;
                })
        },
        setRoleIds(event) {//修改ids
            //console.log(this.roleIds);
            this.userInfo.roleIds=this.roleIds.join(',');
        },
        getuserGroupList() {//获取会员组
            fetch.getGroupList({ groupType: -1 })
                .then(res => {
                    this.groupList = res.body;
                })
        },
        getUserInfo(id) {//获取用户信息字段
            fetch.getUserInfo({ id: id })
                .then(res => {
                    if (res.code == '100') {
                        this.userInfo = res.body;
                        this.userInfo.password = '';
                        this.userInfo.checkPass = '';
                        let ids = res.body.roleIds.split(',');//转换下角色字符串
                        this.roleIds = this.arrChange(ids);
                        this.loading = false;
                    } else {
                        this.$message.error(res.message);
                        this.loading = false;
                    }
                })
                .catch(res => {
                    this.$message.error('网络异常');
                    this.loading = false;
                })
        },
        arrChange(arr) {
            let ss = [];
            for (let i = 0; i < arr.length; i++) {
                ss.push(parseInt(arr[i]));
            }
            return ss;
        },
        updateAdminInfo(formName) {//修改管理信息
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.userInfo;
                    fetch.updateAdminInfo(params)
                        .then(res => {
                            if (res.code == '100') {
                                this.$message.success('修改成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/adminlist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },
        addAdminInfo(formName) {//修改管理信息
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    let params = this.userInfo;
                    fetch.addAdminInfo(params)
                        .then(res => {

                            if (res.code == '100') {
                                this.$message.success('添加成功');
                                setTimeout(() => {
                                    this.$router.push({ path: '/adminlist' })
                                }, 1000);
                            } else {
                                this.$message.error(res.message);
                            }
                        })
                        .catch(res => {
                            this.$message.error('修改失败');
                        })
                } else {
                    return false;
                }
            });
        },

        resetForm(formName) {//重置表单
            let id = this.$route.query.id;
            this.$refs[formName].resetFields();
        },
        formatDate(val) {//格式化时间
            this.userInfo.birthday = val;
        }
    },
    created: function() {
        let type = this.$route.query.type;
        let id = this.$route.query.id;
        this.getuserGroupList();
        this.getRoleList();
        if (type == 'add') {
            this.getUserInfo(id);
            this.rules = this.rulesList;
        } else if (type == 'edit') {
            this.getUserInfo(id);
            this.rules = {
                rank: [{ required: true,type: 'number',message: '请填写等级', trigger: 'blur' }],
                groupId: [{ type: 'number', required: true, message: '请选择一个会员组', trigger: 'change' }]
            }
        }
    }
}
</script>
<style>
.el-checkbox-group>label{
    display: inline-block;
    margin-right: 12px;
}
</style>
