<template>
    <div class="forum-module" v-loading.body="loading">
        <div class="forum-header">
            <span class="forum-name">管理员列表</span>
        </div>
        <div class="table-top-bar clearfix">
            <a href="javascript:void(0)" class="add-Class" @click="addUser">添加</a>
            <div class="pull-right">
                <div class="select-group pull-left">
                    <!--查询条件-->
                    <label>是否禁用</label>
                    <div class="select-horizontal" style="width: 120px;">
                        <el-select placeholder="是否禁用" v-model="params.queryDisabled" @change="selectQuery">
                          <el-option label="是" value="true"></el-option>
                          <el-option label="否" value=""></el-option>
                        </el-select>
                    </div>
                </div>
                <div class="search-box">
                    <el-input placeholder="请输入邮箱" icon="search" v-model="params.queryEmail" :on-icon-click="queryUserName">
                    </el-input>
                </div>
                <div class="search-box">
                    <el-input placeholder="请输入管理员名" icon="search" v-model="params.queryUsername" :on-icon-click="queryUserName">
                    </el-input>
                </div>
                
            </div>
        </div>
        <div class="table-responsive">
            <form class="form-horizontal no-margin">
                <el-table style="width: 100%" :data="adminList" @selection-change="checkIds">
                    <el-table-column type="selection" width="55" align="center"></el-table-column>
                     <el-table-column label="id" prop="id" align="center" :width="55"></el-table-column>
                    <el-table-column label="管理员名" prop="username" align="center"></el-table-column>
                    <el-table-column label="角色" prop="roleNames" align="center"></el-table-column>
                    <el-table-column label="等级" prop="rank" align="center"></el-table-column>
                    <el-table-column label="最后登录时间" prop="lastLoginTime" align="center" :width="220"></el-table-column>
                    <el-table-column label="登录次数" prop="loginCount" align="center"></el-table-column>
                    <el-table-column label="启用" prop="disabled" align="center">
                        <template scope="scope">
                            <span v-if="scope.row.disabled" class="red">否</span>
                            <span v-else>是</span>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center">
                        <template scope="scope">
                            <a href="javascript:void(0)" class="t-edit iconfont bbs-edit" title="编辑" @click="editUser(scope.row.id)"></a>
                            <a href="javascript:void(0)" class="t-del iconfont bbs-delete" title="删除" @click="deleteUser(scope.row.id)"></a>
                        </template>
                    </el-table-column>
                </el-table>
                <!--收缩隐藏-->
            </form>

        </div>
        <!---bottom-->
        <div class="table-bottom-bar">
            <div class="pull-left">
                <el-button :disabled="disabled" @click="deleteUserAll">批量删除</el-button>
                <span class="ml-48">每页显示
                    <el-input v-model="changePageSize" @blur="changeSize" class="input-sm" type="number" min="1" max="50"></el-input>条,输入后按回车</span>
            </div>
            <div class="pull-right">
                <el-pagination layout="total,prev, pager, next" :total="totalCount" :page-size="params.pageSize" :current-page.sync='currentPage' @current-change='getPage' @size-change='getSize'>
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
import * as fetch from '../../../api/usermanage'
export default {
    data() {
        return {
            checkAll: false,
            isIndeterminate: true,
            loading: true,
            adminList: [],
            ids:'',//批量删除列表
            groupList: [],//会员组列表       
            params: {//接口参数
                pageNo: 1,
                pageSize: 20,
                queryUsername: '',//管理员名
                queryEmail:'',//邮箱
                queryDisabled:''
            },
            totalCount: 0,
            currentPage: 1,
            changePageSize: localStorage.getItem('PageSize'),
            disabled:true
        }
    },
    methods: {
        getuserGroupList() {//获取会员组
            fetch.getGroupList({ groupType: -1 })
                .then(res => {
                    //console.log(res);
                    this.groupList = res.body;
                })
        },
        getAdminList() {//获取管理员信息列表
            let params = this.params;
            fetch.getAdminList(params)
                .then(res => {
                    //console.log(res);
                    if (res.code == '100') {
                        this.adminList = res.body;
                        this.totalCount = res.totalCount;
                        this.loading = false;
                    } else {
                        this.loading = false;
                        this.$message.error(res.message);
                    }
                })
                .catch(res => {
                    this.loading = false;
                    this.$message.error('网络异常')
                })
        },
        addUser() {//添加管理员
            this.$router.push({
                path: '/adminadd',
                query: {
                    type: 'add',
                    id: 0
                }
            });
        },
        editUser(id) {//修改管理员
            this.$router.push({
                path: '/adminedit',
                query: {
                    type: 'edit',
                    id: id
                }
            });
        },
         deleteUser(id){//删除管理员
            this.ids=id;
             this.$confirm('您确定要删除管理员吗?', '警告', {type: 'warning'})
         .then(mes=>{
                fetch.deleteUserInfo({ ids:this.ids})
                .then(res => {
                    //console.log(res);
                     this.loading = false;
                     if(res.code=='100'){
                          this.$message.success('删除成功');
                          this.getAdminList();
                     }else{
                        this.$message.error(res.message); 
                     }
                })
                .catch(res => {
                this.loading = false;
                this.$message.error('网络异常')
                })
         }).catch(mes=>{})   
         }, 
        deleteUserAll() {//批量删除管理员
         this.$confirm('您确定要删除管理员吗?', '警告', {type: 'warning'})
         .then(mes=>{
                fetch.deleteUserInfo({ ids:this.ids})
                .then(res => {
                    //console.log(res);
                     this.loading = false;
                     if(res.code=='100'){
                          this.$message.success('删除成功');
                          this.getAdminList();
                     }else{
                        this.$message.error(res.message); 
                     }
                })
                .catch(res => {
                this.loading = false;
                this.$message.error('网络异常')
                })
         }).catch(mes=>{})
        },
        selectQuery(val) {//下拉条件搜索
            //console.log(val);
            this.getAdminList();
        },
        queryUserName(ev) {//input搜索
            this.loading = true;
            this.getAdminList();
        },
        getPage(val) {//获取当前页数
            //console.log(val);
            this.loading = true;
            this.params.pageNo = val;
            this.getAdminList();
        },
        getSize(val) {//分页
            this.loading = true;
            this.params.pageNo = val;
            this.getAdminList();
        },
        changeSize(event) {//跳页
            let val = event.target.value;
            if (val < 1) {
                localStorage.setItem('PageSize', 20); //处理异常大小
                val = 20;
            } else {
                localStorage.setItem('PageSize', val); //本地存储下每页条数
            }
            this.loading = true;
            this.params.pageSize = parseInt(val);
            this.params.pageNo = 1;
            this.currentPage = 1;
            this.getAdminList();
        },
        checkIds(res) {//选中当前的ids
            let ids = [];
            for (let i = 0; i < res.length; i++) {
                ids.push(res[i].id);
            }
            if (ids.length == 0) {
                this.ids = '';
                this.disabled=true;
            } else {
                this.ids = ids.join(',');
                this.disabled=false;
            }
        }
    },
    created: function() {
        let size = localStorage.getItem('PageSize');
        if (size != null) {
            this.params.pageSize = parseInt(size);//取本地存储的条目   
        } else {
            this.changePageSize = 20;
        }
        this.getuserGroupList();
        this.getAdminList();
    }
}
</script>

<style>

</style>
